﻿@{
    ViewBag.Title = "Informe de Tendencia Bloque - Múltiples Blancos Biologicos";
}
<script src="~/Scripts/ReportTrendBlockBB/Index.js"></script>
<link href="~/Content/Chart.css" rel="stylesheet" />
<script src="~/Scripts/Chart.js"></script>

<div class="button-group">
    @*<button class="btn btn-warning" onclick="CreaReporte()"><i class="fa fa-search"></i></button>*@
    <button class="btn btn-warning" onclick="CreaReporte()">Consultar</button>
</div>

<div class="clearfix"></div>
<br />

<div class="box box-primary">
    <div class="box-body">

        <div class="col-md-2">
            <label for="Semana">Semana Inicial: </label>
            @Html.DropDownList("ddlWeek", ViewData["listWeek"] as SelectList, "Seleccione", new { @class = "form-control select2", @style = "width:100%", @id = "WeekIni" })
        </div>

        <div class="col-md-2">
            <label for="Semana">Semana Final: </label>
            @Html.DropDownList("ddlWeek", ViewData["listWeek"] as SelectList, "Seleccione", new { @class = "form-control select2", @style = "width:100%", @id = "WeekFin" })
        </div>
        <div class="col-md-2">
            <label for="Semana">Finca: </label>
            @Html.DropDownList("BussinesUnitList", ViewData["BussinesUnitList"] as SelectList, new { @class = "form-control select2", @style = "width:100%", @id = "BusinessUnitID" })
        </div>

        <div class="col-md-2">
            <label for="Producto">Producto: </label>
            <select class="form-control" id="PlantProductID" name="PlantProductID">
                <option></option>
            </select>
        </div>

        <div class="col-md-4">
            <label for="Blanco biológico">Blanco biológico: </label>
            @Html.DropDownList("listaBT", ViewData["listaBT"] as SelectList, new { @class = "form-control select2", @multiple = "multiple", @style = "width:100%", @id = "PestID" })
        </div>

    </div>
</div>

<div class="box box-primary">
    <div class="box-body">
        <div id="graficas"></div>
    </div>
</div>
