﻿@using Globalization;
@using Resources;
@{
    var User = ViewBag.Users;
}

@if (Session["Name"] == null)
{
    Session["Name"] = "";
}

@{
    ViewBag.Title = Resources.Inicio;
    ViewBag.SubTitle = Resources.Bienvenido + " " + Session["Name"];
}


<script src="~/Scripts/Home/Index.js"></script>

@if(Convert.ToInt32(Session["RoleId"]) == 3)
{
    <div class="box box-success">
        <div class="box-header">
            Inicio Rápido
        </div>
        <div class="box-body">
            <a href="/AspersionPlan/AspersionPlanAdd">
                <div class="col-lg-4 col-xs-8">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3><i class="fa fa-plus"></i></h3>

                            <p>Crear Plan de aspersión</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-list"></i>
                        </div>
                    </div>
                </div>
            </a>

            <a href="/AspersionPlan/Index">
                <div class="col-lg-4 col-xs-8">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3><i class="fa fa-arrow-right"></i></h3>
                            <p>Mis Planes de aspersión</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-list-ol"></i>
                        </div>
                    </div>
                </div>
            </a>

            <a href="/AgrochemicalProducts/Index">
                <div class="col-lg-4 col-xs-8">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3><i class="fa fa-plus"></i></h3>
                            <p>Crear producto PPC</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-medkit"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
}

<form id="MyInformationForm">
    <div class="btn-group">
        <button class="btn btn-primary">
            <i class="fa fa-save"></i>
        </button>
    </div>
    <div class="clearfix"></div>
    <br />
    <div class="box box-success">
        <div class="box-header">
            <h5 class="text-bold">Informacion general</h5>
        </div>
        <div class="box-body">
            <div class="col-sm-4">
                <input type="hidden" id="UserId" value="@User.UserID" />
                <label for="Usuario">Usuario: </label>
                <input type="text" class="form-control" id="Login" required disabled value="@User.Login" />
            </div>

            <div class="col-sm-4">
                <label for="Nombres">Nombres: </label>
                <input type="text" class="form-control" id="Name" disabled value="@User.Name" />
            </div>

            <div class="col-sm-4">
                <label for="Apellidos">Apellidos: </label>
                <input type="text" class="form-control" id="LastName" disabled value="@User.LastName" />
            </div>

            <div class="col-sm-4">
                <label for="Email">Email: </label>
                <input type="text" class="form-control" id="Email" required value="@User.Email" />
            </div>

            <div class="col-sm-4">
                <label for="DocID">No. Documento: </label>
                <input type="text" class="form-control" id="DocID" required value="@User.DocID" />
            </div>

            <div class="col-sm-4">
                <label for="AreaId">Area: </label>
                @Html.DropDownList("AreaId", ViewData["listaA"] as SelectList, "Seleccione", new { @class = "form-control", @style = "width:100%", @id = "AreaId", @disabled = "disabled" })
            </div>

            <div class="col-sm-4">
                <label for="RoleId">Role: </label>
                @Html.DropDownList("RoleId", ViewData["listaR"] as SelectList, "Seleccione", new { @class = "form-control", @style = "width:100%", @id = "RoleId", @disabled = "disabled" })
            </div>

            <div class="col-sm-4">
                <label for="PrinterId">Impersora Para Etiquetas: </label>
                @*<input type="text" class="form-control" id="PrinterId" required value="@User.DocID" />*@
                <select id="PrinterId" class="form-control" disabled>
                    <option value="1">Datamax</option>
                    <option value="2">Zebra</option>
                </select>
            </div>

        </div>
    </div>
</form>

<form id="ChangepaswordForm">
    <div class="btn-group">
        <button class="btn btn-primary" data-offset="tooltip" data-placement="top" title="Cambiar Contraseña">
            <i class="fa fa-key"></i>
        </button>
    </div>
    <div class="clearfix"></div>
    <br />
    <div class="box box-success">
        <div class="box-header">
            <h5 class="text-bold">Cambiar Contraseña</h5>
        </div>
        <div class="box-body">
            <div class="col-sm-4">
                <label for="Pass">Contraseña Nueva: </label>
                <input type="password" class="form-control" id="Pass" required />
            </div>

            <div class="col-sm-4">
                <label for="Pass">Confirmar contraseña: </label>
                <input type="password" class="form-control" id="PassConfirm" required />
            </div>
            <div class="col-sm-1">
                <br />
                <p id="Match"></p>
            </div>

        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $("#PrinterId").val(@User.Printer);
    })
</script>