﻿@{
    ViewBag.Title = "Informe Dinámico de Erradicaciones";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.0.1/pivot.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.1.0/pivot.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.0.2/tips_data.min.js"></script>
<script src="~/Scripts/ErradicationReport/Index.js"></script>

<div class="btn-group">
    <button class="btn btn-warning" onclick="TraeData()"><i class="fa fa-search"></i></button>
    <button class="btn btn-success bg-olive-active" onclick="exportTableToExcel('pvtTable')"><i class="fa fa-file-excel-o"></i></button>
</div>

<div class="clearfix"></div>
<br />

<div class="box box-success">
    <div class="box-body">
        <div class="col-md-12 form-inline">

            <div class="col-md-3">
                <label for="Semana">Finca: </label>
                @Html.DropDownList("BussinesUnitList", ViewData["BussinesUnitList"] as SelectList, "Todas", new { @class = "form-control select2", @style = "width:100%", @id = "GreenHouseID" })
            </div>

            <div class="col-md-3">
                <label for="Semana">Fecha Siembra Inicial: </label>
                <input type="date" class="form-control" id="FechaInicial" name="FechaInicial"/>
            </div>

            <div class="col-md-3">
                <label for="Semana">Fecha Siembra Final: </label>
                <input type="date" class="form-control" id="FechaFinal" name="FechaFinal" />
            </div>

        </div>
    </div>
</div>

<div class="box box-success">
    <div class="box-body">
        <div id="PivotData" style="overflow:scroll; height:500px; width: 100%;"></div>

        <div id="TablaCompleta" style="display: block">

        </div>
    </div>
</div>