﻿@{
    ViewBag.Title = "Plan de Siembras";
}
<script src="~/Scripts/PlantingPlan/Index.js"></script>
<div class="box box-success">
    <div class="box-header">
        <h4>Cargar Excel</h4>
    </div>

    <div class="box-body">
        <input type="file" name="UploadFile" id="UploadFile"/>
        <br />
        <button class="btn btn-danger" onclick="Upload()"><i class="fa fa-upload"></i></button>
    </div>
</div>