﻿@using Resources;
@using Planner.Model;


@model Planner.Model.Planner_Template

@{
    ViewBag.Title = "Plan de Aspersión";
    ViewBag.Subtitle = "Agregar Nuevo registro";
}

<script src="~/Scripts/Aspersion/AspersionPlanAdd.js"></script>
@*<script type="text/javascript">
    $(document).ready(function () {
        var bootstrapTooltip = $.fn.tooltip.noConflict();
        $.fn.bstooltip = bootstrapTooltip;
        $(this).find("button").each(function () {
            $(this).bstooltip();
        })
    })
</script>*@

<form class="" id="form_AspersionPlan">
    @Html.Hidden("AspersionPlanID")
    <div class="btn-group">
        <a id="btnHome" name="btnHome" class="btn btn-warning waves-effect waves-light" onclick="BackToList()">
            <i class="fa fa-chevron-left"></i>
        </a>
    </div>

    <div class="clearfix"></div>
    <br />
    <div class="box box-success">
        <div class="box-body">
            <div class="col-sm-2">
                <label for="Name">Semana: </label>
                @Html.DropDownList("listWeek", ViewData["listWeek"] as SelectList, "Seleccione", new { @class = "form-control", @style = "width:100%", @id = "WeekID" })
            </div>

            <div class="col-sm-4 form-inline">
                <label class="label_title">Finca: </label><br />
                @Html.DropDownList("BussinesUnitList", ViewData["BussinesUnitList"] as SelectList, "Seleccione", new { @class = "form-control", @style = "width:100%", @id = "GreenHouseID" })
                <button class="btn btn-success btn-sm" id="bt_AspersionPlanAdd" data-toggle="tooltip" data-placement="top" title="Crear Plan"><i class="fa fa-plus"></i></button>
            </div>
        </div>
    </div>
</form>

<form class="" id="form_AspersionPlanDetail" style="display: none;">
    <div class="btn-group">
        <button class="btn btn-success" id="bt_AspersionPlanDetailAdd" data-toggle="tooltip" data-placement="top" title="Adicionar Producto" type="submit"><i class="fa fa-plus"></i></button>
    </div>
    <div class="clearfix"></div>
    <br />
    <div class="box box-success">
        <div class="box-body">
            <div class="col-md-4 form-inline">
                <label class="label_title">Producto: </label><br />
                @Html.DropDownList("PlanProductsList", ViewData["PlanProductsList"] as SelectList, "", new { @class = "form-control", @style = "width:100%", @id = "ProductID" })
            </div>

            <div class="col-md-2 form-inline">
                <label class="label_title">Bloque: </label><br />
                <select id="Block" name="Block" class="form-control" required>
                    <option>---</option>
                </select>
            </div>

            <div class="col-md-2 form-inline">
                <label class="label_title">Día: </label><br />
                <select id="DayNumber" name="DayNumber" class="form-control" required>
                    <option value="1">Lunes</option>
                    <option value="2">Martes</option>
                    <option value="3">Miércoles</option>
                    <option value="4">Jueves</option>
                    <option value="5">Viernes</option>
                    <option value="6">Sábado</option>
                    <option value="7">Domingo</option>
                </select>
            </div>

            <div class="col-md-4 form-inline">
                <label class="label_title">Aplicación: </label><br />
                @Html.DropDownList("aplyTypesList", ViewData["aplyTypesList"] as SelectList, new { @class = "form-control", @style = "width:100%", @id = "ApplyTypesID" })
            </div>

            <div class="clearfix"></div>

            <div class="col-md-4 form-inline">
                <label class="label_title">Forma: </label><br />
                @*@Html.DropDownList("FormsList", ViewData["FormsList"] as SelectList, new { @class = "form-control", @style = "width:100%", @id = "FormID" })*@
                <input type="text" class="form-control" id="FormsList" required />
            </div>

            <div class="col-md-2 form-inline">
                <label class="label_title">Orden de preparación: </label><br />
                <input type="text" class="form-control" id="PreparationOrder" required />
            </div>

            <div class="col-md-2 form-inline">
                <label class="label_title">Camas a programar: </label><br />
                <input type="text" class="form-control" id="BedNumber" required />
            </div>

            <div class="col-md-4 form-inline">
                <label class="label_title">PPC: </label><br />
                @Html.DropDownList("AgrochemicalProductList", ViewData["AgrochemicalProductList"] as SelectList, new { @class = "form-control", @style = "width:100%", @id = "AgrochemicalProductsID" })
            </div>

            <div class="clearfix"></div>

            <div class="col-md-2 form-inline">
                <label class="label_title">Litros por cama: </label>
                <input type="text" class="form-control" id="LiterPerBed" required />
            </div>

            <div class="col-md-2 form-inline">
                <label class="label_title">No. de asperjadores: </label>
                <input type="text" class="form-control" id="AsperjadorNumber" required />
            </div>

            <div class="col-md-2 form-inline">
                <label class="label_title">Volumen tanque: </label>
                <input type="text" class="form-control" id="TankVolume" required />
            </div>

            <div class="col-md-2 form-inline">
                <label class="label_title">Capacidad tarro: </label>
                @*<input type="text" class="form-control" id="CapacityJar" value="1000" readonly />*@
                @Html.TextBox("CapacityJar", "1000", new { @class = "form-control", @readonly = "readonly" })
            </div>

            <div class="col-md-4 form-inline">
                <label class="label_title">Observaciones: </label><br />
                @Html.TextArea("Observation", new { @class = "form-control", @id = "Observation" })
            </div>
            <!--Campos que se calculan automaticos-->
            <hr />

            <hr />
        </div>
        <div class="col-md-12 text-center text-green"><h4><b>Detalle</b></h4></div>
        <hr />
        <div class="col-md-12 form-group" id="AspersionPlanListDetail" style="width:100%; overflow:scroll;">
            <!--Tabla detalle-->
        </div>
    </div>
</form>

<div class="modal fade" id="modalMensajes" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="modalMensajesTitulo"></h4>
            </div>
            <div class="modal-body text-center" id="modalMensajesCuerpo">
            </div>
            <div class="modal-footer">
                <div id="modalMensajesFooter"></div>
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>