﻿@using Resources;
@using Planner.Model;


@model Planner.Model.Planner_Template

<script src="~/Scripts/Aspersion/AspersioPlanOutputTable.js"></script>
<script src="~/Scripts/jspdf.min.js"></script>
<script src="~/Scripts/jspdf.plugin.autotable.js"></script>
<script src="~/Scripts/DataTables/extensions/RowGroup/js/dataTables.rowGroup.js"></script>
<script src="~/Content/html2pdf/dist/html2pdf.min.js"></script>
<script src="~/Content/html2pdf/dist/html2pdf.bundle.min.js"></script>

@{
    ViewBag.Title = "Plan de aspersión";
    ViewBag.Subtitle = "Tabla de salida";
}

<div class="btn-group">
    <a id="btnHome" name="btnHome" class="btn btn-warning waves-effect waves-light" onclick="BackToList()">
        <i class="fa fa-chevron-left"></i>
    </a>
    <button class="btn btn-danger waves-effect waves-light" id="exportPdf" onclick="exportPdf();" data-toggle="tooltip" data-placement="top" title="Generar plan de aspersión">
        <i class="fa fa-file-pdf-o"></i>
    </button>
    <button class="btn btn-success waves-effect waves-light" id="exportPdf" onclick="ImprimeEtiquetas(@ViewBag.Id)" data-toggle="tooltip" data-placement="top" title="Imprimir todas las etiquetas">
        <i class="fa fa fa-print"></i>
    </button>
    @*<button class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Generar plan de aspersión"><i class="fa fa-bar-chart" aria-hidden="true"></i></button>*@
</div>
<div class="Planner_Separator"></div>
<div class="Planner_Separator"></div>
<form id="AspersionPlanOutputTableForm">
    <div class="box box-success">
        <div class="box-body">
            <input type="hidden" value="@ViewBag.Id" id="Id" />
            <div class="col-md-3">
                <label class="label_title">No. Semana: </label><br />
                @Html.DropDownList("WeekID", ViewData["listWeek"] as SelectList, "Todas", new { @class = "form-control", @style = "width:100%", @id = "WeekID" })
            </div>

            <div class="col-md-3">
                <label class="label_title">Día: </label><br />
                <select id="NumberDay" class="form-control">
                    <option value="">Todos</option>
                    <option value="1">LUNES</option>
                    <option value="2">MARTES</option>
                    <option value="3">MIERCOLES</option>
                    <option value="4">JUEVES</option>
                    <option value="5">VIERNES</option>
                    <option value="6">SABADO</option>
                    <option value="7">DOMINGO</option>
                </select>
            </div>

            <div class="col-sm-3">
                <label class="label_title">Supervisor: </label><br />
                @Html.DropDownList("AspersionEmployeesID", ViewData["AspersionEmployesList"] as SelectList, "Todos", new { @class = "form-control", @style = "width:100%", @id = "AspersionEmployeesID" })
            </div>
            <input type="hidden" id="Supervisor" />
            <div class="col-sm-3">
                <br />
                <button type="button" class="btn btn-primary" id="OutputTableFilter"><i class="fa fa-filter"></i></button>
            </div>
        </div>
    </div>
</form>
<div class="box box-success">
    <div class="box-body">
        @foreach (var ds in ViewBag.AspersionPlan)
        {
            <div class="col-lg-12 text-center">
                <h4 id="tituloOutput"><b>Plan de aspersión semana @ds.WeekID Finca: @ds.GreenHouseID<br />   <span id="supervisores"></span></b></h4>
            </div>
        }
        <div class="Planner_Separator"></div>
        <div style="overflow:scroll;height: 500px;">
            <table id="table_AspersionPlanOutput" class="table table-bordered table-condensed table-hover" style="font-size:10px">
                <thead>
                    <tr>
                        <th></th>
                        <th>Dia</th>
                        <th>Bl</th>
                        <th>Camas</th>
                        <th>Orden</th>
                        <th>PPC</th>
                        <th>I.Act</th>
                        <th>Dosis</th>
                        <th>CTox</th>
                        <th>BlBio</th>
                        <th>Unid</th>
                        <th>Rein</th>
                        <th>LxCama</th>
                        <th>Lanza</th>
                        <th>TxLado</th>
                        <th>TTotal</th>
                        <th>Obs</th>
                        <th>TotGr</th>
                        <th>TVol</th>
                        <th>AguaTan</th>
                        <th>AguaSal</th>
                        <th>#Tan</th>
                        <th>PPCXTGr</th>
                        <th>PPCXTSal</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var d in ViewBag.PlanProducts)
                    {
                        decimal total = 0;
                        <tr>
                            <td><button class="btn btn-xs" onclick="location='/AspersionPlan/imprimeEtiquetas/@ViewBag.Id?IdDetail=@d.AspersionPlanDetailID'"><i class="fa fa-print text-navy"></i></button></td>
                            <td>@d.DayNumber</td>
                            <td>@d.Block</td>
                            <td>@d.BedNumber</td>
                            <td>@d.PreparationOrder</td>
                            <td>@d.AgrochemicalProductsID</td>
                            <td>@d.ActiveIngredient</td>
                            <td>@Math.Round(d.dose, 2)</td>
                            <td>@d.ToxicologicalCategoryID</td>
                            <td>@d.PlagasID</td>
                            @*<td>@d.MeasurementUnitsID</td>*@
                            <td>GR</td>
                            <td>@d.ReentryHourID</td>
                            <td>@Math.Round(d.LiterPerBed) ltr.</td>
                            <td>@d.ReferenceSpear</td>
                            <td>@(Math.Ceiling(d.TimePerSide)) seg.</td>
                            <td>@(Math.Ceiling(((d.TimePerSide * 2 * d.BedNumber) / d.AsperjadorNumber) / 60)) min.</td>
                            <td>@d.Observation</td>
                            @if (d.Sald % d.TankVolume == 0)
                            {
                                d.Sald = 0;
                            }
                            else
                            {
                                d.Sald = Math.Round(Math.Abs(d.Sald), 1);
                            }
                            @{
                                decimal totGr = 0;
                                decimal GRxTr = 0;
                            }
                            @if (d.MeasurementUnitsID == "CC")
                            {
                                total = (d.dose * d.Density) * d.BedNumber * d.LiterPerBed;
                                <td>@(Math.Round(total, 1))</td>
                                totGr = Math.Round((d.TankVolume * d.dose * d.Density), 1);
                                GRxTr = Math.Round((d.Sald * d.dose * d.Density), 1);

                            }
                            else
                            {
                                total = d.dose * d.BedNumber * d.LiterPerBed;
                                <td>@(Math.Round(total, 1))</td>
                                totGr = Math.Round((d.TankVolume * d.dose), 1);
                                GRxTr = Math.Round((d.Sald * d.dose), 1);


                            }
                            <td>@(Math.Round(d.TotalVolume, 1))</td>
                            <td>@Math.Round(d.TankVolume, 1)</td>
                            @{var NumeTarros = (Math.Ceiling((d.BedNumber * d.LiterPerBed) / d.TankVolume));}
                            <td>@(d.Sald)</td>
                            <td>@NumeTarros</td>

                            @*@if(@totGr < d.TankVolume)
                                {
                                    <td>0</td>
                                    GRxTr = totGr;
                                }
                                else
                                {
                                    <td>@totGr</td>
                                }*@
                            <!--Total Gramaje-->
                            
                            <td>@Math.Round(d.dose * d.TankVolume * d.Density, 2)</td>
                            <!--Saldo-->
                            @*<td>@GRxTr</td>*@
                            @{var TotalPPCXTarro = Math.Round(d.dose * d.TankVolume * d.Density, 2);}
                            @if(TotalPPCXTarro > total)
                            {
                            <td>@Math.Round(total, 2)</td>
                            }
                            else
                            {
                                <td>@Math.Round(d.dose * d.Sald * d.Density, 2)</td>
                            }
                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Tabla de salida para la impresion del pdf-->
<div style="display: none">
    <div id="TablaDeSalidaPDF" style="width:122.5%">
        @{
        int cont = 0;
        string aobseAnt = "";
        foreach (var d in ViewBag.Titulos)
        {
            string ObserConcat = "<b id='BreackLine'>Observaciones: </b>";
            <div class="col-md-12 text-center">
                <span class="text-bold">Dia: @d.DayNumber Bloque: @d.Block</span>
            </div>
            
            <table class="table table-bordered table-condensed" id="TablePdf@(cont)" style="font-size:12px; border-color:#000; table-layout: fixed;">
                <thead>
                    <tr style="background: #38791d; color: #FFF">
                        <th style="max-width:10px!important">Camas</th>
                        <th style="max-width:10px!important">Orden</th>
                        <th>PPC</th>
                        <th>I.Act</th>
                        <th style="max-width:10px!important">Dosis</th>
                        <th style="max-width:10px!important">CTox</th>
                        <th>BlBio</th>
                        <th style="max-width:10px!important">Unid</th>
                        <th>Rein</th>
                        <th>LxCama</th>
                        <th>Lanza</th>
                        <th>TxLado</th>
                        <th>TTotal</th>
                        <th>TotGr</th>
                        <th>TVol</th>
                        <th>AguaTan</th>
                        <th>AguaSal</th>
                        <th style="max-width:10px!important">#Tan</th>
                        <th>PPCXTGr</th>
                        <th>PPCXTSal</th>
                    </tr>
                </thead>
                @{int conOb = 0;}
                @foreach (var e in ViewBag.Aplications)
                {
                    if (e.DiaID == d.DiaID && e.Block == d.Block)
                    {
                        <tr>
                            <td nowrap style="overflow: hidden;">@e.BedNumber</td>
                            <td nowrap style="overflow: hidden;">@e.PreparationOrder</td>
                            <td nowrap style="overflow: hidden;">@e.AgrochemicalProductsID</td>
                            <td nowrap style="overflow: hidden;">@e.ActiveIngredient</td>
                            <td nowrap style="overflow: hidden;">@Math.Round(e.dose, 2)</td>
                            <td nowrap style="overflow: hidden;">@e.ToxicologicalCategoryID</td>
                            <td nowrap style="overflow: hidden;">@e.PlagasID</td>
                            <td nowrap style="overflow: hidden;">GR</td>
                            <td nowrap style="overflow: hidden;">@e.ReentryHourID</td>
                            <td nowrap style="overflow: hidden;">@Math.Round(e.LiterPerBed) ltr.</td>
                            <td nowrap style="overflow: hidden;">@e.ReferenceSpear</td>
                            <td nowrap style="overflow: hidden;">@(Math.Ceiling(e.TimePerSide)) seg.</td>
                            <td nowrap style="overflow: hidden;">@(Math.Ceiling(((e.TimePerSide * 2 * e.BedNumber) / e.AsperjadorNumber) / 60)) min.</td>
                            @if (e.Sald % e.TankVolume == 0)
                            {
                                e.Sald = 0;
                            }
                            else
                            {
                                e.Sald = Math.Round(Math.Abs(e.Sald), 1);
                            }
                            @{
                                decimal totGr = 0;
                                decimal GRxTr = 0;
                            }
                            @if (e.MeasurementUnitsID == "CC")
                            {
                                var total = (e.dose * e.Density) * e.BedNumber * e.LiterPerBed;
                                <td>@(Math.Round(total, 1))</td>
                                totGr = Math.Round((e.TankVolume * e.dose * e.Density), 1);
                                GRxTr = Math.Round((e.Sald * e.dose * e.Density), 1);
                            }
                            else
                            {
                                var total = e.dose * e.BedNumber * e.LiterPerBed;
                                <td>@(Math.Round(total, 1))</td>
                                totGr = Math.Round((e.TankVolume * e.dose), 1);
                                GRxTr = Math.Round((e.Sald * e.dose), 1);

                            }
                            <td>@(Math.Round(e.TotalVolume, 1))</td>
                            <td>@Math.Round(e.TankVolume, 1)</td>
                            @{var NumeTarros = (Math.Ceiling((e.BedNumber * e.LiterPerBed) / e.TankVolume));}
                            <td>@(e.Sald)</td>
                            <td>@NumeTarros</td>
                            <!--Total Gramaje-->
                            <td>@Math.Round(e.dose * e.TankVolume * e.Density, 2)</td>
                            <!--Saldo-->
                            <td>@Math.Round(e.dose * e.Sald * e.Density, 2)</td>
                        </tr>
                        if (e.Observation != aobseAnt)
                        {
                            conOb++;
                            ObserConcat += "Aplicación" + conOb + ": " + e.Observation + "<br />";
                        }

                    }
                    aobseAnt = e.Observation;
                }
            </table>
            @Html.Raw(ObserConcat)

            if(Enumerable.Count(ViewBag.Beds) > 0)
            {
                var beds = "";
                foreach(var b in ViewBag.Beds)
                {
                    beds += b.Nombre + ", ";
                }
                beds = beds.TrimEnd(',');
                <p><b>Camas: </b>@beds</p>
            }
            <style>
                #TablePdf@(cont) > thead > tr > th, #TablePdf@(cont) > tbody > tr > th, #TablePdf@(cont) > tfoot > tr > th, #TablePdf@(cont) > thead > tr > td, #TablePdf@(cont) > tbody > tr > td, #TablePdf@(cont) > tfoot > tr > td {
                    border-color: #000 !important
                }
            </style>
            <script>
                $("#TablePdf" +@cont).DataTable({
                    "ordering": false,
                    "searching": false,
                    "bPaginate": false,
                    "bInfo": false,
                    "rowsGroup": [0, 7, 10, 13],
                });
            </script>
            cont++;
        }
        }
        <br />
        <span class="text-bold">Personal de aspersión</span>
        <table id="Personal" class="table table-bordered table-condensed table-hover" style="width: 100%"></table>
    </div>
</div>