﻿@using Resources;
@using Planner.Model;

@model Planner.Model.Planner_Template

@{
    ViewBag.Title = "Plan de aspersión por número de camas ";
    ViewBag.Subtitle = "Agregar Nuevo registro";

}
<script src="~/Scripts/Aspersion/AspersionPlanEdit.js"></script>

<form class="" id="form_AspersionPlan">
    @Html.Hidden("AspersionPlanID", (int)ViewBag.AspersionPlanID)
    <input type="hidden" id="idBloqueSeleccionado" name="idBloqueSeleccionado" />
    <div class="btn-group col-md-2">
        <a id="btnHome" name="btnHome" class="btn btn-warning waves-effect waves-light" onclick="BackToList()">
            <i class="fa fa-chevron-left"></i>
        </a>
        @*<a data-toggle="tooltip" data-placement="top" title="Versión Camas Por Plagas" id="Version" name="Version" class="btn btn-primary waves-effect waves-light" onclick="location='/AspersionPlan/AspersionPlanEditV2/@ViewBag.AspersionPlanID'">
                <i class="fa fa-reply-all" aria-hidden="true"></i>
            </a>*@
    </div>

    <div class="col-md-10 form-inline text-right">
        <label class="label_title">Cambiar de versión : </label>
        <select class="form-control" onchange="location='/AspersionPlan/AspersionPlanEditV2/@ViewBag.AspersionPlanID'">
            <option value="" selected>Plan de aspersión por número de camas</option>
            <option value="">Plan de aspersión validando registro fitosanitario</option>
        </select>
    </div>

    <div class="clearfix"></div>
    <br />
    <div class="box box-success">
        <div class="box-body">
            <div class="col-sm-2">
                <label for="Name">Semana: </label>
                @Html.DropDownList("WeekID", ViewData["listWeek"] as SelectList, "Seleccione", new { @class = "form-control ", @style = "width:100%", @id = "WeekID", @disabled = "disabled" })
            </div>

            <div class="col-sm-4 form-inline">
                <label class="label_title">Finca: </label><br />
                @Html.DropDownList("GreenHouseID", ViewData["BussinesUnitList"] as SelectList, "Seleccione", new { @class = "form-control", @style = "width:100%", @id = "GreenHouseID", @disabled = "disabled" })
                @*<button class="btn btn-success btn-sm" id="bt_AspersionPlanAdd" data-toggle="tooltip" data-placement="top" title="Crear Plan"><i class="fa fa-plus"></i></button>*@
            </div>
        </div>
    </div>
</form>

<form class="" id="form_AspersionPlanDetail">
    <div class="btn-group">
        <button class="btn btn-success" id="bt_AspersionPlanDetailAdd" data-toggle="tooltip" data-placement="top" title="Adicionar Productos" type="submit"><i class="fa fa-save"></i></button>
        <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Ver detalle" onclick="location='#TableAspersionPlan'"><i class="fa fa-eye"></i></button>
        <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Editar detalle Plan de aspersion" onclick="EditarPlan()"><i class="fa fa-edit"></i></button>
    </div>
    <div class="clearfix"></div>
    <br />
    <div class="box box-success">
        <div class="box-body">
            <div class="col-md-2 form-inline">
                <label class="label_title">Bloque: </label><br />
                <select id="Block" name="Block" class="form-control select2" required="required" onchange="ProductByBlock(this.value)">
                    <option>---</option>
                </select>
            </div>

            <div class="col-md-4 form-inline">
                <label class="label_title">Producto: </label><br />
                <select id="ProductID" name="ProductID" class="form-control select2" required="required"></select>

            </div>

            <div class="col-md-2 form-inline">
                <label class="label_title">Día: </label><br />
                <select id="DayNumber" name="DayNumber" class="form-control select2" required>
                    <option value="">Seleccione</option>
                    <option value="1">Lunes</option>
                    <option value="2">Martes</option>
                    <option value="3">Miércoles</option>
                    <option value="4">Jueves</option>
                    <option value="5">Viernes</option>
                    <option value="6">Sábado</option>
                    <option value="7">Domingo</option>
                </select>
            </div>

            <div class="col-md-3 form-inline">
                <label class="label_title">Aplicación: </label><br />
                @Html.DropDownList("aplyTypesList", ViewData["aplyTypesList"] as SelectList, "Seleccione", new { @class = "form-control select2", @style = "width:100%", @id = "ApplyTypesID", @required = "required" })
            </div>

            <div class="clearfix"></div>

            <div class="col-md-3 form-inline">
                <label class="label_title">Forma: </label><br />
                @Html.DropDownList("FormsList", ViewData["FormsList"] as SelectList, "Seleccione", new { @class = "form-control select2", @style = "width:100%", @id = "FormID", @required = "required" })
            </div>

            <div class="col-md-3 form-inline">
                <label class="label_title">Tercio: </label><br />
                @Html.DropDownList("ThirdID", ViewData["ThirdList"] as SelectList, "Seleccione", new { @class = "form-control select2", @style = "width:100%", @id = "ThirdID", @required = "required" })
            </div>

            <div class="col-md-3 form-inline">
                <label class="label_title">Dirección: </label><br />
                @Html.DropDownList("DirectionID", ViewData["DirectionList"] as SelectList, "Seleccione", new { @class = "form-control select2", @style = "width:100%", @id = "DirectionID", @required = "required" })
            </div>

            <input type="hidden" class="form-control" id="PreparationOrder" />

            <div class="col-md-2 form-inline">
                <label class="label_title">Camas a programar: </label><br />
                <input type="text" class="form-control" id="BedNumber" required />
            </div>

            <div class="col-md-4 form-inline">
                <label class="label_title">Supervisor: </label><br />
                @Html.DropDownList("AspersionEmployeesID", ViewData["AspersionEmployesList"] as SelectList, "Seleccione", new { @class = "form-control select2", @style = "width:80%", @id = "_AspersionEmployeesID", @required = "required" })
                <button type="button" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" title="Crear Usuarios Aspersión" onclick="ModalCrearSupervisor()"><i class="fa fa-plus"></i></button>
            </div>

            <div class="clearfix"></div>

            <div id="PPC_div">
                <br />
                @*<div class="callout callout-success">
                        <p>This is a green callout.</p>
                    </div>*@
                <div class="col-lg-12 col-md-12 col-sm-12" style="background:rgba(38, 154, 24, 0.26);">
                    <p class="text-green"><b>El sistema guardará hasta 6 PPC para un mismo producto - bloque - día. Por favor seleccione los que sean necesarios. El orden de preparación se guardará igual que los PPC.</b></p>
                </div>
                @for (int a = 0; a < 6; a++)
                {
                    <div class="col-md-2 form-inline">
                        <label class="label_title">PPC @(a + 1): </label><br />
                        @Html.DropDownList("AgrochemicalProductList", ViewData["AgrochemicalProductList"] as SelectList, "Seleccione", new { @class = "form-control select2", @style = "width:100%", @id = "AgrochemicalProductsID_" + @a })
                    </div>
                }
                <div class="clearfix"></div>
                <hr />
            </div>

            <div class="clearfix"></div>

            <div class="col-md-4 form-inline">
                <label class="label_title">Lanza: </label><br />
                @*<input type="text" class="form-control" id="TankVolume" required />*@
                @Html.DropDownList("ReferenceSpear", ViewData["ReferenceSpearList"] as SelectList, "Seleccione", new { @class = "form-control select2", @id = "ReferenceSpear", @style = "width:80%", @required = "required" })
                <button type="button" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" title="Crear Lanza" onclick="ModalCrearLanza()"><i class="fa fa-plus"></i></button>
            </div>

            <div class="col-md-2 form-inline">
                <label class="label_title">Litros por cama: </label>
                <input type="text" class="form-control" id="LiterPerBed" required />
            </div>

            <div class="col-md-2 form-inline">
                <label class="label_title">No. de asperjadores: </label>
                <input type="text" class="form-control" id="AsperjadorNumber" required />
            </div>

            <div class="col-md-2 form-inline">
                <label class="label_title">Volumen tanque: </label>
                @*<input type="text" class="form-control" id="TankVolume" required />*@
                @Html.DropDownList("TankVolume", ViewData["tankVolumeList"] as SelectList, "Seleccione", new { @class = "form-control select2", @id = "TankVolume", @required = "required" })
            </div>

            <div class="col-md-2 form-inline">
                <label class="label_title">Capacidad tarro: </label>
                <input type="text" class="form-control" id="CapacityJar" required value="1000" readonly />
            </div>

            <div class="col-md-4 form-inline">
                <label class="label_title">Observaciones: </label><br />
                @Html.TextArea("Observation", new { @class = "form-control", @id = "Observation" })
            </div>
            <div class="col-sm-8 col-lg-8 col-md-8">
                <br />
                <button class="btn btn-success" id="bt_AspersionPlanDetailAdd" data-toggle="tooltip" data-placement="top" title="" type="submit" data-original-title="Adicionar Productos"><i class="fa fa-save"></i></button>
            </div>
            <!--Campos que se calculan automaticos-->
            <hr />

            <hr />
        </div>
    </div>
</form>

<div class="box box-success">
    <div class="box-header text-center">
        <h4><b>Detalle plan de aspersión</b></h4>
    </div>
    <div class="box-body">
        <div class="col-md-12 form-group " id="AspersionPlanListDetail" style="width:100%; overflow:scroll;">
            <!--Tabla detalle-->
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modalMensajes">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalMensajesTitulo"></h4>
            </div>
            <div class="modal-body" id="modalMensajesCuerpo"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="GuardarObservacion()">Guardar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div>
</div>

<div class="modal fade fullscreen-modal" tabindex="-1" role="dialog" id="modalFormularios">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalFormulariosTitulo"></h4>
            </div>
            <div class="modal-body" id="modalFormulariosCuerpo">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar Acción</button>
                @*<button type="button" class="btn btn-primary" onclick="GuardarObservacion()">Guardar</button>*@
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->