﻿<table id="TableAspersionPlan" class=" table table-bordered table-striped table-condensed table-hover table-responsive nowrap">
    <thead>
        <tr>
            <th>ID</th>
            <th>Producto</th>
            <th>Bloque</th>
            <th>Día</th>
            <th>Aplicación</th>
            <th>Forma</th>
            <th>Tercio</th>
            <th>Dirección</th>
            <th>Orden</th>
            <th>Producto Agro.</th>
            <th>No. Camas</th>
            <th>Litros*Cama</th>
            <th>Lanza</th>
            <th>No. Asper.</th>
            <th>Observaciones</th>
            <th>Vol. Tanque</th>
            <th>Capa.Tarro</th>
            <th>Estado</th>
            <th>Edicion</th>
        </tr>
    </thead>
    <tbody>
        @{ var i = 0;}
        @{ var af = 0;}
        @foreach (var template in ViewBag.datos)
        {
            <tr>
                <td>@template.AspersionPlanDetailID</td>
                <td>@template.ProductID</td>
                <td>@template.Block</td>
                @{
                    if (template.DayNumber == 7)
                    {
                        template.DayNumber = 0;
                    }
                    var DayName = Enum.GetName(typeof(DayOfWeek), template.DayNumber);
                    switch (DayName)
                    {
                        case "Monday":
                            DayName = "Lunes";
                            break;
                        case "Tuesday":
                            DayName = "Martes";
                            break;
                        case "Wednesday":
                            DayName = "Miércoles";
                            break;
                        case "Thursday":
                            DayName = "Jueves";
                            break;
                        case "Friday":
                            DayName = "Viernes";
                            break;
                        case "Saturday":
                            DayName = "Sábado";
                            break;
                        case "Sunday":
                            DayName = "Domingo";
                            break;
                    }
                }
                <td>@DayName</td>
                @*<td>@template.DayNumber</td>*@
                <td>@template.ApplyTypesID</td>
                <td>@template.FormID</td>
                <td>@template.ThirdID</td>
                <td>@template.DirectionID</td>
                <td>@template.PreparationOrder</td>
                <td>@template.AgrochemicalProductsID</td>
                <td>@template.BedNumber</td>
                <td>@Math.Round(template.LiterPerBed, 1)</td>
                <td>@template.ReferenceSpear</td>
                <td>@template.AsperjadorNumber</td>
                <td>@template.Observation</td>
                <td>@Math.Round(template.TankVolume, 1)</td>
                <td>@Math.Round(template.CapacityJar, 1)</td>

                @if (template.ActiveFlag == true)

                {
                    af = 1;
                    <td class="text-success text-bold">Activo</td>
                }
                else
                {
                    af = 0;
                    <td class="text-danger text-bold">Inactivo</td>
                }

                <td class="actions">
                    @if (template.ActiveFlag == true)
                    {
                        <button class="btn btn-xs" onclick="cambiaEstadoAcepta('@af', @template.AspersionPlanDetailID);" data-toggle="tooltip" data-placement="top" title="Desactivar Plan"><i class="fa fa-toggle-on text-success"></i></button>
                    }
                    else
                    {
                        <button class="btn btn-xs" onclick="cambiaEstadoAcepta('@af', @template.AspersionPlanDetailID);" data-toggle="tooltip" data-placement="top" title="Activar Plan"><i class="fa fa-toggle-off text-danger"></i></button>
                    }
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>
<script type="text/javascript">
    var table = $("#TableAspersionPlan").dataTable();
</script>


