﻿@{
    ViewBag.Title = "Editar Plan";
}

<script src="~/Scripts/Aspersion/AspersionPlanEditDetail.js"></script>

<div class="btn-group">
    <a id="btnHome" name="btnHome" class="btn btn-warning waves-effect waves-light" onclick="BackToList()">
        <i class="fa fa-chevron-left"></i>
    </a>
    <button class="btn btn-success" id="bt_AspersionPlanDetailAdd" data-toggle="tooltip" data-placement="top" title="Filtrar" type="submit"><i class="fa fa-search"></i></button>
</div>
<div class="col-sm-12"><br/></div>
<div class="box box-success">
    <div class="box-body">
        <input type="hidden" id="Id" value="@(ViewBag.AspersionPlanId)"/>
        <div class="col-md-3 form-inline">
            <label class="label_title">Día: </label><br />
            <select id="DayNumber" name="DayNumber" class="form-control select2" required>
                <option value="" selected="">Todos</option>
                <option value="1">Lunes</option>
                <option value="2">Martes</option>
                <option value="3">Miércoles</option>
                <option value="4">Jueves</option>
                <option value="5">Viernes</option>
                <option value="6">Sábado</option>
                <option value="7">Domingo</option>
            </select>
        </div>

        <div class="col-md-3 form-inline">
            <label class="label_title">Bloque: </label><br />
            @Html.DropDownList("BlockIDs", ViewData["BlockList"] as SelectList, "Todos", new { @class = "form-control select2", @style = "width:100%", @id = "BlockIDs", @required = "required" })
        </div>

        <div class="col-md-3 form-inline">
            <label class="label_title">Producto: </label><br />
            <select id="ProductID" name="ProductID" class="form-control select2" required="required"></select>
        </div>
    </div>
</div>

<div class="box box-success">
    <div class="box-body">
        <div id="CargaTabla" style="overflow: scroll; width: 100%"></div>
    </div>
</div>