﻿@using Resources;
@using Planner.Model;


@model Planner.Model.Planner_Template
<script src="~/Scripts/Aspersion/AspersionPlan.js"></script>
@{
    ViewBag.Title = "Plan de Aspersión";
    ViewBag.Subtitle = "Listado de planes por semana y finca";
}
<div class="btn-group">
    <a id="btnCreate" name="btnCreate" class="btn btn-success waves-effect waves-light">
        <i class="fa fa-plus"></i>
    </a>
</div>
<div class="Planner_Separator"></div>
<div class="box box-success">
    <div class="box-body">

        <div class="col-md-12 form-group">
            <table id="table_AspersionPlan" class="frozen_alert table table-bordered table-striped table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Id.</th>
                        <th>Semana</th>
                        <th>Finca</th>
                        <th>Estado</th>
                        <th>Fecha</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ds in ViewBag.datos)
                    {
                        <tr>
                            <td>@ds.AspersionPlanID</td>
                            <td>@ds.WeekID</td>
                            <td>@ds.GreenHouseID</td>
                            @{ var af = 0;}
                            @if (ds.ActiveFlag == true)
                            {
                                af = 1;
                                <td class="text-success text-bold">Activo</td>
                            }
                            else
                            {
                                af = 0;
                                <td class="text-danger text-bold">Inactivo</td>
                            }
                            <td>@ds.DateInsert</td>
                            <td class="actions">
                                <button class="btn btn-xs" onclick="location='@Url.Action("AspersionPlanEditV2", "AspersionPlan", new { id = ds.AspersionPlanID })'" data-toggle="tooltip" data-placement="top" title="Editar Plan"><i class="fa fa-pencil text-primary"></i></button>

                                @if (ds.ActiveFlag == true)
                                {
                                    <button class="btn btn-xs" onclick="CambiaEstado(@af, @ds.AspersionPlanID);" data-toggle="tooltip" data-placement="top" title="Desactivar Plan"><i class="fa fa-toggle-on text-success"></i></button>
                                }
                                else
                                {
                                    <button class="btn btn-xs" onclick="CambiaEstado(@af, @ds.AspersionPlanID);" data-toggle="tooltip" data-placement="top" title="Activar Plan"><i class="fa fa-toggle-off text-danger"></i></button>
                                }

                                <button class="btn btn-xs" onclick="location='@Url.Action("AspersioPlanOutputTable", "AspersionPlan", new { id = ds.AspersionPlanID })'" data-toggle="tooltip" data-placement="top" title="Visualizar plan de aspersión"><i class="fa fa-print text-navy"></i></button>

                                <button class="btn btn-xs" onclick="location='@Url.Action("EditarPlan", "AspersionPlan", new { id = ds.AspersionPlanID })'" data-toggle="tooltip" data-placement="top" title="Editar detalle Plan de aspersión"><i class="fa fa-edit text-danger"></i></button>

                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modalMensajes">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalMensajesTitulo"></h4>
            </div>
            <div class="modal-body" id="modalMensajesCuerpo"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="GuardarObservacion()">Guardar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">$("#table_AspersionPlan").DataTable();</script>