﻿@using Resources;

@*@model Planner.Model.SIEMBRAS_PLANNEREntities*@

@{
    ViewBag.Title = Resources.Tareas;
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/SummaryBQT/SummaryBQT.js"></script>


<div class="btn-group">
    <button id="btnPrintLabel" name="btnPrintLabel" class="btn btn-warning waves-effect waves-light" onclick="onClick()">
        <i class="fa fa-search"></i>
    </button>
    <button id="dataExport" name="dataSensor" class="btn btn-success waves-effect waves-light">
        <i class="fa fa-file-excel-o"></i>
    </button>
</div>
<div class="Planner_Separator">
</div>


<div class="box box-success">
    <div class="box-body">
        <div class="col-xs-12 col-sm-12 col-md-2">
            <label for="dateInitial">@Resources.FechaInicial</label>
            @Html.TextBox("startDate", null, new { @class = "form-control", @id = "startDate" })
        </div>
    </div>
</div>

<div class="box box-success">
    <div class="box-body">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="form-group">
                @Html.Partial("SummaryBQT_List")
            </div>
        </div>
     </div>
</div>