﻿@using Resources;



<div id="resultsLabelPrint">
    <table id="tableLabelPrint" class="frozen_alert table table-bordered table-striped table-condensed table-hover ">
        <thead>
            <tr>
                <th class="text-center">Empleado</th>
                <th class="text-center">Hora Inicio</th>
                <th class="text-center">Hora Fin</th>
                <th class="text-center">Cant. Tallos</th>
                <th class="text-center">Tiempo</th>
                <th class="text-center">Promedio TxH</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var template in ViewBag.SummaryBQT_List)
            {
                <tr>
                    <td>@template.Empleado</td>
                    <td>@template.HInicialDefinitivo</td>
                    <td>@template.HFinalDefinitivo</td>
                    <td>@template.CantidadTallo</td>
                    <td>@template.Horas</td>
                    <td>@template.Rendimiento</td>
                </tr>
            }
        </tbody>
    </table>
</div>




