﻿@using Resources;

<div id="Planner_TaskDataTable" class="form-group col-lg-12">
    <div id="resultsPlanner_Task">
        <table id="tablePlanner_Task" class="frozen_alert table table-bordered table-striped table-condensed table-hover ">
            <thead>
                <tr>
                    <th class="text-center">@Resources.Finca</th>
                    <th class="text-center">@Resources.Bloque</th>
                    <th class="text-center">@Resources.Producto</th>
                    <th class="text-center">BxP</th>
                    <th class="text-center">@Resources.BlancoBiologico</th>
                    <th class="text-center">Umbral</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center">Tendencia</th>
                </tr>
            </thead>
            <tbody>
            <tbody>
                @foreach (var template in ViewBag.GeneralTrendList)
                {
                <tr>
                    <td>@template.UnidadNegocio</td>
                    <td>@template.Plagas</td>
                    <td>@template.Producto</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

