﻿@using Resources;

@{
    ViewBag.Title = "Informe de Bloques que Exceden los Umbrales";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.0.1/pivot.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.1.0/pivot.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.0.2/tips_data.min.js"></script>


<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>

<script src="~/Scripts/GeneralTrend/GeneralTrend.js"></script>
<!--,Inclusion de librerias-->
<div class="btn-group">
    @*<button id="btnSearch" name="btnSearch" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top" title="@Resources.Buscar" onclick='Search()'>
        <i class="fa fa-search"></i>
    </button>*@
    
    <button id="btnSearch" name="btnSearch" class="btn btn-warning btn-sm" onclick='Search()'>
        <i class="fa fa-list-alt"></i> Visor Dinámico
    </button>
    <button id="btnGraphic" class="btn btn-danger btn-sm"><i class="fa fa-line-chart" aria-hidden="true"></i> Visualizar Gráficas</button>
</div>

<div class="clearfix"></div>
<br />

<div class="box box-success">
    <div class="box-header">
        <div class="col-md-2">
            <label for="Semana">Semana Inicial: </label>
            @Html.DropDownList("ddlWeek", ViewData["listWeek"] as SelectList, "Seleccione", new { @class = "form-control select2", @style = "width:100%", @id = "WeekIDInic" })
        </div>

        <div class="col-md-2">
            <label for="Semana">Semana Final: </label>
            @Html.DropDownList("ddlWeek", ViewData["listWeek"] as SelectList, "Seleccione", new { @class = "form-control select2", @style = "width:100%", @id = "WeekIDFina" })
        </div>

        <div class="col-sm-2 col-lg-2 col-md-2">
            <label for="Finca">Finca: </label>
            @Html.DropDownList("BusinessUnitID", ViewData["BussinesUnitList"] as SelectList, "TODOS", new { @class = "form-control select2", @style = "width:100%", @id = "BusinessUnitID" })
        </div>

        <div class="col-sm-2 col-lg-2 col-md-2">
            <label for="Producto">Producto: </label>
            @Html.DropDownList("ProductID", ViewData["productList"] as SelectList, "TODOS", new { @class = "form-control select2", @style = "width:100%", @id = "ProductID" })
        </div>
        <div class="clearfix"></div>
        <br />
    </div>
</div>

<!-- Pintar pivot table-->
<div class="box box-success" id="VisorDinamico">
    <div class="box-header">
        <h5 class="text-bold">Visor Dinámico</h5>
    </div>
    <div class="box-body">
        <div id="pivDynamic" style="overflow:scroll;width:100%; height:600px"></div>
    </div>
</div>

<!-- Pintar Graficas-->
<div class="box box-success" id="Graficas">
    <div class="box-header">
        <h5 class="text-bold">Gráficas</h5>
    </div>
    <div class="box-body">
        <div id="pivDynamic" style="overflow:scroll;width:100%; height:600px"></div>
    </div>
</div>

@*<div class="box-group" id="accordion">
    <div class="panel box box-primary">
        <div class="box-header with-border">
            <h4 class="box-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    Visor Dinámico
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="box-body">
                <div id="pivDynamic" style="overflow:scroll;width:100%; height:600px"></div>
            </div>
        </div>
    </div>
</div>*@