﻿@using Resources;
@using System.Globalization;

<script src="~/Scripts/Spread/ProductParameterList.js"></script>

<div id="ProductParameterDataTable" class="form-group">
    <div id="resultsProductParameter" style="width:100%">
        <table id="tableProductParameter" class="frozen_alert table table-bordered table-striped table-condensed table-hover ">
            <thead>
                <tr>
                    <th class="text-center">@Resources.Id</th>
                    <th class="text-center">@Resources.Producto</th>
                    <th class="text-center">@Resources.FaseDePropagacion</th>
                    <th class="text-center">@Resources.DiasDeEnraizamiento</th>
                    <th class="text-center">@Resources.Densidad</th>
                    <th class="text-center">@Resources.FactorDePerdidaDePlantas</th>
                    <th class="text-center">@Resources.DiasEnCuartoFrio</th>
                    <th>@Resources.Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var parameter in ViewBag.ProductParameterList)
                {
                <tr>
                    <td>@parameter.ProductParametersID</td>
                    <td>@parameter.ProductName</td>
                    <td>@parameter.SpreadPhaseName</td>
                    <td>@parameter.RootingDays</td>
                    <td>@parameter.Density</td>
                    <td>@parameter.MissedPlantsFactor</td>
                    <td>@parameter.CoolRoomDays</td>
                    <td class="actions">
                        <div class="btn-group">
                            <button class="btn btn-xs" type="button" data-toggle="tooltip" data-placement="top" title="@Resources.Editar" onclick="location='/ProductParameter/Edit?ProductParametersID=@parameter.ProductParametersID'">
                                <i class="fa fa-pencil text-blue"></i>
                            </button>
                            <button class="btn btn-xs" type="button" data-toggle="tooltip" data-placement="top" title="@Resources.Borrar" onclick="location='/ProductParameter/Delete?ProductParametersID=@parameter.ProductParametersID'">
                                <i class="fa fa-trash-o text-danger"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
