﻿@using Resources;

@{
    ViewBag.Title = Resources.ParametrosDePropagacionDelProducto + " - " + Resources.Adicionar;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Spread/ProductParameter.js"></script>

<div class="btn-group">
    <button id="btnAdd" name="btnAdd" class="btn btn-success waves-effect waves-light" ">
        <i class="fa fa-plus"></i>
    </button>
    <button id="btnExcel" name="btnExcel" class="btn btn-success waves-effect waves-light">
        <i class="fa fa-file-excel-o"></i>
    </button>
</div>
<div class="Planner_Separator"></div>
<div class="box box-success">
    <div class="box-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                @Html.Partial("ProductParameterList")
            </div>
        </div>
    </div>
</div>
