﻿@using Resources;



<div id="resultsDailyFarmPerformance">
    <table id="tableDailyFarmPerformance" class="frozen_alert table table-bordered table-striped table-condensed table-hover ">
        <thead>
            <tr>
                <th class="text-center">Fecha Lectura</th>
                <th class="text-center">Ingresadas</th>
                <th class="text-center">Rendimientos</th>
                <th class="text-center">Nacional</th>
                <th class="text-center">Novedades</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var template in ViewBag.DailyFarmPerformance_List)
            {
                <tr>
                    <td>@template.Fecha</td>
                    <td>@template.IngresoXP</td>
                    <td>@template.CantidadRendimientos</td>
                    <td>@template.CantidadNacional</td>
                    <td>@template.CantidadNovedades</td>
                </tr>
            }
        </tbody>
    </table>
</div>


