﻿@using Resources;

@{
    ViewBag.Title = Resources.EtiquetasDeCajas;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/DataTables/media/css/dataTables.jqueryui.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/extensions/FixedHeader/css/fixedHeader.dataTables.min.css" rel="stylesheet" />

<link href="~/Content/dataTables.checkboxes.css" rel="stylesheet" />
<script src="~/Scripts/dataTables.checkboxes.min.js"></script>

<script src="~/Scripts/Orders/BoxLabel.js"></script>

<div class="btn-group">
    <button id="btnDownload" name="btnDownload" class="btn btn-primary waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.DescargarArchivo">
        <i class="fa fa-download"></i>
    </button>
</div>
<div class="Planner_Separator">
</div>

<div class="box box-success">
    <div class="box-body">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="col-xs-12 col-sm-2 col-md-2">
                <label for="cmbTipoCarga">@Resources.Fecha</label>
                <div class="controls">
                    @Html.DropDownList("cmbTipoCarga", ViewData["lstTipoCarga"] as SelectList, null, new { @class = "form-control", @style = "width:100%; max-width:100%" })
                </div>
            </div>

            <div class="col-xs-12 col-sm-2 col-md-2">
                <label for="endDate">@Resources.Desde</label>
                @Html.TextBox("startDate", null, new { @class = "form-control", @id = "startDate" })
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2">
                <label for="endDate">@Resources.Hasta</label>
                @Html.TextBox("endDate", null, new { @class = "form-control", @id = "endDate" })
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2">
                <label for="cmbOrders">@Resources.Orden</label>
                @Html.TextBox("Order", null, new { @class = "form-control", @id = "Order" })
            </div>

            <div class="clearfix"></div>

            <div class="col-xs-12 col-sm-4 col-md-4">
                <label for="cmbOrders">@Resources.NumeroDeOrden</label>
                <div class="controls">
                    <div class="input-group input-group-sm">
                        <span class="input-group-btn">
                            <button id="btnRefresh" name="btnRefresh" class="btn btn-warning waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.ActualizarOrdenes" onclick="Refresh()">
                                <i class="fa fa-refresh"></i>
                            </button>
                        </span>
                        @Html.DropDownList("cmbOrdersToPrint", ViewData["lstOrdersToPrint"] as SelectList, null, new { @class = "form-control", @style = "width:100%; max-width:100%" })
                        <span class="input-group-btn">
                            <button id="btnSearch" name="btnSearch" class="btn btn-warning waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.Buscar" onclick="LoadGrid()">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2">
                <label for="cmbOrders">@Resources.TipoDeEtiqueta</label>
                <div class="controls">
                    @Html.DropDownList("cmbLabelType", ViewData["lstLabelType"] as SelectList, null, new { @class = "form-control", @style = "width:100%; max-width:100%" })
                </div>
            </div>

            <div class="col-xs-12 col-sm-2 col-md-2">
                <label for="cmbOrders">@Resources.Impresora</label>
                <div class="controls">
                    @Html.DropDownList("cmbPrinter", ViewData["lstPrinter"] as SelectList, null, new { @class = "form-control", @style = "width:100%; max-width:100%" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="box box-success">
    <div class="box-body">
        <div id="BoxLabelDataTable" class="form-group">
            <div id="resultsBoxLabel">
                <table id="tableBoxLabel" class="table table-bordered table-striped table-condensed table-hover" style="font-size: 12px;">
                    <thead>
                        <tr>
                            <th></th>
                            <th>@Resources.Producto</th>
                            <th>@Resources.Empaque</th>
                            <th>@Resources.Caja</th>
                            <th>@Resources.CantidadDeCajas</th>
                            <th>@Resources.SecuenciaDesde</th>
                            <th>@Resources.EtiquetasAImprimir</th>
                            <th>@Resources.ColorEtiqueta</th>
                            <th>@Resources.DMX</th>
                            <th>@Resources.IdDetalle</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>@Resources.Producto</th>
                            <th>@Resources.Empaque</th>
                            <th>@Resources.Caja</th>
                            <th>@Resources.CantidadDeCajas</th>
                            <th>@Resources.SecuenciaDesde</th>
                            <th>@Resources.EtiquetasAImprimir</th>
                            <th>@Resources.ColorEtiqueta</th>
                            <th>@Resources.DMX</th>
                            <th>@Resources.IdDetalle</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
