﻿@using Resources;

<div id="ConfirmDataTable" class="form-group">
    <div id="resultsConfirm">
        <table id="tableConfirm" class="table table-bordered table-striped table-condensed table-hover" style="font-size: 12px;">
            <thead>
                <tr>
                    <th></th>
                    <th>@Resources.Acciones</th>
                    <th>@Resources.OrdenDelCliente</th>
                    <th>@Resources.OrdenEnFinca</th>
                    <th>@Resources.NumeroPO</th>
                    <th>@Resources.Cultivo</th>
                    <th>@Resources.Cliente</th>
                    <th>@Resources.GrupoDelCliente</th>
                    <th>@Resources.Cajas</th>
                    <th>@Resources.Temporada</th>
                    <th>@Resources.FechaDeEnvioDelCultivo</th>
                    <th>@Resources.FechaDeEnvioDeMiami</th>
                    <th>@Resources.FechaDeEntrega</th>
                    <th>@Resources.EstadoOrden</th>
                    <th>@Resources.EstadoEnFinca</th>
                    <th>@Resources.Tipo</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th>@Resources.Acciones</th>
                    <th>@Resources.OrdenDelCliente</th>
                    <th>@Resources.OrdenEnFinca</th>
                    <th>@Resources.NumeroPO</th>
                    <th>@Resources.Cultivo</th>
                    <th>@Resources.Cliente</th>
                    <th>@Resources.GrupoDelCliente</th>
                    <th>@Resources.Cajas</th>
                    <th>@Resources.Temporada</th>
                    <th>@Resources.FechaDeEnvioDelCultivo</th>
                    <th>@Resources.FechaDeEnvioDeMiami</th>
                    <th>@Resources.FechaDeEntrega</th>
                    <th>@Resources.EstadoOrden</th>
                    <th>@Resources.EstadoEnFinca</th>
                    <th>@Resources.Tipo</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
