﻿@using Resources;

@{
    ViewBag.Title = Resources.ConfirmarOrdenes;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/DataTables/media/css/dataTables.jqueryui.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/extensions/FixedHeader/css/fixedHeader.dataTables.min.css" rel="stylesheet" />

<link href="~/Content/dataTables.checkboxes.css" rel="stylesheet" />
<script src="~/Scripts/dataTables.checkboxes.min.js"></script>

<script src="~/Scripts/Orders/Confirm.js"></script>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>@Html.Label("0", null, new {@id = "txtPending" })</h3>
                <p>@Resources.OrdenesPendientesDeConfirmar</p>
            </div>
            <div class="icon">
                <i class="fa fa-square-o"></i>
            </div>
            <a class="small-box-footer" id="btnPending" href="#">
                @Resources.Ver <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="small-box bg-red">
            <div class="inner">
                <h3>@Html.Label("0", null, new { @id = "txtToCancel" })</h3>
                <p>@Resources.OrdenesPendientesDeCancelar</p>
            </div>
            <div class="icon">
                <i class="fa fa-window-close-o"></i>
            </div>
            <a class="small-box-footer" id="btnToCancel" href="#">
                @Resources.Ver <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
</div>

<div id="divConfirm">
    <div class="btn-group">
        <button id="btnSearch" name="btnSearch" class="btn btn-warning waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.Buscar" onclick="LoadGrid()">
            <i class="fa fa-search"></i>
        </button>
        <button id="btnFirmAtFarm" name="btnFirmAtFarm" class="btn btn-info waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.ConfirmarOrdenes">
            <i class="fa fa-pencil"></i>
        </button>
        <button id="btnDownload" name="btnDownload" class="btn btn-primary waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.DescargarArchivo">
            <i class="fa fa-download"></i>
        </button>
    </div>
    <div class="Planner_Separator">
    </div>

    <div class="box box-success">
        <div class="box-body">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <label for="cmbTipoCarga">@Resources.Fecha</label>
                    <div class="controls">
                        @Html.DropDownList("cmbTipoCarga", ViewData["lstTipoCarga"] as SelectList, null, new { @class = "form-control", @style = "width:100%; max-width:100%" })
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <label for="endDate">@Resources.FechaInicial</label>
                    @Html.TextBox("startDate", null, new { @class = "form-control", @id = "startDate" })
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <label for="endDate">@Resources.FechaFinal</label>
                    @Html.TextBox("endDate", null, new { @class = "form-control", @id = "endDate" })
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <label for="cmbOrders">@Resources.Orden</label>
                    <div class="controls">
                        @Html.DropDownList("cmbOrders", ViewData["lstOrders"] as SelectList, null, new { @class = "form-control", @style = "width:100%; max-width:100%" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box box-success">
        <div class="box-body">
            @Html.Partial("ConfirmList")
        </div>
    </div>
</div>

<div id="divPending" name="divPending">
    <div class="box box-warning">
        <div class="box-header bg-yellow">
            <h2 class="modal-title">@Resources.OrdenesPendientesDeConfirmar</h2>
            <div class="box-tools pull-right">
                <button id="btnDivPending" type="button" class="btn btn-box-tool"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div id="PendingDataTable" class="form-group">
                    <div id="resultsPending">
                        <table id="tablePending" class="table table-bordered table-striped table-condensed table-hover" style="font-size: 12px;">
                            <thead>
                                <tr>
                                    <th>@Resources.OrdenDelCliente</th>
                                    <th>@Resources.OrdenEnFinca</th>
                                    <th>@Resources.NumeroPO</th>
                                    <th>@Resources.Finca</th>
                                    <th>@Resources.Cliente</th>
                                    <th>@Resources.GrupoDelCliente</th>
                                    <th>@Resources.Cajas</th>
                                    <th>@Resources.FechaDeEnvioDelCultivo</th>
                                    <th>@Resources.FechaDeEnvioDeMiami</th>
                                    <th>@Resources.Estado</th>
                                    <th>@Resources.EstadoEnFinca</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divToCancel" name="divToCancel">
    <div class="box box-danger">
        <div class="box-header bg-red">
            <h2 class="modal-title">@Resources.OrdenesPendientesDeCancelar</h2>
            <div class="box-tools pull-right">
                <button id="btnDivToCancel" type="button" class="btn btn-box-tool"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div id="ToCancelDataTable" class="form-group">
                    <div id="resultsToCancel">
                        <table id="tableToCancel" class="table table-bordered table-striped table-condensed table-hover" style="font-size: 12px;">
                            <thead>
                                <tr>
                                    <th>@Resources.OrdenDelCliente</th>
                                    <th>@Resources.NumeroPO</th>
                                    <th>@Resources.Finca</th>
                                    <th>@Resources.Producto</th>
                                    <th>@Resources.Cliente</th>
                                    <th>@Resources.FechaDeEnvioDelCultivo</th>
                                    <th>@Resources.Cajas</th>
                                    <th>@Resources.Empaque</th>
                                    <th>@Resources.CantidadDeCajas</th>
                                    <th>@Resources.CantidadDeTallos</th>
                                    <th>@Resources.Estado</th>
                                    <th>@Resources.Notas</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>