﻿@using Resources;
@model Planner.Model.Auth_User

@{
    ViewBag.Title = Resources.Detalle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Orders/Detail.js"></script>

<div class="btn-group">
    <button id="btnHome" name="btnHome" class="btn btn-warning waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.VolverALaLista" onclick='BackToList()'>
        <i class="fa fa-chevron-left"></i>
    </button>
</div>
<div class="Planner_Separator">
</div>

@Html.Hidden("BouquetId")

<div class="box box-success">
    <div class="box-body">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="col-xs-12 col-sm-2 col-md-2">
                <label for="cmbTipoCarga">@Resources.OrdenEnFinca</label>
                @Html.TextBox("FarmOrder", null, new { @class = "form-control", @placeholder = Resources.OrdenEnFinca, @readonly = "readonly", @style = "width:100%; max-width:100%", @id = "FarmOrder" })
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2">
                <label for="endDate">@Resources.NumeroPO</label>
                @Html.TextBox("PONumber", null, new { @class = "form-control", @placeholder = Resources.NumeroPO, @readonly = "readonly", @style = "width:100%; max-width:100%", @id = "PONumber" })
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <label for="endDate">@Resources.Cliente</label>
                @Html.TextBox("Customer", null, new { @class = "form-control", @placeholder = Resources.Cliente, @readonly = "readonly", @style = "width:100%; max-width:100%", @id = "Customer" })
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2">
                <label for="endDate">@Resources.FechaDeEnvioDelCultivo</label>
                @Html.TextBox("FarmShip", null, new { @class = "form-control", @placeholder = Resources.FechaDeEnvioDelCultivo, @readonly = "readonly", @style = "width:100%; max-width:100%", @id = "FarmShip" })
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2">
                <label for="cmbOrders">@Resources.FechaDeEnvioDeMiami</label>
                @Html.TextBox("MiamiShip", null, new { @class = "form-control", @placeholder = Resources.FechaDeEnvioDeMiami, @readonly = "readonly", @style = "width:100%; max-width:100%", @id = "MiamiShip" })
            </div>
        </div>
    </div>
</div>

<div class="box box-success">
    <div class="box-body">
        <div id="DetailDataTable" class="form-group">
            <div id="resultsDetail">
                <table id="tableDetail" class="table table-bordered table-striped table-condensed table-hover" style="font-size: 12px;">
                    <thead>
                        <tr>
                            <th>@Resources.Acciones</th>
                            <th>@Resources.Id</th>
                            <th>@Resources.Producto</th>
                            <th>@Resources.Empaque</th>
                            <th>@Resources.TipoDeCaja</th>
                            <th>@Resources.CantidadDeCajas</th>
                            <th>@Resources.CantidadDeTallos</th>
                            <th>@Resources.ColorEtiqueta</th>
                            <th>@Resources.Estado</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <th>@Resources.Acciones</th>
                            <th>@Resources.Id</th>
                            <th>@Resources.Producto</th>
                            <th>@Resources.Empaque</th>
                            <th>@Resources.TipoDeCaja</th>
                            <th>@Resources.CantidadDeCajas</th>
                            <th>@Resources.CantidadDeTallos</th>
                            <th>@Resources.ColorEtiqueta</th>
                            <th>@Resources.Estado</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalBouquet" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-red">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h2 class="modal-title">@Resources.ConsolidarPorRamo</h2>
                <h4 class="modal-title">@Resources.DeseaConsolidarARamosEsteItem</h4>
            </div>
            <div class="modal-body">

                <div class="col-xs-12 col-sm-6 col-md-6">
                    <label for="modProducto">@Resources.Producto</label>
                    @Html.TextBox("modProducto", null, new { @class = "form-control", @placeholder = Resources.Producto, @readonly = "readonly", @style = "width:100%; max-width:100%", @id = "modProducto" })
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <label for="modEmpaque">@Resources.Empaque</label>
                    @Html.TextBox("modEmpaque", null, new { @class = "form-control", @placeholder = Resources.Empaque, @readonly = "readonly", @style = "width:100%; max-width:100%", @id = "modEmpaque" })
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <label for="modTipoDeCaja">@Resources.TipoDeCaja</label>
                    @Html.TextBox("modTipoDeCaja", null, new { @class = "form-control", @placeholder = Resources.Empaque, @readonly = "readonly", @style = "width:100%; max-width:100%", @id = "modTipoDeCaja" })
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4">
                    <label for="modCantidadDeCajas">@Resources.CantidadDeCajas</label>
                    @Html.TextBox("modCantidadDeCajas", null, new { @class = "form-control", @placeholder = Resources.CantidadDeCajas, @readonly = "readonly", @style = "width:100%; max-width:100%", @id = "modCantidadDeCajas" })
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <label for="modCantidadDeTallos">@Resources.CantidadDeTallos</label>
                    @Html.TextBox("modCantidadDeTallos", null, new { @class = "form-control", @placeholder = Resources.CantidadDeTallos, @readonly = "readonly", @style = "width:100%; max-width:100%", @id = "modCantidadDeTallos" })
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <label for="modColorEtiqueta">@Resources.ColorEtiqueta</label>
                    @Html.TextBox("modColorEtiqueta", null, new { @class = "form-control", @placeholder = Resources.ColorEtiqueta, @readonly = "readonly", @style = "width:100%; max-width:100%", @id = "modColorEtiqueta" })
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4">
                    <label for="modEstado">@Resources.Estado</label>
                    @Html.TextBox("modEstado", null, new { @class = "form-control", @placeholder = Resources.Estado, @readonly = "readonly", @style = "width:100%; max-width:100%", @id = "modEstado" })
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <div class="btn-group">
                    <button id="btnSave" name="btnSave" class="btn btn-success waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.Consolidar" onclick='SetBouquetRow()'>
                        <i class="fa fa-check"></i>
                    </button>
                    <button id="btnCancel" name="btnCancel" class="btn btn-danger waves-effect waves-light" data-dismiss="modal" data-toggle="tooltip" data-placement="top" title="@Resources.Cancelar">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>