﻿@using Resources;
@model Planner.Model.Auth_User

@{
    ViewBag.Title = Resources.OrdenesPendientes;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Orders/Pending.js"></script>

<div class="btn-group">
    <button id="btnExcel" name="btnExcel" class="btn btn-success waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.ExportarExcel">
        <i class="fa fa-file-excel-o"></i>
    </button>
</div>
<div class="Planner_Separator">
</div>

<div class="box box-success">
    <div class="box-body">
        <div id="PendingDataTable" class="form-group">
            <div id="resultsPending">
                <table id="tablePending" class="table table-bordered table-striped table-condensed table-hover" style="font-size: 12px;">
                    <thead>
                        <tr>
                            <th>@Resources.OrdenDelCliente</th>
                            <th>@Resources.OrdenEnFinca</th>
                            <th>@Resources.NumeroPO</th>
                            <th>@Resources.Finca</th>
                            <th>@Resources.Cliente</th>
                            <th>@Resources.GrupoDelCliente</th>
                            <th>@Resources.Cajas</th>
                            <th>@Resources.FechaDeEnvioDelCultivo</th>
                            <th>@Resources.FechaDeEnvioDeMiami</th>
                            <th>@Resources.Estado</th>
                            <th>@Resources.EstadoEnFinca</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <th>@Resources.OrdenDelCliente</th>
                            <th>@Resources.OrdenEnFinca</th>
                            <th>@Resources.NumeroPO</th>
                            <th>@Resources.Finca</th>
                            <th>@Resources.Cliente</th>
                            <th>@Resources.GrupoDelCliente</th>
                            <th>@Resources.Cajas</th>
                            <th>@Resources.FechaDeEnvioDelCultivo</th>
                            <th>@Resources.FechaDeEnvioDeMiami</th>
                            <th>@Resources.Estado</th>
                            <th>@Resources.EstadoEnFinca</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
