﻿@using Resources;
@model Planner.Model.Auth_User

@{
    ViewBag.Title = Resources.OrdenesPendientes;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Orders/PendingOrders.js"></script>

<div class="btn-group">
    <button id="btnHome" name="btnHome" class="btn btn-warning waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.VolverALaLista" onclick='BackToList()'>
        <i class="fa fa-chevron-left"></i>
    </button>
    <button id="btnExcel" name="btnExcel" class="btn btn-success waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.ExportarExcel">
        <i class="fa fa-file-excel-o"></i>
    </button>
</div>
<div class="Planner_Separator">
</div>

<div class="box box-success">
    <div class="box-body">
        <div class="col-xs-12 col-sm-2 col-md-2">
            <label for="PONumber">@Resources.OrdenDelCliente</label>
            @Html.TextBox("PONumber", null, new { @class = "form-control", @placeholder = Resources.OrdenDelCliente, @style = "width:100%; max-width:100%", @id = "PONumber" })
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2">
            <label for="FarmOrder">@Resources.OrdenEnFinca</label>
            @Html.TextBox("FarmOrder", null, new { @class = "form-control", @placeholder = Resources.OrdenEnFinca, @style = "width:100%; max-width:100%", @id = "FarmOrder" })
        </div>
    </div>
</div>

<div class="box box-success">
    <div class="box-header">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <label for="businessUnitList">@Resources.FincasAsociadas</label>
            @Html.TextBox("FarmOrder", null, new { @class = "form-control", @placeholder = Resources.FincasAsociadas, @style = "width:100%; max-width:100%", @id = "FarmOrder" })
            @*@Html.DropDownList("ddlBusinessUnit", ViewData["businessUnitList"] as SelectList, new { @class = "form-control" })*@
        </div>

        <div class="col-xs-12 col-sm-2 col-md-2">
            <label for="endDate">@Resources.NumeroPO</label>
            @Html.TextBox("PONumber", null, new { @class = "form-control", @placeholder = Resources.NumeroPO, @readonly = "readonly", @style = "width:100%; max-width:100%", @id = "PONumber" })
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2">
            <label for="cmbTipoCarga">@Resources.OrdenDelCliente</label>
            @Html.TextBox("FarmOrder", null, new { @class = "form-control", @placeholder = Resources.OrdenDelCliente, @readonly = "readonly", @style = "width:100%; max-width:100%", @id = "FarmOrder" })
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2">
            <label for="endDate">@Resources.Estado</label>
            @Html.TextBox("Customer", null, new { @class = "form-control", @placeholder = Resources.Estado, @readonly = "readonly", @style = "width:100%; max-width:100%", @id = "Customer" })
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2">
            <label for="endDate">@Resources.Tipo</label>
            @Html.TextBox("FarmShip", null, new { @class = "form-control", @placeholder = Resources.Tipo, @readonly = "readonly", @style = "width:100%; max-width:100%", @id = "FarmShip" })
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <label for="cmbOrders">@Resources.Cliente</label>
            @Html.TextBox("MiamiShip", null, new { @class = "form-control", @placeholder = Resources.Cliente, @readonly = "readonly", @style = "width:100%; max-width:100%", @id = "MiamiShip" })
        </div>

    </div>
    <div class="box-body">

        <div id="OrdersDataTable" class="form-group">
            <div id="resultsOrders">
                <table id="tableOrders" class="table table-bordered table-striped table-condensed table-hover" style="font-size: 12px;">
                    <thead>
                        <tr>
                            <th>@Resources.Fincas</th>
                            <th>@Resources.FechaDeEnvioDelCultivo</th>
                            <th>@Resources.Producto</th>
                            <th>@Resources.Cajas</th>
                            <th>@Resources.Empaque</th>
                            <th>@Resources.CantidadFincas</th>
                            <th>@Resources.OrdenEnFinca</th>
                            <th>@Resources.Estado</th>
                            <th>@Resources.Tallos</th>
                            <th>@Resources.Detalle</th>
                            <th>@Resources.Finca</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <th>@Resources.Fincas</th>
                            <th>@Resources.FechaDeEnvioDelCultivo</th>
                            <th>@Resources.Producto</th>
                            <th>@Resources.Cajas</th>
                            <th>@Resources.Empaque</th>
                            <th>@Resources.CantidadFincas</th>
                            <th>@Resources.OrdenEnFinca</th>
                            <th>@Resources.Estado</th>
                            <th>@Resources.Tallos</th>
                            <th>@Resources.Detalle</th>
                            <th>@Resources.Finca</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
