﻿@using Resources;

@{
    ViewBag.Title = Resources.Pin;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/DataTables/media/css/dataTables.jqueryui.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/extensions/FixedHeader/css/fixedHeader.dataTables.min.css" rel="stylesheet" />

<link href="~/Content/dataTables.checkboxes.css" rel="stylesheet" />
<script src="~/Scripts/dataTables.checkboxes.min.js"></script>

<script src="~/Scripts/Orders/Pin.js"></script>

<div class="btn-group">
    <button id="btnView" name="btnView" class="btn btn-warning waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.Ver" onclick="GetPin()">
        <i class="fa fa-search"></i>
    </button>
</div>
<div class="Planner_Separator">
</div>

<div class="box box-success">
    <div class="box-body">
        <div class="col-xs-12 col-sm-3 col-md-3 col-sm-3">
            <label for="modPin">@Resources.Pin</label>
            @Html.TextBox("modPin", null, new { @class = "form-control", @placeholder = Resources.Pin, @readonly = "readonly", @style = "width:100%; max-width:100%; text-align: right; ", @id = "modPin" })
        </div>
    </div>
</div>