﻿@using Resources;
@model Planner.Model.Auth_User

@{
    ViewBag.Title = Resources.DetallesTallo;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Orders/Stem.js"></script>

<div class="btn-group">
    <button id="btnHome" name="btnHome" class="btn btn-warning waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.VolverALaLista" onclick='BackToList()'>
        <i class="fa fa-chevron-left"></i>
    </button>
</div>
<div class="Planner_Separator">
</div>

@*<div class="box box-success">
        <div class="box-body">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <label for="cmbTipoCarga">@Resources.OrdenEnFinca</label>
                    @Html.TextBoxFor(model => model.IDOrdenesEnsambleOriginales_Codigo, null, new { @class = "form-control", @readonly = "readonly", @style = "Width: 100%; Max-Width: 100%" })
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <label for="endDate">@Resources.Cliente</label>
                    @Html.TextBoxFor(model => model.IDOrdenesEnsamblePOCabezas_IDClientesFinales_Nombre, null, new { @class = "form-control", @readonly = "readonly", @style = "Width: 100%; Max-Width: 100%" })
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <label for="endDate">@Resources.NumeroPO</label>
                    @Html.TextBoxFor(model => model.IDOrdenesEnsamblePOCabezas_PO, null, new { @class = "form-control", @readonly = "readonly", @style = "Width: 100%; Max-Width: 100%" })
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <label for="endDate">@Resources.FechaDeEnvioDelCultivo</label>
                    @Html.TextBox("IDOrdenesEnsamblePOCabezas_FechaPedido", null, new { @class = "form-control", @id = "IDOrdenesEnsamblePOCabezas_FechaPedido" })
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <label for="cmbOrders">@Resources.FechaDeEnvioDeMiami</label>
                    @Html.TextBox("IDOrdenesEnsamblePOCabezas_ShipDate", null, new { @class = "form-control", @id = "IDOrdenesEnsamblePOCabezas_ShipDate" })
                </div>
            </div>
        </div>
    </div>*@

<div class="box box-success">
    <div class="box-body">
        <div id="StemDataTable" class="form-group">
            <div id="resultsStem">
                <table id="tableStem" class="table table-bordered table-striped table-condensed table-hover" style="font-size: 12px;">
                    <thead>
                        <tr>
                            <th>@Resources.Id</th>
                            <th>@Resources.Producto</th>
                            <th>@Resources.Presentacion</th>
                            <th>@Resources.Cantidad</th>
                            <th>@Resources.Temporada</th>
                            <th>@Resources.Cantidad</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <th>@Resources.Id</th>
                            <th>@Resources.Producto</th>
                            <th>@Resources.Presentacion</th>
                            <th>@Resources.Cantidad</th>
                            <th>@Resources.Temporada</th>
                            <th>@Resources.Cantidad</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
