﻿@using Resources;
@model Planner.Model.Auth_User

@{
    ViewBag.Title = Resources.OrdenesPendientes;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/DataTables/media/css/dataTables.jqueryui.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/extensions/FixedHeader/css/fixedHeader.dataTables.min.css" rel="stylesheet" />

<link href="~/Content/dataTables.checkboxes.css" rel="stylesheet" />
<script src="~/Scripts/dataTables.checkboxes.min.js"></script>

<script src="~/Scripts/Orders/ToCancel.js"></script>

<div class="btn-group">
    <button id="btnExcel" name="btnExcel" class="btn btn-success waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.ExportarExcel">
        <i class="fa fa-file-excel-o"></i>
    </button>
</div>
<div class="Planner_Separator">
</div>

<div class="box box-success">
    <div class="box-body">
        <div id="ToCancelDataTable" class="form-group">
            <div id="resultsToCancel">
                <table id="tableToCancel" class="table table-bordered table-striped table-condensed table-hover" style="font-size: 12px;">
                    <thead>
                        <tr>
                            <th></th>
                            <th>@Resources.OrdenDelCliente</th>
                            <th>@Resources.NumeroPO</th>
                            <th>@Resources.Finca</th>
                            <th>@Resources.Producto</th>
                            <th>@Resources.Cliente</th>
                            <th>@Resources.FechaDeEnvioDelCultivo</th>
                            <th>@Resources.Cajas</th>
                            <th>@Resources.Empaque</th>
                            <th>@Resources.CantidadDeCajas</th>
                            <th>@Resources.CantidadDeTallos</th>
                            <th>@Resources.Estado</th>
                            <th>@Resources.Notas</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>@Resources.OrdenDelCliente</th>
                            <th>@Resources.NumeroPO</th>
                            <th>@Resources.Finca</th>
                            <th>@Resources.Producto</th>
                            <th>@Resources.Cliente</th>
                            <th>@Resources.FechaDeEnvioDelCultivo</th>
                            <th>@Resources.Cajas</th>
                            <th>@Resources.Empaque</th>
                            <th>@Resources.CantidadDeCajas</th>
                            <th>@Resources.CantidadDeTallos</th>
                            <th>@Resources.Estado</th>
                            <th>@Resources.Notas</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
