﻿@using Resources;
@model Planner.Model.Auth_User

@{
    ViewBag.Title = Resources.UPC;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/html2pdf/dist/html2pdf.min.js"></script>
<script src="~/Content/html2pdf/dist/html2pdf.bundle.min.js"></script>

<script src="~/Scripts/Orders/UPC2Pdf.js"></script>

<div class="btn-group">
    <button id="btnHome" name="btnHome" class="btn btn-warning waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.VolverALaLista" onclick='BackToList()'>
        <i class="fa fa-chevron-left"></i>
    </button>
    @using (Html.BeginForm("Export", "Orders", FormMethod.Post))
    {
        <input type="hidden" name="ExportData" />
        <input type="submit" id="btnSubmit" value="PDF" />
    }
</div>
<div class="Planner_Separator">
</div>

<div id="UPC2Pdf">
    <table id="tableHeader" class="DivPdf table table-bordered table-condensed table-hover" style="font-size:10px;">
        <tbody>
            <tr>
                <th class="text-left" style="background-color:#E6E7E8; color:#000000" valign="middle" colspan="6">@Resources.FechaDeImpresion: @DateTime.Now</th>
            </tr>
            <tr>
                <td class="text-right" style="background-color:#009AB2; color:#ffffff" valign="middle">@Resources.Orden</td>
                <td colspan="3">&nbsp;</td>
                <td class="text-right" style="background-color:#009AB2; color:#ffffff" valign="middle">@Resources.FechaDeEnvioDelCultivo</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="text-right" style="background-color:#009AB2; color:#ffffff" valign="middle">@Resources.Cliente</td>
                <td>&nbsp;</td>
                <td class="text-right" style="background-color:#009AB2; color:#ffffff" valign="middle">Slot Ident</td>
                <td>&nbsp;</td>
                <td class="text-right" style="background-color:#009AB2; color:#ffffff" valign="middle">@Resources.FechaDeEnvioDeMiami</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="text-right" style="background-color:#009AB2; color:#ffffff" valign="middle">@Resources.Producto</td>
                <td>&nbsp;</td>
                <td class="text-right" style="background-color:#009AB2; color:#ffffff" valign="middle">@Resources.NumeroPO</td>
                <td>&nbsp;</td>
                <td class="text-right" style="background-color:#009AB2; color:#ffffff" valign="middle">@Resources.FechaDeEntrega</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="text-right" style="background-color:#009AB2; color:#ffffff" valign="middle">Wet/Dry</td>
                <td>&nbsp;</td>
                <td class="text-right" style="background-color:#009AB2; color:#ffffff" valign="middle">@Resources.Temporada</td>
                <td>&nbsp;</td>
                <td class="text-right" style="background-color:#009AB2; color:#ffffff" valign="middle">@Resources.Empaque</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="text-right" style="background-color:#009AB2; color:#ffffff" valign="middle">@Resources.Cajas</td>
                <td>&nbsp;</td>
                <td class="text-right" style="background-color:#009AB2; color:#ffffff" valign="middle">@Resources.Estado</td>
                <td colspan="3">&nbsp;</td>
            </tr>
        </tbody>
    </table>

    <div class="clearfix"></div>

    <br />
    <br />
    <br />

    <div class="col-xs-9 col-sm-9 col-md-9">
        <table id="tableBunch" class="DivPdf table table-bordered table-condensed table-hover" style="font-size:6px;">
            <thead>
                <tr>
                    <th class="text-center" style="background-color:#009AB2; color:#ffffff" valign="middle">@Resources.Ramo</th>
                    <th class="text-center" style="background-color:#009AB2; color:#ffffff" valign="middle">@Resources.ColorEtiqueta</th>
                    <th class="text-center" style="background-color:#009AB2; color:#ffffff" valign="middle">@Resources.LongitudDelTallo</th>
                    <th class="text-center" style="background-color:#009AB2; color:#ffffff" valign="middle">@Resources.Cantidad</th>
                    <th class="text-center" style="background-color:#009AB2; color:#ffffff" valign="middle">@Resources.TipoUpc</th>
                    <th class="text-center" style="background-color:#009AB2; color:#ffffff" valign="middle">@Resources.CodigoDeBarrasUpc</th>
                    <th class="text-center" style="background-color:#009AB2; color:#ffffff" valign="middle">@Resources.CodigoDeBarrasCaja</th>
                    <th class="text-center" style="background-color:#009AB2; color:#ffffff" valign="middle">@Resources.TipoDeEnsamble</th>
                    <th class="text-center" style="background-color:#009AB2; color:#ffffff" valign="middle">@Resources.CategoriaUpc</th>
                    <th class="text-center" style="background-color:#009AB2; color:#ffffff" valign="middle">@Resources.Detalle</th>
                    <th class="text-center" style="background-color:#009AB2; color:#ffffff" valign="middle">@Resources.CantidadAGranel</th>
                    <th class="text-center" style="background-color:#009AB2; color:#ffffff" valign="middle">@Resources.PrecioAGranel</th>
                    <th class="text-center" style="background-color:#009AB2; color:#ffffff" valign="middle">@Resources.UpcPlu</th>
                    <th class="text-center" style="background-color:#009AB2; color:#ffffff" valign="middle">@Resources.FechaCodigo</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="clearfix"></div>

    <br />
    <br />
    <br />

    <div class="col-xs-6 col-sm-6 col-md-6">
        <table id="tableFlowers" class="DivPdf table table-bordered table-condensed table-hover" style="font-size:8px;">
            <thead>
                <tr>
                    <th class="text-center" style="background-color:#009AB2; color:#ffffff" valign="middle">@Resources.Flor</th>
                    <th class="text-center" style="background-color:#009AB2; color:#ffffff" valign="middle">@Resources.Grado</th>
                    <th class="text-center" style="background-color:#009AB2; color:#ffffff" valign="middle">@Resources.Tallos</th>
                    <th class="text-center" style="background-color:#009AB2; color:#ffffff" valign="middle">@Resources.TotalTallos</th>
                    <th class="text-center" style="background-color:#009AB2; color:#ffffff" valign="middle">@Resources.CantidadFincas</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="clearfix"></div>

    <br />
    <br />
    <br />

    <div class="col-xs-6 col-sm-6 col-md-6">
        <table id="tableMaterial" class="DivPdf table table-bordered table-condensed table-hover" style="font-size:10px;">
            <thead>
                <tr>
                    <th class="text-center" style="background-color:#009AB2; color:#ffffff" valign="middle" colspan="3">@Resources.DescripcionMaterialDeLaReceta</th>
                </tr>
                <tr>
                    <th class="text-center" style="background-color:#009AB2; color:#ffffff" valign="middle">@Resources.Tipo</th>
                    <th class="text-center" style="background-color:#009AB2; color:#ffffff" valign="middle">@Resources.Material</th>
                    <th class="text-center" style="background-color:#009AB2; color:#ffffff" valign="middle">@Resources.Cantidad</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
