﻿@using Resources;

@{
    ViewBag.Title = Resources.FotosUpc;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/DataTables/media/css/dataTables.jqueryui.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/extensions/FixedHeader/css/fixedHeader.dataTables.min.css" rel="stylesheet" />

<link href="~/Content/dataTables.checkboxes.css" rel="stylesheet" />
<script src="~/Scripts/dataTables.checkboxes.min.js"></script>

<script src="~/Scripts/Orders/UpcPhotos.js"></script>

<div class="btn-group">
    <button id="btnSearch" name="btnSearch" class="btn btn-warning waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.Buscar" onclick="LoadGrid()">
        <i class="fa fa-search"></i>
    </button>
</div>
<div class="Planner_Separator">
</div>

<div class="box box-success">
    <div class="box-body">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="col-xs-12 col-sm-2 col-md-2">
                <label for="endDate">@Resources.FechaInicial</label>
                @Html.TextBox("startDate", null, new { @class = "form-control", @id = "startDate" })
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2">
                <label for="endDate">@Resources.FechaFinal</label>
                @Html.TextBox("endDate", null, new { @class = "form-control", @id = "endDate" })
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <label for="cmbFarms">@Resources.Finca</label>
                <div class="controls">
                    @Html.DropDownList("cmbFarms", ViewData["lstFarms"] as SelectList, null, new { @class = "form-control select2", @style = "width:100%; max-width:100%" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="box box-success">
    <div class="box-header">
        <h4 class="box-title">
            @Resources.ControlDeImagenUpc
        </h4>
    </div>
    <div class="box-body">
        <div id="UpcPhotosDataTable" class="form-group">
            <div id="resultsUpcPhotos">
                <table id="tableUpcPhotos" class="table table-striped table-bordered table-hover" style="font-size: 12px; width:100%">
                    <thead>
                        <tr>
                            <th>@Resources.Id</th>
                            <th>@Resources.NumeroPO</th>
                            <th>@Resources.FechaDeEnvioDelCultivo</th>
                            <th>@Resources.GrupoDelCliente</th>
                            <th>@Resources.Cliente</th>
                            <th>@Resources.OrdenDelCliente</th>
                            <th>@Resources.OrdenEnFinca</th>
                            <th>@Resources.Producto</th>
                            <th>@Resources.Foto</th>
                            <th>@Resources.Imagen</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="box box-success">
    <div class="box-header">
        <h4 class="box-title">
            @Resources.ImagenUpc
        </h4>
    </div>
    <div class="box-body">
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div id="UpcImageDataTable" class="form-group">
                    <div id="resultsUpcImage">
                        <table id="tableUpcImage" class="table table-striped table-bordered table-hover" style="font-size: 12px; width:100%">
                            <thead>
                                <tr>
                                    <th>@Resources.Ramo</th>
                                    <th>@Resources.NombreUpc</th>
                                    <th>@Resources.CodigoDeBarrasUpc</th>
                                    <th>@Resources.CodigoFecha</th>
                                    <th>@Resources.PrecioAGranel</th>
                                    <th>@Resources.Tipo</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div id="UpcPhotoDataTable" class="form-group">
                    <div id="resultsUpcPhoto">
                        <table id="tableUpcPhoto" class="table table-striped table-bordered table-hover" style="font-size: 12px; width:100%">
                            <thead>
                                <tr>
                                    <th>@Resources.Id</th>
                                    <th>@Resources.Archivo</th>
                                    <th>@Resources.Aprobado</th>
                                    <th>@Resources.NoAprobado</th>
                                    <th>@Resources.AprobadoPor</th>
                                    <th>@Resources.Ver</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">

            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="box box-solid box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            @Resources.TipoDeEtiqueta
                        </h3>
                    </div>
                    <div class="box-body">
                        <img id="imgUPCType" name="imgUPCType" class="img-responsive pad" src="" alt="">
                    </div>
                    <div class="box-footer">
                        <label id="strUPCTypeFileDescription" name="strUPCTypeFileDescription"></label>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="box box-solid box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            @Resources.UPC
                        </h3>
                    </div>
                    <div class="box-body">
                        <img id="imgUPCPhoto" name="imgUPCPhoto" class="img-responsive pad" src="" alt="">
                    </div>
                    <div class="box-footer">
                        <label id="imgUPCPhotoDescription" name="strUPCTypeFileDescription"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
