﻿@using Resources;
@model Planner.Model.Auth_User

@{
    ViewBag.Title = Resources.VerificarOrdenes;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Orders/Verify.js"></script>

<div class="btn-group">
    <button id="btnHome" name="btnHome" class="btn btn-warning waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.VolverALaLista" onclick='BackToList()'>
        <i class="fa fa-chevron-left"></i>
    </button>
    <button id="btnSearch" name="btnSearch" class="btn btn-warning waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.Buscar" onclick='Search()'>
        <i class="fa fa-search"></i>
    </button>
    <button id="btnCreate" name="btnCreate" class="btn btn-success waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.Adicionar">
        <i class="fa fa-plus"></i>
    </button>
</div>
<div class="Planner_Separator">
</div>

<div class="box box-success">
    <div class="box-body">
        <div class="col-xs-12 col-sm-2 col-md-2">
            <label for="PONumber">@Resources.OrdenDelCliente</label>
            @Html.TextBox("PONumber", null, new { @class = "form-control", @placeholder = Resources.OrdenDelCliente, @style = "width:100%; max-width:100%", @id = "PONumber" })
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2">
            <label for="FarmOrder">@Resources.OrdenEnFinca</label>
            @Html.TextBox("FarmOrder", null, new { @class = "form-control", @placeholder = Resources.OrdenEnFinca, @style = "width:100%; max-width:100%", @id = "FarmOrder" })
        </div>
    </div>
</div>

<div class="box box-success">
    <div class="box-header">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <label for="businessUnitList">@Resources.FincasAsociadas</label>
            @Html.ListBox("ddlFincasAsociadas", ViewData["FincasAsociadas_Lst"] as SelectList, new { @class = "form-control", @style = "width:100%; max-width:100%", @id = "ddlFincasAsociadas" })
        </div>

        <div class="col-xs-12 col-sm-2 col-md-2">
            <label for="OrderPONumber">@Resources.NumeroPO</label>
            @Html.TextBox("OrderPONumber", null, new { @class = "form-control", @placeholder = Resources.NumeroPO, @readonly = "readonly", @style = "width:100%; max-width:100%", @id = "OrderPONumber" })
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2">
            <label for="OrderCustomerOrder">@Resources.OrdenDelCliente</label>
            @Html.TextBox("OrderCustomerOrder", null, new { @class = "form-control", @placeholder = Resources.OrdenDelCliente, @readonly = "readonly", @style = "width:100%; max-width:100%", @id = "OrderCustomerOrder" })
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2">
            <label for="OrderStatus">@Resources.Estado</label>
            @Html.TextBox("OrderStatus", null, new { @class = "form-control", @placeholder = Resources.Estado, @readonly = "readonly", @style = "width:100%; max-width:100%", @id = "OrderStatus" })
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2">
            <label for="OrderType">@Resources.Tipo</label>
            @Html.TextBox("OrderType", null, new { @class = "form-control", @placeholder = Resources.Tipo, @readonly = "readonly", @style = "width:100%; max-width:100%", @id = "OrderType" })
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <label for="OrderCustomer">@Resources.Cliente</label>
            @Html.TextBox("OrderCustomer", null, new { @class = "form-control", @placeholder = Resources.Cliente, @readonly = "readonly", @style = "width:100%; max-width:100%", @id = "OrderCustomer" })
        </div>
    </div>
    <div class="box-body">

        <div id="OrdersDataTable" class="form-group">
            <div id="resultsOrders">
                <table id="tableOrders" class="table table-bordered table-striped table-condensed table-hover" style="font-size: 12px;">
                    <thead>
                        <tr>
                            <th>@Resources.Linea</th>
                            <th>@Resources.Fincas</th>
                            <th>@Resources.FechaDeEnvioDelCultivo</th>
                            <th>@Resources.Producto</th>
                            <th>@Resources.Cajas</th>
                            <th>@Resources.Empaque</th>
                            <th>@Resources.CantidadFincas</th>
                            <th>@Resources.OrdenEnFinca</th>
                            <th>@Resources.Estado</th>
                            <th>@Resources.Tallos</th>
                            <th>@Resources.Detalle</th>
                            <th>@Resources.Finca</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <th>@Resources.Linea</th>
                            <th>@Resources.Fincas</th>
                            <th>@Resources.FechaDeEnvioDelCultivo</th>
                            <th>@Resources.Producto</th>
                            <th>@Resources.Cajas</th>
                            <th>@Resources.Empaque</th>
                            <th>@Resources.CantidadFincas</th>
                            <th>@Resources.OrdenEnFinca</th>
                            <th>@Resources.Estado</th>
                            <th>@Resources.Tallos</th>
                            <th>@Resources.Detalle</th>
                            <th>@Resources.Finca</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
