﻿@{
    ViewBag.Title = "Visor Dinámico Reporte Fitosanitario por Tercios";
}

<!-- Pivot Flexmonster-->
<script src="https://cdn.flexmonster.com/flexmonster.js"></script>

<script src="~/Scripts/IncidenceDynamicViewerAll/Index.js"></script>
<div class="btn-group">
    <button class="btn btn-warning" onclick="TraeDataW()"><i class="fa fa-search"></i></button>
</div>
<div class="clearfix"></div>
<br />
<div class="box box-success">
    <div class="box-body">
        <div class="col-md-12 form-inline">
            <div class="col-md-3">
                <label for="Semana">Semana Inicial: </label>
                @Html.DropDownList("ddlWeek", ViewData["listWeek"] as SelectList, "Seleccione", new { @class = "form-control select2", @style = "width:100%", @id = "WeekIDInic" })
            </div>

            <div class="col-md-3">
                <label for="Semana">Semana Final: </label>
                @Html.DropDownList("ddlWeek", ViewData["listWeek"] as SelectList, "Seleccione", new { @class = "form-control select2", @style = "width:100%", @id = "WeekIDFina" })
            </div>

            <div class="col-sm-3 col-lg-3 col-md-3">
                <label for="Finca">Finca: </label>
                @Html.DropDownList("GreeHouseID", ViewData["BussinesUnitList"] as SelectList, "TODAS", new { @class = "form-control select2", @style = "width:100%", @id = "GreeHouseID" })
            </div>

            <div class="col-md-3">
                <label for="Tercios">Tercios: </label>
                <div class="col-md-12">
                    <b>Alto: </b><input type="checkbox" checked id="Alto"/>
                    <b>Medio: </b><input type="checkbox" id="Medio"/>
                    <b>Bajo: </b><input type="checkbox" id="Bajo"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="box box-success">
    <div class="box-body">
        <div id="PivotWData"></div>
        <div id="TablaCompleta" style="display: none">
            <table id="TablaDinamica" class="table table-bordered table-striped table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Finca</th>
                        <th>Bloque</th>
                        <th>Semana</th>
                        <th>Año</th>
                        <th>IDFinca</th>
                        <th>TotalCamas</th>
                        <th>IdBloque</th>
                        <th>Plaga</th>
                        <th>IdProducto</th>
                        <th>ClaseProducto</th>
                        <th>Producto</th>
                        <th>Color</th>
                        <th>CamasAfectadas</th>
                        <th>CuadrosAfectados</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>