﻿<!--Inclusión JS propio-->
@using Resources;
@using Planner.Model;


@model Planner.Model.Aspersion_AgrochemicalProducts

@{
    ViewBag.Title = "Productos Agroquímicos";
    ViewBag.Subtitle = "Edición de registro";
    var Concentration = ViewData["Concentration"];
    var ProductType = ViewData["ProductType"];
}

<script src="~/Scripts/Aspersion/Aspersion.js"></script>
<script>
    $(document).ready(function () {
        $("#formEdit_AgrochemicalProducts").find("input").each(function () {
            var text = this.value;
            $(this).val(text.replace(/,/g, '.'));
        })
    });
</script>
<form class="" id="formEdit_AgrochemicalProducts">
    <div class="btn-group">
        <a id="btnHome" name="btnHome" class="btn btn-warning waves-effect waves-light" onclick="BackToList()">
            <i class="fa fa-chevron-left"></i>
        </a>
        <button id="editAgrochemicalProducts" name="editAgrochemicalProducts" class="btn btn-success waves-effect waves-light">
            <i class="fa fa-save"></i>
        </button>
    </div>
    <div class="clearfix"></div>
    <br />
    <div class="box box-success">
        <div class="box-body">
            @Html.HiddenFor(model => model.AgrochemicalProductsID)
            @Html.HiddenFor(model => model.ActiveFlag)

            <div class="col-sm-4">
                <label for="Name">Producto genérico: </label>
                @Html.DropDownList("ProductOrigin", ViewData["listaPG"] as SelectList, null, new { @class = "form-control", @style = "width:100%", @id = "ProductOrigin" })
            </div>

            <div class="col-sm-4">
                <label for="Name">Nombre: </label>
                @Html.TextBoxFor(model => model.Name, null, new { @class = "form-control", @id = "Name", @required = "required" })
            </div>

            <div class="col-sm-4">
                <label for="Name">Grupo Químico: </label>
                @Html.DropDownList("ChemicalGroupID", ViewData["listaCG"] as SelectList, new { @class = "form-control", @style = "width:100%", @id = "ChemicalGroupID" })
            </div>

            <div class="col-sm-4">
                <label for="Name">Frac: </label>
                @Html.DropDownList("FracID", ViewData["listaFrac"] as SelectList, new { @class = "form-control", @style = "width:100%", @id = "FracID" })
            </div>

            <div class="col-sm-4">
                <label for="Name">Ingrediente Activo: </label>
                @Html.DropDownList("ActiveIngredientsID", ViewData["listaIA"] as SelectList, new { @class = "form-control", @style = "width:100%", @id = "ActiveIngredientsID" })
            </div>

            <div class="col-sm-4">
                <label for="Name">Categoría Toxicológica: </label>
                @Html.DropDownList("ToxicologicalCategoryID", ViewData["listaCT"] as SelectList, new { @class = "form-control", @style = "width:100%", @id = "ToxicologicalCategoryID" })
            </div>

            <div class="col-sm-4">
                <label for="Name"> Hora Reentrada: </label>
                @Html.DropDownList("ReentryHourID", ViewData["listaRH"] as SelectList, new { @class = "form-control", @style = "width:100%", @id = "ReentryHourID" })

            </div>

            <div class="col-sm-2">
                <label for="Name">Concentración: </label>
                <div class="input-group">
                    <input type="text" class="form-control" id="Concentration" onkeypress="return soloNumerosDecimal(event, this)" onchange="ValidaPorcentaje(this.value, this.id)" value="@Concentration"/>
                    <span class="input-group-addon">%</span>
                </div>
            </div>
            <div class="col-sm-2"></div>

            <div class="col-sm-4">
                <label for="Name">Tipo de Producto: </label>
                <select class="form-control select2" id="ProductType">
                    <option></option>
                    <option value="1">Bioracional</option>
                    <option value="2">Químico</option>
                    <option value="3">Biológico</option>
                    <option value="4">Fertilizante</option>
                </select>
            </div>

            <div class="clearfix"></div>
            <h5 class="text-center"><b>Dosis</b></h5>
            <hr />
            <div class="col-sm-3">
                <label for="Name">Aspersión: </label>
                @Html.TextBoxFor(model => model.Aspersion, null, new { @class = "form-control", @id = "Aspersion", @required = "required" })
            </div>

            <div class="col-sm-3">
                <label for="Name">Espolvoreo: </label>
                @Html.TextBoxFor(model => model.Sprinkle, null, new { @class = "form-control", @id = "Sprinkle", @required = "required" })
            </div>

            <div class="col-sm-3">
                <label for="Name">Drench: </label>
                @Html.TextBoxFor(model => model.Drench, null, new { @class = "form-control", @id = "Drench", @required = "required" })
            </div>

            <div class="col-sm-3">
                <label for="Name">Termonebulizador: </label>
                @Html.TextBoxFor(model => model.Thermonebulizer, null, new { @class = "form-control", @id = "Thermonebulizer", @required = "required" })
            </div>
            <div class="clearfix"></div>
            <hr />
            <div class="col-sm-2">
                <label for="Name">Densidad: </label>
                @Html.TextBoxFor(model => model.Density, null, new { @class = "form-control", @id = "Density", @required = "required" })
            </div>

            <div class="col-sm-4">
                <label for="Name">Blanco Biológico: </label>
                @Html.DropDownList("PlagasID", ViewData["listaBT"] as SelectList, new { @class = "form-control", @style = "width:100%", @id = "PlagasID" })
            </div>

            <div class="col-sm-4">
                <label for="Name">Unidades de medida: </label>
                @Html.DropDownList("MeasurementUnitsID", ViewData["listaMU"] as SelectList, new { @class = "form-control", @style = "width:100%", @id = "MeasurementUnitsID" })
            </div>
        </div>
    </div>
</form>

<div class="modal fade" id="modalMensajes" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="modalMensajesTitulo"></h4>
            </div>
            <div class="modal-body text-center" id="modalMensajesCuerpo">
            </div>
            <div class="modal-footer">
                <div id="modalMensajesFooter"></div>
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal" onclick="location = '/AgrochemicalProducts/Index'">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>
    $("#ProductType").val(@ProductType).select();
</script>
