﻿@using Resources;

@*<script src="~/Scripts/Geolocation/CoordinateViewerList.js"></script>*@

<div id="CoordinateViewerDataTable">
    <div id="CoordinateViewerListDataTable" class="form-group row">
        <div id="resultsCoordinateViewerList">
            <table id="tableCoordinateViewerList" class="table table-bordered table-striped table-condensed table-hover responsive display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>@Resources.Id</th>
                        <th>@Resources.Latitud</th>
                        <th>@Resources.Longitud</th>
                        <th>@Resources.Fecha</th>
                        <th>@Resources.Acciones</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
