﻿@using Resources;

@{
    ViewBag.Title = Resources.VisorDeCoordenadas;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAl5uJHwmxrRaQUMChSGMP1tdefCrrqhU&callback=initMap" type="text/javascript"></script>

<script src="~/Scripts/Geolocation/CoordinateViewer.js"></script>

<style>
    #map_canvas img {
        max-width: none
    }
</style>

<style>
    #radioBtn .notActive {
        color: #3276b1;
        background-color: #FFFFFF;
    }
</style>

<div class="col-xs-12 col-sm-12 col-md-4">
    <div class="box box-success">
        <div class="box-header">
            <div class="btn-group">
                <button id="btnUpload" name="btnUpload" class="btn btn-warning waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.CargarInformacion" onclick='Upload()'>
                    <i class="fa fa-upload"></i>
                </button>
                <button id="btnDelete" name="btnDelete" class="btn btn-danger waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.Borrar" onclick='Delete()'>
                    <i class="fa fa-trash"></i>
                </button>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <label for="UploadFile">@Resources.CargarInformacionDesde</label>
                <input type="file" id="UploadFile" name="UploadFile" style="width:100%; max-width:100%" accept=".csv">
            </div>
        </div>
        <div class="box-body">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group">
                    @Html.Partial("CoordinateViewerList")
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-8">
    <div class="box box-success">
        <div class="box-body">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div id="map_canvas" style="height:75vh;">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>