﻿@using Resources;

<script src="~/Scripts/Geolocation/CoordinatesList.js"></script>

@*
    <div class="btn-group">
        <button id="dataPlanner_Template" name="dataPlanner_Template" class="btn btn-success waves-effect waves-light">
            <i class="fa fa-file-excel-o"></i>
        </button>
    </div>
    <div class="Planner_Separator">
    </div>
*@
@*
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            Bootstrap Switch Default
            <label class="switch ">
                <input type="checkbox" class="default">
                <span class="slider"></span>
            </label>
        </li>
        <li class="list-group-item">
            Bootstrap Switch Primary
            <label class="switch ">
                <input type="checkbox" class="primary">
                <span class="slider"></span>
            </label>
        </li>
        <li class="list-group-item">
            Bootstrap Switch Success
            <label class="switch ">
                <input type="checkbox" class="success">
                <span class="slider"></span>
            </label>
        </li>
        <li class="list-group-item">
            Bootstrap Switch Info
            <label class="switch ">
                <input type="checkbox" class="info">
                <span class="slider"></span>
            </label>
        </li>
        <li class="list-group-item">
            Bootstrap Switch Warning
            <label class="switch ">
                <input type="checkbox" class="warning">
                <span class="slider"></span>
            </label>
        </li>
        <li class="list-group-item">
            Bootstrap Switch Danger
            <label class="switch ">
                <input type="checkbox" class="danger">
                <span class="slider"></span>
            </label>
        </li>
    </ul>
*@
<div class="btn-group">
    <button id="btnExcel" name="btnExcel" class="btn btn-success waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.ExportarExcel">
        <i class="fa fa-file-excel-o"></i>
    </button>
</div>
<div class="Planner_Separator">
</div>
<div id="CoordinatesDataTable">
    <div id="CoordinatesListDataTable" class="form-group row">
        <div id="resultsCoordinatesList">
            <table id="tableCoordinatesList" class="frozen_alert table table-bordered table-striped table-condensed table-hover">
                <thead>
                    <tr>
                        <th>@Resources.Id</th>
                        <th>@Resources.Latitud</th>
                        <th>@Resources.Longitud</th>
                        <th>@Resources.Acciones</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
