﻿@using Resources;

<script src="~/Scripts/Geolocation/ExternalPlatesList.js"></script>

<div id="ExternalPlatesDataTable">
    <div id="ExternalPlatesListDataTable" class="form-group row">
        <div id="resultsExternalPlatesList">
            <table id="tableExternalPlatesList" class="table table-bordered table-striped table-condensed table-hover responsive display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>@Resources.Id</th>
                        <th>@Resources.Placa</th>
                        <th>@Resources.Nombre</th>
                        <th>@Resources.Latitud</th>
                        <th>@Resources.Longitud</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
