﻿@using Resources;

@{
    ViewBag.Title = Resources.Geolocalizacion;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
<script src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAl5uJHwmxrRaQUMChSGMP1tdefCrrqhU&callback=initMap" type="text/javascript"></script>

<script src="~/Scripts/Geolocation/Geolocation.js"></script>

<style>
    #map_canvas img {
        max-width: none
    }
</style>

<style>
    #radioBtn .notActive {
        color: #3276b1;
        background-color: #FFFFFF;
    }
</style>

<div class="col-xs-12 col-sm-12 col-md-5">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="box box-success">
            <div class="box-body">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <label for="ddlBusinessUnit">@Resources.Finca:</label>
                    @Html.DropDownList("ddlBusinessUnit", ViewData["lstBusinessUnit"] as SelectList, new { @class = "form-control select2", @style = "width:100%; max-width:100%" })
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5">
                    <label for="ddlOptions">@Resources.Opciones:</label>
                    @Html.DropDownList("ddlOptions", ViewData["lstOptions"] as SelectList, new { @class = "form-control select2", @style = "width:100%; max-width:100%" })
                </div>
                <div class="col-xs-12 col-sm-12 col-md-7">
                    <label for="ddlDetails">@Resources.Consultar:</label>
                    @Html.DropDownList("ddlDetails", ViewData["lstDetails"] as SelectList, new { @class = "form-control select2", @style = "width:100%; max-width:100%" })
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="col-xs-12 col-sm-12 col-md-12" id="divData" name="divData">
        <div class="box box-success">
            <div class="box-body">
                <div id="Sensores" name="Sensores">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                            @Html.Partial("SensorsList")
                        </div>
                    </div>
                </div>
                <div id="PlacasExternas" name="PlacasExternas">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                            @Html.Partial("ExternalPlatesList")
                        </div>
                    </div>
                </div>
                <div id="Coordenadas" name="Coordenadas">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                            @Html.Partial("CoordinatesList")
                        </div>
                    </div>
                </div>
                <div id="Photometer" name="Photometer">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                            @Html.Partial("PhotometerList")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-7">
    <div class="box box-success">
        <div class="box-body">
            <div class="col-xs-12 col-sm-12 col-md-5">
                <label for="radioBtn">@Resources.Vista:</label>
                <div class="input-group">
                    <div id="radioBtn" class="btn-group">
                        <a class="btn btn-success btn-sm active" data-toggle="fun" data-title="F">@Resources.Finca</a>
                        <a class="btn btn-success btn-sm notActive" data-toggle="fun" data-title="I">@Resources.Invernaderos</a>
                        <a class="btn btn-success btn-sm notActive" data-toggle="fun" data-title="T">@Resources.Todo</a>
                        <a class="btn btn-success btn-sm notActive" data-toggle="fun" data-title="N">@Resources.Ninguno</a>
                    </div>
                    <input type="hidden" name="fun" id="fun">
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3">
                <label for="radioBtn">@Resources.DesdeSuUbicacion:</label>
                @Html.TextBox("DistanceFromThisLocation", null, new { @class = "form-control", @id = "DistanceFromThisLocation", @readonly = "readonly" })
            </div>
            <div class="clearfix"></div>
            <div class="Planner_Separator">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div id="map_canvas" style="height:90vh;">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>