﻿@using Resources;

<script src="~/Scripts/Geolocation/PhotometerList.js"></script>

<div class="btn-group">
    <button id="btnPhotometer" name="btnPhotometer" class="btn btn-success waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.ExportarExcel">
        <i class="fa fa-file-excel-o"></i>
    </button>
</div>
<div class="Planner_Separator">
</div>
<div id="PhotometerDataTable">
    <div id="PhotometerListDataTable" class="form-group row">
        <div id="resultsPhotometerList">
            <table id="tablePhotometerList" class="frozen_alert table table-bordered table-striped table-condensed table-hover">
                <thead>
                    <tr>
                        <th>@Resources.Fecha</th>
                        <th>@Resources.Producto</th>
                        <th>@Resources.Cama</th>
                        <th>@Resources.Latitud</th>
                        <th>@Resources.Longitud</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

