﻿@using Resources;

<script src="~/Scripts/Geolocation/SensorsList.js"></script>

<div id="SensorsDataTable">
    <div id="SensorsListDataTable" class="form-group row">
        <div id="resultsSensorsList">
            <table id="tableSensorsList" class="table table-bordered table-striped table-condensed table-hover responsive display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>@Resources.Id</th>
                        <th>@Resources.IdSensor</th>
                        <th>@Resources.Ubicacion</th>
                        <th>@Resources.IdInvernadero</th>
                        <th>@Resources.Latitud</th>
                        <th>@Resources.Longitud</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
