﻿@using Resources;

<div id="Planner_TemplateDetailDataTable" class="form-group row">
    <div id="resultsPlanner_TemplateDetail">
        <table id="tablePlanner_TemplateDetail" class="frozen_alert table table-bordered table-striped table-condensed table-hover">
            <thead>
                <tr>
                    <th>@Resources.Id</th>
                    <th>@Resources.Nombre</th>
                    <th>@Resources.Directrices</th>
                    <th>@Resources.Rendimiento</th>
                    <th>@Resources.InicioDeTarea</th>
                    <th>@Resources.FinDeTarea</th>
                    <th>@Resources.DiasDeRepeticion</th>
                    <th>@Resources.VecesAlDia</th>
                    <th>@Resources.ModoDeProgramacion</th>
                    <th>@Resources.Predecesor</th>
                    <th>@Resources.ModoDeCalculo</th>
                    <th>@Resources.ModoDeGrabacion</th>
                    <th>@Resources.Monitoreado</th>
                    <th>@Resources.Lapso</th>
                    <th>@Resources.SabadoPermitido</th>
                    <th>@Resources.DomingoPermitido</th>
                    <th>@Resources.VacacionesPermitidas</th>
                    <th>@Resources.Activo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var templateDetail in ViewBag.Planner_TemplateDetailDetailList)
                {
                <tr>
                    <td>@templateDetail.TemplateDetailID</td>
                    <td>@templateDetail.Name</td>
                    <td>@templateDetail.Guidelines</td>
                    <td>@templateDetail.Performance</td>
                    <td>@templateDetail.TaskStart</td>
                    <td>@templateDetail.TaskEnd</td>
                    <td>@templateDetail.DaysRepetition</td>
                    <td>@templateDetail.TimesaDay</td>
                    <td>@templateDetail.ScheduleModeID</td>
                    <td>@templateDetail.Predecessor</td>
                    <td>@templateDetail.CalculationModeID</td>
                    <td>@templateDetail.RecordingModeID</td>
                    <td>@Html.CheckBox("chkMonitored", (bool)templateDetail.Monitored, new { @disabled = "disabled" })</td>
                    <td>@templateDetail.Span</td>
                    <td>@Html.CheckBox("chkSaturdayAllowed", (bool)templateDetail.SaturdayAllowed, new { @disabled = "disabled" })</td>
                    <td>@Html.CheckBox("chkSundayAllowed", (bool)templateDetail.SundayAllowed, new { @disabled = "disabled" })</td>
                    <td>@Html.CheckBox("chkHolidayAllowed", (bool)templateDetail.HolidayAllowed, new { @disabled = "disabled" })</td>
                    <td>@Html.CheckBox("chkFlagActive", (bool)templateDetail.ActiveFlag, new { @disabled = "disabled" })</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>