﻿@using Resources;

<div id="Planner_TemplateDataTable" class="form-group row">
    <div id="resultsPlanner_Template">
        <table id="tablePlanner_Template" class="frozen_alert table table-bordered table-striped table-condensed table-hover">
            <thead>
                <tr>
                    <th>@Resources.Id</th>
                    <th>@Resources.Nombre</th>
                    <th>@Resources.Descripcion</th>
                    <th>@Resources.IdTipo</th>
                    <th>@Resources.Tipo</th>
                    <th>@Resources.Activo</th>
                    <th>@Resources.Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var template in ViewBag.Planner_TemplateList)
                {
                <tr>
                    <td>@template.TemplateID</td>
                    <td>@template.PT_Name</td>
                    <td>@template.Description</td>
                    <td>@template.TemplateTypeID</td>
                    <td>@template.PTT_Name</td>
                    <td>@Html.CheckBox("chkFlagActive", (bool)template.ActiveFlag, new { @disabled = "disabled" })</td>
                    <td class="actions">
                        <div class="btn-group">
                            <button class="btn btn-xs" type="button" data-toggle="tooltip" data-placement="top" title="@Resources.Editar" onclick="location='/Planner_Template/Edit?_TemplateID=@template.TemplateID'">
                                <i class="fa fa-edit text-primary"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>