﻿@using Resources;
@using Planner.Model;

@model Planner.Model.IOT_SensorList

@{
    ViewBag.Title = Resources.Sensores + " - " + Resources.BorrarInformacionEnUnRangoDeFechas;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/IOT_SensorList/DeleteDateRange.js"></script>

<div class="btn-group">
    <button id="btnHome" name="btnHome" class="btn btn-warning waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.VolverALaLista" onclick='BackToList()'>
        <i class="fa fa-chevron-left"></i>
    </button>
</div>
<div class="Planner_Separator">
</div>

@Html.HiddenFor(m => m.BusinessUnitID)
@Html.HiddenFor(m => m.GreenHouseID)
@Html.HiddenFor(m => m.ExternalID)

<div class="box box-success">
    <div class="box-body">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="col-xs-12 col-sm-2 col-md-2">
                <label for="startDate">@Resources.FechaInicial</label>
                @Html.TextBox("startDate", null, new { @class = "form-control", @id = "startDate" })
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2">
                <label for="endDate">@Resources.FechaFinal</label>
                @Html.TextBox("endDate", null, new { @class = "form-control", @id = "endDate" })
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2">
                <label for="Description">@Resources.Acciones</label>
                <br />
                <div class="btn-group">
                    <button id="btnSearch" name="btnSearch" class="btn btn-warning waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.Buscar" onclick='Search()'>
                        <i class="fa fa-search"></i>
                    </button>
                    <button id="btnDelete" name="btnDelete" class="btn btn-danger waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.Borrar" onclick='Delete()'>
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="box box-success">
    <div class="box-body">
        <div class="col-xs-12 col-sm-10 col-md-10">
            <div id="SensorDataDataTable">
                <div id="SensorDataListDataTable" class="form-group row">
                    <div id="resultsSensorDataList">
                        <table id="tableSensorDataList" class="table table-bordered table-striped table-condensed table-hover" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>@Resources.Fecha</th>
                                    <th>@Resources.Tipo</th>
                                    <th>@Resources.Valor</th>
                                    <th>@Resources.ServicioWeb</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
