﻿@using Resources;

@{
    ViewBag.Title = Resources.Sensores;
}

<script src="~/Scripts/IOT_SensorList/IOT_SensorList.js"></script>

<div class="btn-group">
    <button id="btnCreate" name="btnCreate" class="btn btn-success waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.Adicionar" >
        <i class="fa fa-plus"></i>
    </button>
    <button id="dataSensor" name="dataSensor" class="btn btn-success waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.ExportarExcel" >
        <i class="fa fa-file-excel-o"></i>
    </button>
</div>
<div class="Planner_Separator">
</div>
<div class="box box-success">
    <div class="box-body">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="form-group">
                @Html.Partial("SensorList")
            </div>
        </div>
    </div>
</div>
