﻿@using Resources;

@model Planner.Model.PRESUPUESTOEntities

<div id="SensorDataTable" class="form-group row">
    <div id="resultsSensor">
        <table id="tableSensor" class="frozen_alert table table-bordered table-striped table-condensed table-hover">
            <thead>
                <tr>
                    <th>@Resources.Id</th>
                    <th>@Resources.UnidadDeNegocio</th>
                    <th>@Resources.Fecha</th>
                    <th>@Resources.Observaciones</th>
                    <th>@Resources.Activo</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var sensor in ViewBag.SensorList)
                {
                    <tr>
                        <td>@sensor.IDDistribucionCosto</td>
                        <td>@sensor.IDUnidadNegocio</td>
                        <td>@sensor.Fecha</td>
                        <td>@sensor.Observaciones</td>                        
                        <td>@Html.CheckBox("chkFlagActive", (bool)sensor.FlagActivo, new { @disabled = "disabled" })</td>
                        <td class="actions">
                            <div class="btn-group">
                                <button class="btn btn-xs" type="button" data-toggle="tooltip" data-placement="top" title="@Resources.Editar" onclick="location='/IOT_SensorList/Edit?IOT_SensorListID=@sensor.IOT_SensorListID'">
                                    <i class="fa fa-pencil text-blue"></i>
                                </button>
                                <button class="btn btn-xs" type="button" data-toggle="tooltip" data-placement="top" title="@Resources.Borrar" onclick="location='/IOT_SensorList/Delete?IOT_SensorListID=@sensor.IOT_SensorListID'">
                                    <i class="fa fa-trash-o text-danger"></i>
                                </button>
                                <button class="btn btn-xs" type="button" data-toggle="tooltip" data-placement="top" title="@Resources.CargarInformacion" onclick="location='/IOT_SensorList/Upload?IOT_SensorListID=@sensor.IOT_SensorListID'">
                                    <i class="fa fa-upload text-warning"></i>
                                </button>
                                <button class="btn btn-xs" type="button" data-toggle="tooltip" data-placement="top" title="@Resources.BorrarInformacionEnUnRangoDeFechas" onclick="location='/IOT_SensorList/DeleteDateRange?IOT_SensorListID=@sensor.IOT_SensorListID'">
                                    <i class="fa fa-calendar-times-o text-danger"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

