﻿@model Planner.Model.Auth_FormsActions

@using Resources;
@using Planner.Model;

@{
    ViewBag.Title = Resources.AccionesDisponiblesEnFormularios + " - " + Resources.Editar;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Auth_FormsActions/Edit.js"></script>

<div class="btn-group">
    <button id="btnHome" name="btnHome" class="btn btn-warning waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.VolverALaLista">
        <i class="fa fa-chevron-left"></i>
    </button>
    <button id="btnSave" name="btnSave" class="btn btn-success waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.Grabar">
        <i class="fa fa-save"></i>
    </button>
</div>
<div class="Planner_Separator">
</div>

<div class="box box-success">
    <div class="box-body">
        <div class="col-xs-12 col-sm-12 col-md-12">
            @using (Html.BeginForm("Edit", "Auth_FormsActions", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "Edit" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="col-xs-12 col-sm-2 col-md-2">
                    <label for="PermissionID">@Resources.Id</label>
                    @Html.TextBoxFor(model => model.ActionID, null, new { @class = "form-control", @readonly = "readonly", @style = "Width: 100%; Max-Width: 100%" })
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <label for="Name">@Resources.Descripcion</label>
                    @Html.TextBoxFor(model => model.Name, null, new { @class = "form-control", @style = "Width: 100%; Max-Width: 100%" })
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <label for="Icon">@Resources.Icono</label>
                    [ <i id="icoOptionIcon" name="icoOptionIcon" class="fa fa-image"></i> ]
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.Icon, null, new { @class = "form-control", @style = "Width: 100%; Max-Width: 100%" })
                        <div class="input-group-btn">
                            <button class="btn btn-warning" type="button" onclick="GoToUrl('https://fontawesome.com/v4.7.0/icons/', true)">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <label for="FlagActive">@Resources.Activo</label>
                    @Html.CheckBoxFor(model => model.FlagActive, new { @class = "checkbox" })
                </div>
            }
        </div>
    </div>
</div>
