﻿@using Resources;

@{
    ViewBag.Title = Resources.AccionesDisponiblesEnFormularios;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Auth_FormsActions/Auth_FormsActions.js"></script>

<div class="col-xs-12 col-sm-12 col-md-12">
    <div class="btn-group">
        <button id="btnCreate" name="btnCreate" class="btn btn-success waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.Adicionar">
            <i class="fa fa-plus"></i>
        </button>
    </div>
</div>
<div class="Planner_Separator">
</div>

<div class="col-xs-12 col-sm-12 col-md-12">
    <div class="box box-success">
        <div class="box-body">
            <div id="Auth_FormsActionsDataTable" class="form-group">
                <div id="resultsAuth_FormsActions">
                    <table id="tableAuth_FormsActions" class="table table-bordered table-striped table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>@Resources.Id</th>
                                <th>@Resources.Descripcion</th>
                                <th>@Resources.Icono</th>
                                <th>@Resources.Activo</th>
                                <th>@Resources.Acciones</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
