﻿@using Resources;
@using Planner.Model;


@{
    ViewBag.Title = Resources.InformacionGradosDia;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/GrowingDegreeDay/GrowingDegreeDay.js"></script>

<div class="btn-group">
    <button id="btnSearch" name="btnSearch" class="btn btn-warning waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.Buscar" onclick='Search()'>
        <i class="fa fa-search"></i>
    </button>
    <button id="btnExcel" name="btnExcel" class="btn btn-success waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.ExportarExcel">
        <i class="fa fa-file-excel-o"></i>
    </button>
</div>
<div class="Planner_Separator">
</div>

<div class="box box-success">
    <div class="box-body">
        <div class="col-xs-12 col-sm-12 col-md-12">
            @using (Html.BeginForm("GrowingDegreeDay", "GrowingDegreeDay", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "Execution" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="col-xs-12 col-sm-2 col-md-2">
                    <label for="startDate">@Resources.FechaInicial</label>
                    @Html.TextBox("startDate", null, new { @class = "form-control", @id = "startDate" })
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <label for="endDate">@Resources.FechaFinal</label>
                    @Html.TextBox("endDate", null, new { @class = "form-control", @id = "endDate" })
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <label for="ddlBusinessUnit">@Resources.UnidadDeNegocio</label>
                    <div class="controls">
                        @Html.DropDownList("ddlBusinessUnit", ViewData["lstBusinessUnit"] as SelectList, null, new { @class = "form-control", @style = "width:100%; max-width:100%" })
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <label for="ddlGreenhouse">@Resources.Bloque</label>
                    <div class="controls">
                        @Html.DropDownList("ddlGreenhouse", ViewData["lstGreenhouse"] as SelectList, null, new { @class = "form-control", @style = "width:100%; max-width:100%" })
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="box box-success">
    <div class="box-body">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="form-group">
                @Html.Partial("GrowingDegreeDayData")
            </div>
        </div>
    </div>
</div>
</div>