﻿@using Resources;

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

<div id="GrowingDegreeDayDataTable" class="form-group row">
    <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-thermometer-three-quarters"></i></span>
            <div class="info-box-content">
                <span class="info-box-text text-sm">Acumulación Total de GDA para el periodo seleccionado</span>
                <span class="info-box-number text-red" style="font-size:xx-large">
                    @Html.Label("totalGdd", new { @class = "info-box-number text-red", @style = "font-size:xx-large; width:100%" })
                </span>
            </div>
        </div>
        <div class="Planner_Separator"></div>
        <div id="resultsGrowingDegreeDay">
            <table id="tableGrowingDegreeDay" class="frozen_alert table table-bordered table-striped table-condensed table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th>@Resources.Id</th>
                        <th>@Resources.Fecha</th>
                        <th>@Resources.Semana</th>
                        <th>GDA</th>
                        <th>>@Resources.Temperatura</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8">
        <div id="canvasDailyGdd">
            <canvas class="col-xs-12 col-sm-12 col-md-12" id="chartDailyGdd"></canvas>
        </div>
    </div>
</div>