﻿@using Resources;

@model Planner.Model.Empleados

<div id="LabelPrint" class="form-group row">
    <div id="resultsLabelPrint">
        <table id="tableLabelPrint" class="frozen_alert table table-bordered table-striped table-condensed table-hover">
            <thead>
                <tr>
                    <th class="text-center">@Html.CheckBox("SelectedAll", false, new { @class = "input-group-text " })</th>
                    <th class="text-center">Código</th>
                    <th class="text-center">Cédula</th>
                    <th class="text-center">Colaborador</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var label in ViewBag.LabelPrint_List)
                {
                    <tr>
                        <td class="text-center">@Html.CheckBox("Selected", false, new { @id = label.ID, @class = "input-group-text" })</td>
                        <td>@label.ID</td>
                        <td>@label.Codigo</td>
                        <td>@label.Nombre</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

