﻿@using Resources;

@model Planner.Model.HORUS_CTRL_NOVEDADESEntities

@{
    ViewBag.Title = Resources.Cultivo;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Planner_Task/Planner_Task.js"></script>


<div class="btn-group">
    <button id="btnCargar" name="btnCargar" class="btn btn-warning waves-effect waves-light" onclick="onClick()">
        <i class="fa fa-search"></i>
    </button>
    <button id="dataPlanner_Template" name="dataPlanner_Task" class="btn btn-success waves-effect waves-light">
        <i class="fa fa-file-excel-o"></i>
    </button>
</div>
<div class="Planner_Separator">
</div>


<div class="box box-success">
    <div class="box-body">
        <div class="col-xs-12 col-sm-12 col-md-2">
            <label for="dateInitial">@Resources.FechaInicial</label>
            @Html.TextBox("startDate", null, new { @class = "form-control", @id = "startDate" })
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2">
            <label for="dateEnd">@Resources.FechaInicial</label>
            @Html.TextBox("endDate", null, new { @class = "form-control", @id = "endDate" })
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
            <label for="ddlCentrosOperacion">Centro Operación:</label>
            @Html.DropDownList("ddlCentrosOperacion", ViewData["lstCentrosOperacion"] as SelectList, new { @class = "form-control", @style = "width:100%; max-width:100%" })
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
            <label for="lstCentrosCosto">Centro Costo:</label>
            @Html.DropDownList("ddlCentrosCosto", ViewData["lstCentrosCosto"] as SelectList, new { @class = "form-control", @style = "width:100%; max-width:100%" })
        </div>
    </div>
</div>

<div class="box box-success">
    <div class="box-body">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="form-group">
                @Html.Partial("GrowingList")
            </div>
        </div>
    </div>
</div>

