﻿@using Resources;

@{
    ViewBag.Title = Resources.Sensores;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/DataTables/media/css/dataTables.jqueryui.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/extensions/FixedHeader/css/fixedHeader.dataTables.min.css" rel="stylesheet" />

<script src="~/Scripts/Satrack/Satrack.js"></script>

<div class="btn-group">
    <button id="btnExcel" name="btnExcel" class="btn btn-success waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.ExportarExcel">
        <i class="fa fa-file-excel-o"></i>
    </button>
</div>
<div class="Planner_Separator">
</div>
<div class="box box-success">
    <div class="box-body">
        @Html.Partial("IndexList")
    </div>
</div>
