﻿@using Resources;
@using System.Data;

@model DataSet

<div id="SensorDataTable" class="form-group">
    <div id="resultsSensor">
        <table id="tableSensor" class="table table-bordered table-striped table-condensed table-hover" style="font-size: 12px;">
            <thead>
                <tr>
                    <th>
                        Placa
                    </th>
                    <th>
                        Descripcion
                    </th>
                    <th>
                        FechaHora_GPS
                    </th>
                    <th>
                        FechaHora_Sistema
                    </th>
                    <th>
                        Velocidad
                    </th>
                    <th>
                        Direccion
                    </th>
                    <th>
                        Direccion2
                    </th>
                    <th>
                        DivPol1
                    </th>
                    <th>
                        DivPol2
                    </th>
                    <th>
                        DivPol3
                    </th>
                    <th>
                        DivPol4
                    </th>
                    <th>
                        Ubicación
                    </th>
                    <th>
                        SentidoLetras
                    </th>
                    <th>
                        Latitud
                    </th>
                    <th>
                        Longitud
                    </th>
                    <th>
                        TipoEvento
                    </th>
                    <th>
                        Clave_Respuesta
                    </th>
                    <th>
                        Edad_Dato
                    </th>
                    <th>
                        Temperatura1
                    </th>
                    <th>
                        Temperatura2
                    </th>
                    <th>
                        Conductor
                    </th>
                    <th>
                        CodigoNombre
                    </th>
                    <th>
                        Prioridad
                    </th>
                    <th>
                        NivelBateria
                    </th>
                    <th>
                        Odometro
                    </th>
                    <th>
                        Estado_Ignicion
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow row in Model.Tables[0].Rows)
                {
                    <tr>
                        <th>
                            @row["Placa"]
                        </th>
                        <th>
                            @row["Descripcion"]
                        </th>
                        <th>
                            @row["FechaHora_GPS"]
                        </th>
                        <th>
                            @row["FechaHora_Sistema"]
                        </th>
                        <th>
                            @row["Velocidad"]
                        </th>
                        <th>
                            @row["Direccion"]
                        </th>
                        <th>
                            @row["Direccion2"]
                        </th>
                        <th>
                            @row["DivPol1"]
                        </th>
                        <th>
                            @row["DivPol2"]
                        </th>
                        <th>
                            @row["DivPol3"]
                        </th>
                        <th>
                            @row["DivPol4"]
                        </th>
                        <th>
                            @row["Ubicacion"]
                        </th>
                        <th>
                            @row["SentidoLetras"]
                        </th>
                        <th>
                            @row["Latitud"]
                        </th>
                        <th>
                            @row["Longitud"]
                        </th>
                        <th>
                            @row["TipoEvento"]
                        </th>
                        <th>
                            @row["Clave_Respuesta"]
                        </th>
                        <th>
                            @row["Edad_Dato"]
                        </th>
                        <th>
                            @row["Temperatura1"]
                        </th>
                        <th>
                            @row["Temperatura2"]
                        </th>
                        <th>
                            @row["Conductor"]
                        </th>
                        <th>
                            @row["CodigoNombre"]
                        </th>
                        <th>
                            @row["Prioridad"]
                        </th>
                        <th>
                            @row["NivelBateria"]
                        </th>
                        <th>
                            @row["Odometro"]
                        </th>
                        <th>
                            @row["Estado_Ignicion"]
                        </th>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>
                        Placa
                    </th>
                    <th>
                        Descripcion
                    </th>
                    <th>
                        FechaHora_GPS
                    </th>
                    <th>
                        FechaHora_Sistema
                    </th>
                    <th>
                        Velocidad
                    </th>
                    <th>
                        Direccion
                    </th>
                    <th>
                        Direccion2
                    </th>
                    <th>
                        DivPol1
                    </th>
                    <th>
                        DivPol2
                    </th>
                    <th>
                        DivPol3
                    </th>
                    <th>
                        DivPol4
                    </th>
                    <th>
                        Ubicación
                    </th>
                    <th>
                        SentidoLetras
                    </th>
                    <th>
                        Latitud
                    </th>
                    <th>
                        Longitud
                    </th>
                    <th>
                        TipoEvento
                    </th>
                    <th>
                        Clave_Respuesta
                    </th>
                    <th>
                        Edad_Dato
                    </th>
                    <th>
                        Temperatura1
                    </th>
                    <th>
                        Temperatura2
                    </th>
                    <th>
                        Conductor
                    </th>
                    <th>
                        CodigoNombre
                    </th>
                    <th>
                        Prioridad
                    </th>
                    <th>
                        NivelBateria
                    </th>
                    <th>
                        Odometro
                    </th>
                    <th>
                        Estado_Ignicion
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
