﻿@using Resources;

<div id="PhotometernDataTable" class="form-group col-lg-12">
    <div id="resultsPhotometer">
        <table id="tablePhotometer" class="frozen_alert table table-bordered table-striped table-condensed table-hover ">
            <thead>
                <tr>
                    <th class="text-center">@Resources.Bloque</th>
                    <th class="text-center">@Resources.Cama</th>
                    <th class="text-center">@Resources.Producto</th>
                    <th class="text-center">@Resources.FechaSiembra</th>
                    <th class="text-center">@Resources.Fecha</th>
                    <th class="text-center">@Resources.NumeroDia</th>
                    <th class="text-center">@Resources.Lumens 1</th>
                    <th class="text-center">@Resources.Lumens 2</th>
                    <th class="text-center">@Resources.Lumens 3</th>
                    <th class="text-center">@Resources.Latitud</th>
                    <th class="text-center">@Resources.Longitud</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var template in ViewBag.Photometer_List)
                {
                <tr>
                    <td>@template.Greenhouse</td>
                    <td>@template.Bed</td>
                    <td>@template.Product</td>
                    <td>@template.DateSowing</td>
                    <td>@template.Date</td>
                    <td>@template.DayNumber</td>
                    <td>@template.LumensV1</td>
                    <td>@template.LumensV2</td>
                    <td>@template.LumensV3</td>
                    <td>@template.GPSLatitude</td>
                    <td>@template.GPSLongitude</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

