﻿@{
    ViewBag.Title = "Seguimiento INV-INC";
}
<script src="~/Scripts/jspdf.min.js"></script>
<script src="~/Content/html2pdf/dist/html2pdf.min.js"></script>
<script src="~/Content/html2pdf/dist/html2pdf.bundle.min.js"></script>

<script src="~/Scripts/InvTracing/Index.js"></script>

<div class="btn-group">
    <button id="btnHome" type="button" name="btnHome" class="btn btn-warning waves-effect waves-light" onclick="BackToList()" data-toggle="tooltip" data-placement="top" title="Volver">
        <i class="fa fa-chevron-left"></i>
    </button>
    <button id="btnPdf" name="btnPdf" class="btn btn-danger waves-effect waves-light" onclick="exportPdf()" data-toggle="tooltip" data-placement="top" title="" data-original-title="PDF">
        <i class="fa fa-file-pdf-o"></i>
    </button>
</div>
<div class="col-sm-12"><br /></div>
<div id="content">
    <div class="box box-success">
        <div class="box-body">
            @foreach (var template in ViewBag.InvTracing_List)
            {
                <div class="row col-lg-12">
                    <div class="col-lg-4">
                        <label>Finca:</label>
                        <span>@template.BusinessUnit</span>
                    </div>
                    <div class="col-lg-2">
                        <label>Bloque:</label>
                        <span>@template.Greenhouse</span>
                    </div>
                    <div class="col-lg-2">
                        <label>Cama:</label>
                        <span>@template.Bed</span>
                    </div>
                    <div class="col-lg-2">
                        <label># Plantas:</label>
                        <span>@template.Units</span>
                    </div>
                </div>
                <div class="row col-lg-12">
                    <div class="col-lg-2">
                        <label>Producto:</label>
                        <span>@template.PlantProduct</span>
                    </div>
                    <div class="col-lg-4">
                        <label>Variedad:</label>
                        <span>@template.Product</span>
                    </div>
                    <div class="col-lg-4">
                        <label>F. Siembra:</label>
                        <span>@template.DateSowing</span>
                    </div>
                    <div class="col-lg-2">
                        <label>S. Siembra:</label>
                        <span>@template.WeekSowing</span>
                    </div>
                    @*<div class="col-lg-2">
                        <label>Obtentor:</label>
                        <span></span>
                    </div>*@
                </div>
            }

        </div>
    </div>

    <div class="box box-success">
        <div class="box-body">
            <div id="Planner_InvTracingDetail" class="form-group col-lg-12">
                <div id="resultsInvTracingDetail">
                    <table id="tableInvTracingDetail" class="frozen_alert table table-bordered table-striped table-condensed table-hover ">
                        <thead>
                            <tr>
                                <td rowspan="2" class="text-center text-bold">Semana</td>
                                <td colspan="2" class="text-center text-bold">Mortalidad</td>
                                <td colspan="4" class="text-center text-bold">Promedio Longitud</td>
                                <td rowspan="2" class="text-center text-bold">Calidad Producto</td>
                                <td rowspan="2" class="text-center text-bold"> Fitosanidad</td>
                                <td colspan="3" class="text-center text-bold">Caldiad Labores</td>
                                <td rowspan="2" class="text-center text-bold">
                                    Fotos <br /> <button onclick="changePhoto()" class="btn btn-xs text-orange" title="Ver">
                                        <i class="fa fa-image"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center text-bold"># Plantas</td>
                                <td class="text-center text-bold">Motivo</td>
                                <td class="text-center text-bold">Cuadro 1</td>
                                <td class="text-center text-bold">Cuadro 2</td>
                                <td class="text-center text-bold">Cuadro 3</td>
                                <td class="text-center text-bold">Cuadro 4</td>
                                <td class="text-center text-bold">Si</td>
                                <td class="text-center text-bold">No</td>
                                <td class="text-center text-bold">Motivo</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var template in ViewBag.InvTracing_ListDetail)
                            {
                                <tr>
                                    <td>@template.DateTracing</td>
                                    <td>@template.Units</td>
                                    <td>@template.Reason</td>
                                    <td>@template.LengthV1</td>
                                    <td>@template.LengthV2</td>
                                    <td>@template.LengthV3</td>
                                    <td>@template.LengthV4</td>
                                    @if (@template.Quality == 1)
                                    {
                                        <td>OK</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    @if (@template.Phytosanity == 1)
                                    {
                                        <td>OK</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    @if (@template.QualityTask == 1)
                                    {
                                        <td>X</td>
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td></td>
                                        <td>X</td>
                                    }
                                    <td>@template.Observation</td>
                                    <td class="photos">
                                        <img id="@template.Photo" class="img-responsive pad" src="" alt="">
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>