﻿@{
    ViewBag.Title = "Seguimiento INV-INC";
}

<script src="~/Scripts/InvTracing/Index.js"></script>
<div class="btn-group">
    <button class="btn btn-warning" onclick="ShowData()"><i class="fa fa-search"></i></button>
</div>
<div class="clearfix"></div>
<br />
<div class="box box-success">
    <div class="box-body">
        <div class="col-md-12 form-inline">
            <div class="col-md-3">
                <label for="Semana">Semana Inicial: </label>
                @Html.DropDownList("ddlWeek", ViewData["listWeek"] as SelectList, "Seleccione", new { @class = "form-control select2", @style = "width:100%", @id = "WeekIDInic" })
            </div>
            <div class="col-md-3">
                <label for="Semana">Semana Final: </label>
                @Html.DropDownList("ddlWeek", ViewData["listWeek"] as SelectList, "Seleccione", new { @class = "form-control select2", @style = "width:100%", @id = "WeekIDFina" })
            </div>
            <div class="col-sm-3 col-lg-3 col-md-3">
                <label for="Finca">Finca: </label>
                @Html.DropDownList("BusinessUnitID", ViewData["BussinesUnitList"] as SelectList, "TODAS", new { @class = "form-control select2", @style = "width:100%", @id = "BusinessUnitID" })
            </div>
        </div>
    </div>
</div>

<div class="box box-success">
    <div class="box-body">
        <div id="Planner_TaskDataTable" class="form-group col-lg-12">
            <div id="resultsPlanner_Task">
                <table id="tablePlanner_Task" class="frozen_alert table table-bordered table-striped table-condensed table-hover ">
                    <thead>
                        <tr>
                            <th class="text-center">Fecha Siembra</th>
                            <th class="text-center">Semana Siembra</th>
                            <th class="text-center">Finca</th>
                            <th class="text-center">Bloque</th>
                            <th class="text-center">Cama</th>
                            <th class="text-center">Producto</th>
                            <th class="text-center">SiembraID</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tbody>
                        @foreach (var template in ViewBag.InvTracing_List)
                        {
                            <tr>
                                <td>@template.DateSowing</td>
                                <td>@template.WeekSowing</td>
                                <td>@template.BusinessUnit</td>
                                <td>@template.Greenhouse</td>
                                <td>@template.Bed</td>
                                <td>@template.Product</td>
                                <td>@template.SowingID</td>
                                <td>
                                    <button onclick="GetDocTracing(@template.SowingID)" class="btn btn-xs text-orange" title="Ver">
                                        <i class="fa fa-file-text"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
