﻿@using Resources;

@{    
    ViewBag.Title = Resources.ImpresionDeEtiquetas;
}

<script src="~/Scripts/LabelPrint/LabelPrint.js"></script>

<div class="btn-group">
    <button id="btnPrintLabel" name="btnPrintLabel" data-target="#ModalParameters" class="btn btn-success waves-effect waves-light" data-toggle="modal" title="@Resources.Imprimir">
        <i class="fa fa-print"></i>
    </button>    
</div>
<div class="Planner_Separator">
</div>

<div class="box box-success">
    <div class="box-body">
        <div class="col-md-12" style="text-align:left">
            <div class="col-xs-3 col-sm-3 col-md-3">
                <label for="ddlCentrosOperacion">Centro Operación:</label>
                @*@Html.DropDownList("ddlCentrosOperacion", ViewData["lstCentrosOperacion"] as SelectList, new { @class = "form-control", @style = "width:100%; max-width:100%" })*@
                @Html.DropDownList("ddlCentrosOperacion", ViewData["lstCentrosOperacion"] as SelectList, new { @class = "form-control select2", @style = "width:100%; max-width:100%" })
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
                <label for="lstCentrosCosto">Centro Costo:</label>
                @*@Html.DropDownList("ddlCentrosCosto", ViewData["lstCentrosCosto"] as SelectList, new { @class = "form-control", @style = "width:100%; max-width:100%" })*@
                @Html.DropDownList("ddlCentrosCosto", ViewData["lstCentrosCosto"] as SelectList, new { @class = "form-control select2", @style = "width:100%; max-width:100%" })
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
                <label for="Nombre"><input type="checkbox" id="NameEnable" title="Activar / Desactivar" />&nbsp;Imprimir Nombre </label>
            </div>
            
        </div>       
    </div>
</div>
<div class="box box-success">
    <div class="box-body">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="form-group">
                @Html.Partial("LabelPrint_List")
            </div>
        </div>
    </div>
</div>

<!-- Crear Modal-->
<div class="modal fade" id="ModalParameters" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Parametros</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="">
                    <div class="">
                        <label for="exampleInputEmail1">Cantidad Etiquetas</label>
                        <input type="number" class="form-control" id="LabelQuantity" placeholder="">
                    </div>
                    <div class="">
                        <label for="exampleInputEmail1">Semana</label>
                        @Html.DropDownList("lstWeek", @ViewBag.lstWeek as IEnumerable<SelectListItem>, null, new { @class = "form-control", @style = "width:100%", @id = "lstWeek" })
                    </div>
                    <div class="">
                        <label for="exampleInputEmail1">Impresora</label>
                        @Html.DropDownList("lstPrinter", @ViewBag.lstPrinter as IEnumerable<SelectListItem>, null, new { @class = "form-control", @style = "width:100%", @id = "lstPrinter" })
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <button class="btn btn-primary" type="button" data-dismiss="modal" onclick="Imprimir()">Imprimir</button>
            </div>
        </div>
    </div>
</div>

