﻿

@using Resources;
@using Planner.Model;


@{
    ViewBag.Title = Resources.Turnos + " - " + Resources.Editar;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.js"></script>

@*<script src="~/Scripts/Auth_FormsActions/Create.js"></script>*@
<script src="~/Scripts/Turns/Edit.js"></script>

<div class="btn-group">
    <button id="btnHome" name="btnHome" class="btn btn-warning waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.VolverALaLista">
        <i class="fa fa-chevron-left"></i>
    </button>
    <button id="btnSave" name="btnSave" class="btn btn-success waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.Grabar">
        <i class="fa fa-save"></i>
    </button>
</div>
<div class="Planner_Separator">
</div>

<div class="box box-success">
    <div class="box-body">
        <div class="col-xs-12 col-sm-12 col-md-12">
            @using (Html.BeginForm("Edit", "Turns", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "Edit" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <label for="PermissionID">@Resources.Id</label>
                    @Html.TextBox("ID", null, new { @class = "form-control", @readonly = "readonly", @style = "Width: 100%; Max-Width: 100%", @id = "ID", @val = ViewBag.Turns_List })
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <label for="Name">@Resources.Descripcion</label>
                    @Html.TextBox("Name", null, new { @class = "form-control", @style = "Width: 100%; Max-Width: 100%", @id = "Name" })
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <label for="startDate">@Resources.Fecha</label>
                    @Html.TextBox("startDate", null, new { @class = "form-control", @id = "startDate" })
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <label for="startTime">@Resources.HoraInicial</label>
                    <div class="input-group bootstrap-timepicker timepicker">
                        @Html.TextBox("startTime", null, new { @class = "form-control timepicker", @id = "startTime" })
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-time"></i>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <label for="endTime">@Resources.HoraFinal|</label>
                    <div class="input-group bootstrap-timepicker timepicker">
                        @Html.TextBox("endTime", null, new { @class = "form-control timepicker", @id = "endTime" })
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-time"></i>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <label for="Name">@Resources.Almuerzo</label>
                    @Html.TextBox("Almuerzo", null, new { @class = "form-control", @style = "Width: 40%; Max-Width: 40%", @type = "number", @min = "0", @id = "Almuerzo" })
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <label for="Name">@Resources.Refrigerio1</label>
                    @Html.TextBox("Refrigerio1", null, new { @class = "form-control", @style = "Width: 40%; Max-Width: 40%", @type = "number", @min = "0", @id = "Refrigerio1" })
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <label for="Name">@Resources.Refrigerio2</label>
                    @Html.TextBox("Refrigerio2", null, new { @class = "form-control", @style = "Width: 40%; Max-Width: 40%", @type = "number", @min = "0", @id = "Refrigerio2" })
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <label for="Name">@Resources.Cena</label>
                    @Html.TextBox("Cena", null, new { @class = "form-control", @style = "Width: 40%; Max-Width: 40%", @type = "number", @min = "0", @id = "Cena" })
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <label for="FlagActive">@Resources.PasaotroDia</label>
                    @*@Html.CheckBoxFor(model => model.FlagActive, new { @class = "checkbox" })*@
                    @Html.CheckBox("PasaotroDia", new { @class = "checkbox", @id = "PasaotroDia" })
                </div>
                <div class="col-xs-12 col-sm-10 col-md-10">
                    <label for="Observaciones">@Resources.Observaciones</label>
                    @Html.TextBox("Observaciones", null, new { @class = "form-control", @style = "Width: 100%; Max-Width: 100%", @id = "Observaciones" })
                </div>
            }
        </div>
    </div>
</div>
<div class="Planner_Separator">
</div>
@*<div class="btn-group">
        <button id="btnAñadirEmpleado" name="btnAñadirEmpleado" data-target="#ModalParameters" class="btn btn-success waves-effect waves-light" data-toggle="modal" title="@Resources.Adicionar">
            <i class="fa fa-plus"></i>
        </button>
    </div>*@

<div class="box box-success">
    <div class="box-body">
        <div class="col-xs-12 col-sm-12 col-md-12">
            @using (Html.BeginForm("Edit", "Turns", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "Edit" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <label for="ddlCompania">@Resources.Compania</label>
                    <div class="controls">
                        @Html.DropDownList("ddlCompania", ViewData["lstCompania"] as SelectList, new { @class = "form-control select2", @multiple = "multiple", @style = "width:100%; max-width:100%" })
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <label for="ddlBusinessUnit">@Resources.UnidadDeNegocio</label>
                    <div class="controls">
                        @Html.DropDownList("ddlUnidadNegocio", ViewData["lstUnidadNegocio"] as SelectList, new { @class = "form-control select2", @multiple = "multiple", @style = "width:100%; max-width:100%" })
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <label for="ddlCentrosOperacion">@Resources.CentrosOperacion</label>
                    <div class="controls">
                        @Html.DropDownList("ddlCentrosOperacion", ViewData["lstCentrosOperacion"] as SelectList, new { @class = "form-control select2", @multiple = "multiple", @style = "width:100%; max-width:100%" })
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <label for="ddlCentrosCosto">@Resources.CentrosCosto</label>
                    <div class="controls">
                        @Html.DropDownList("ddlCentrosCosto", ViewData["lstCentrosCosto"] as SelectList, new { @class = "form-control select2", @multiple = "multiple", @style = "width:100%; max-width:100%" })
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <label for="Empleados">@Resources.Empleados</label>
                    @Html.ListBox("ddlEmpleados", ViewData["lstEmpleados"] as SelectList, new { @class = "form-control select2", @multiple = "multiple", @style = "width:100%; max-width:100%" })
                </div>
            }
        </div>
    </div>
</div>
