﻿@using Resources;
@using Planner.Model;


@{
    ViewBag.Title = Resources.Turnos;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/DataTables/media/css/dataTables.jqueryui.css" rel="stylesheet" />
<link href="~/Content/DataTables/extensions/FixedHeader/css/fixedHeader.dataTables.min.css" rel="stylesheet" />

<script src="//cdn.rawgit.com/ashl1/datatables-rowsgroup/v1.0.0/dataTables.rowsGroup.js"></script>
<script src="~/Scripts/Turns/Turns.js"></script>

<div class="btn-group">
    <button id="btnSearch" name="btnSearch" class="btn btn-warning waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.Buscar" onclick='Search()'>
        <i class="fa fa-search"></i>
    </button>
    <button id="dataExport" name="btnExcel" class="btn btn-success waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.ExportarExcel">
        <i class="fa fa-file-excel-o"></i>
    </button>
    <button id="btnCreate" name="btnCreate" class="btn btn-success waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.Adicionar">
        <i class="fa fa-plus"></i>
    </button>

</div>
<div class="Planner_Separator">
</div>


<div class="box box-success">
    <div class="box-body">
        <div class="col-xs-12 col-sm-4 col-md-3">
            <label for="ddlCompania">@Resources.Compania</label>
            <div class="controls">
                @* @Html.DropDownList("ddlBusinessUnit", ViewData["lstBusinessUnit"] as SelectList, null, new { @class = "form-control", @style = "width:100%; max-width:100%" })*@
                @Html.DropDownList("ddlCompania", ViewData["lstCompania"] as SelectList, new { @class = "form-control select2", @style = "width:100%; max-width:100%" })
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
            <label for="ddlBusinessUnit">@Resources.UnidadDeNegocio</label>
            <div class="controls">
                @* @Html.DropDownList("ddlBusinessUnit", ViewData["lstBusinessUnit"] as SelectList, null, new { @class = "form-control", @style = "width:100%; max-width:100%" })*@
                @Html.DropDownList("ddlUnidadNegocio", ViewData["lstUnidadNegocio"] as SelectList, new { @class = "form-control select2", @style = "width:100%; max-width:100%" })
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
            <label for="ddlCentrosOperacion">@Resources.CentrosOperacion</label>
            <div class="controls">
                @* @Html.DropDownList("ddlBusinessUnit", ViewData["lstBusinessUnit"] as SelectList, null, new { @class = "form-control", @style = "width:100%; max-width:100%" })*@
                @Html.DropDownList("ddlCentrosOperacion", ViewData["lstCentrosOperacion"] as SelectList, new { @class = "form-control select2", @style = "width:100%; max-width:100%" })
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
            <label for="ddlCentrosCosto">@Resources.CentrosCosto</label>
            <div class="controls">
                @* @Html.DropDownList("ddlBusinessUnit", ViewData["lstBusinessUnit"] as SelectList, null, new { @class = "form-control", @style = "width:100%; max-width:100%" })*@
                @Html.DropDownList("ddlCentrosCosto", ViewData["lstCentrosCosto"] as SelectList, new { @class = "form-control select2", @style = "width:100%; max-width:100%" })
            </div>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2">
            <label for="startDate">@Resources.FechaInicial</label>
            @Html.TextBox("startDate", null, new { @class = "form-control", @id = "startDate" })
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2">
            <label for="endDate">@Resources.FechaFinal</label>
            @Html.TextBox("endDate", null, new { @class = "form-control", @id = "endDate" })
        </div>
        @*<div class="col-xs-3 col-sm-3 col-md-3">
                <label for="Activo"><input type="checkbox" id="EmployeesEnable" title="Activos / Inactivos" />&nbsp;Activos </label>
            </div>*@
    </div>
</div>
<div class="box box-success">
    <div class="box-body">
        <div class="col-xs-12 col-sm-12 col-md-12">
            @Html.Partial("Turns_List")
        </div>
    </div>
</div>



