﻿@using Resources;

<div id="TurnsDataTable" class="form-group">
    <div id="resultsTurns">
        <table id="tableTurns" class="table table-bordered table-striped table-condensed table-hover" style="font-size: 12px;">
            <thead>
                <tr>
                    <th class="text-center">Unidad Negocios</th>
                    <th class="text-center">Centro de Costo</th>
                    <th class="text-center">Día</th>
                    <th class="text-center">Turno</th>
                    <th class="text-center">HEntrada</th>
                    <th class="text-center">HSalida</th>
                    <th class="text-center">Canpro</th>
                    <th class="text-center">HJorn</th>
                    <th class="text-center">HED</th>
                    <th class="text-center">HEN</th>
                    <th class="text-center">HFD</th>
                    <th class="text-center">HFDE</th>
                    <th class="text-center">HFN</th>
                    <th class="text-center">HRN</th>
                    <th class="text-center">HRND</th>
                    <th class="text-center">ALM</th>
                    <th class="text-center">Ref.1</th>
                    <th class="text-center">Ref.2</th>
                    <th class="text-center">Cena</th>
                    <th class="text-center">TotalH</th>
                    <th class="text-center">@Resources.Opciones</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
