﻿@model Planner.Model.Aspersion_AspersionEmployees

@{
    ViewBag.Title = "Usuarios Aspersión";
    ViewBag.SubTitle = "Editar usuario";
    var Datos = ViewBag.Datos;

    var x = "";

    if(Model.ActiveFlag == true)
    {
        x = "true";
    }
    else
    {
        x = "false";
    }
}

<!--JS Propio-->
<script src="~/Scripts/Aspersion/AspersionEmployees/AspersionEmployeesEdit.js"></script>

<form id="AspersionEmployees">
    <input type="hidden" id="AspersionEmployeesID" value="@Model.AspersionEmployeesID"/>
    <input type="hidden" id="ActiveFlag" value="@x"/>
    <div class="btn-group">
        <button type="button" id="btnHome" name="btnHome" class="btn btn-warning waves-effect waves-light" onclick="BackToList()">
            <i class="fa fa-chevron-left"></i>
        </button>
        <button type="submit" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Añadir Usuario">
            <i class="fa fa-save"></i>
        </button>
    </div>

    <div class="clearfix"></div>
    <br />
    <div class="box box-success">
        <div class="box-header">
            <h4>Nuevo usuario</h4>
        </div>
        <div class="box-body">
            <div class="col-md-4">
                <label for="Nombres">Nombres :</label><br />
                @Html.TextBoxFor(model => model.Name, null, new { @class = "form-control", @placeholder = "Nombre", @style = "width:100%" })
            </div>

            <div class="col-md-4">
                <label for="Apellidos">Apellidos :</label><br />
                @*<input type="text" class="form-control" id="LastName" required />*@
                @Html.TextBoxFor(model => model.LastName, null, new { @class = "form-control", @placeholder = "Apellido", @style = "width:100%" })
            </div>

            <div class="col-md-4">
                <label for="Rol">Rol :</label><br />
                @Html.DropDownList("RolIDList", ViewData["RolEmployeesList"] as SelectList, null, new { @class = "form-control", @style = "width:100%", @id = "RolID", @required = "required" })
            </div>

            <div class="col-md-4">
                <label for="Supervisor">Supervisor :</label><br />
                @Html.DropDownList("AspersionEmployeesList", ViewData["AspersionEmployeesList"] as SelectList, "", new { @class = "form-control", @style = "width:100%", @id = "AspersionEmployeesID", @disabled = "disabled" })
            </div>

            <div class="col-md-4">
                <label for="Finca">Finca :</label><br />
                @Html.DropDownList("BussinesUnitLista", ViewData["BussinesUnitList"] as SelectList, "Seleccione", new { @class = "form-control", @style = "width:100%", @id = "GreenHouseID", @required = "required" })
            </div>
        </div>
    </div>
</form>