﻿<div class="callout callout-danger" id="ErrorPartial" style="display:none;">
    <h4>Error</h4>
    <p id="mensajeErrorPartial">
        
    </p>
</div>
<form id="AspersionEmployeesForm">
    <div class="btn-group">
        <button type="submit" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Añadir Usuario">
            <i class="fa fa-plus"></i>
        </button>
    </div>

    <div class="clearfix"></div>
    <br />
    <div class="box box-success">
        <div class="box-header">
            <h4>Nuevo usuario</h4>
        </div>
        <div class="box-body">
            <input type="hidden" id="ActiveFlag" name="ActiveFlag" value="1" />
            <div class="col-md-4">
                <label for="Nombres">Nombres :</label><br />
                <input type="text" class="form-control" id="Name" required />
            </div>

            <div class="col-md-4">
                <label for="Apellidos">Apellidos :</label><br />
                <input type="text" class="form-control" id="LastName" required />
            </div>

            <div class="col-md-4">
                <label for="Rol">Rol :</label><br />
                @Html.DropDownList("RolID", ViewData["RolEmployeesList"] as SelectList, "Seleccione", new { @class = "form-control", @style = "width:100%", @id = "RolID", @required = "required" })
            </div>

            <div class="col-md-4">
                <label for="Supervisor">Supervisor :</label><br />
                @Html.DropDownList("AspersionEmployeesID", ViewData["AspersionEmployeesList"] as SelectList, "Seleccione", new { @class = "form-control", @style = "width:100%", @id = "AspersionEmployeesID", @disabled = "disabled" })
            </div>

            <div class="col-md-4">
                <label for="Finca">Finca :</label><br />
                @Html.DropDownList("GreenHouseID", ViewData["BussinesUnitList"] as SelectList, "Seleccione", new { @class = "form-control", @style = "width:100%", @id = "GreenHouseID", @required = "required" })
            </div>
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {

        $("#RolID").on("change", function () {
            if ($(this).val() == 1 || $(this).val() == 0) {
                $("#AspersionEmployeesID").attr("disabled", "disabled");
                $("#AspersionEmployeesID").val("");
            }
            else {
                $("#AspersionEmployeesID").removeAttr("disabled");
                $("#AspersionEmployeesID").val("");
            }
        });

        $("#AspersionEmployeesForm").on("submit", function (e) {
            e.preventDefault();
            var AspersionEmployeesID = $("#AspersionEmployeesID").val();
            var RolID = $("#RolID").val();

            if (!AspersionEmployeesID && RolID != 1) {
                $("#mensajeErrorPartial").text("Debe seleccionar un supervisor, Verifique!");
                $("#ErrorPartial").removeClass("callout-success");
                $("#ErrorPartial").addClass("callout-danger");
                $("#ErrorPartial").show();
                setTimeout(function () { $("#ErrorPartial").hide("slow"); },3000);
                return false;
            }
            
            Create();
            return false;
        });
    });

    function Create() {
        var Name = $("#Name").val();
        var LastName = $("#LastName").val();
        var RolID = $("#RolID").val();
        var AspersionEmployeesID = $("#AspersionEmployeesID").val();
        var GreenHouseID = $("#GreenHouseID").val();
        var ActiveFlag = $("#ActiveFlag").val();

        if (!AspersionEmployeesID && RolID != 1) {
            $("#mensajeErrorPartial").text("Debe seleccionar un supervisor, Verifique!");
            $("#ErrorPartial").removeClass("callout-success");
            $("#ErrorPartial").addClass("callout-danger");
            $("#ErrorPartial").show();
            setTimeout(function () { $("#ErrorPartial").hide("slow"); }, 3000);
            return false;
        }

        var datos = {
            "Name": Name,
            "LastName": LastName,
            "RolID": RolID,
            "AspersionEmployeesID": AspersionEmployeesID,
            "GreenHouseID": GreenHouseID,
            "ActiveFlag": true,
        }

        $.ajax({
            DataType: "json",
            type: "post",
            url: "/AspersionEmployees/Create",
            data: datos,
            success: function (r) {
                $("#mensajeErrorPartial").text(r.Mensaje);
                $("#ErrorPartial").removeClass("callout-danger");
                $("#ErrorPartial").addClass("callout-success");
                $("#ErrorPartial").show();

                //Pinta Combo
                RecargaSelect();

                setTimeout(function () { $("#ErrorPartial").hide("slow"); }, 3000);
                return false;
            }
        })
    }

    function RecargaSelect() {
        var GreenHouseID = $("#GreenHouseID").val();

        var datos = {
            "GreenHouseID": GreenHouseID,
        }
        $.ajax({
            DataType: "json",
            type: "post",
            url: "/AspersionPlan/AllAspersionEmployees",
            data: datos,
            success: function (r) {
                $html = "<option>Seleccione</option>";
                for (x in r) {
                    $html += "<option value='" + r[x]['AspersionEmployeesID'] + "'>" + r[x]['Name'] + " " + r[x]['LastName'] +"</option>";
                }
                $("#_AspersionEmployeesID").html($html);
                console.log($html);
            }
        });
    }
</script>