﻿body {
    /*padding-top: 5px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 10px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.tabs {
  margin: 0 auto;
}
#tab-button {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
#tab-button li {
  display: table-cell;
  width: 20%;
}
#tab-button li a {
  display: block;
  padding: .5em;
  background: #eee;
  border: 1px solid #ddd;
  text-align: center;
  color: #000;
  text-decoration: none;
}
#tab-button li:not(:first-child) a {
  border-left: none;
}
#tab-button li a:hover,
#tab-button .is-active a {
  border-bottom-color: transparent;
  background: #fff;
}
.tab-contents {
  padding: .5em 2em 1em;
  border: 1px solid #ddd;
}

.tab-button-outer {
  display: none;
}
.tab-contents {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .tab-button-outer {
    position: relative;
    z-index: 2;
    display: block;
  }
  .tab-select-outer {
    display: none;
  }
  .tab-contents {
    position: relative;
    top: -1px;
    margin-top: 0;
  }
}

.loader {
  height: 20px;
  width: 250px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.loader--dot {
  animation-name: loader;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: black;
  position: absolute;
  border: 2px solid white;
}
.loader--dot:first-child {
  background-color:#8c6daf;
  animation-delay: 0.5s;
}
.loader--dot:nth-child(2) {
  background-color: #8c6daf;
  animation-delay: 0.4s;
}
.loader--dot:nth-child(3) {
  background-color: #8c6daf;
  animation-delay: 0.3s;
}
.loader--dot:nth-child(4) {
  background-color: #8c6daf;
  animation-delay: 0.2s;
}
.loader--dot:nth-child(5) {
  background-color: #8c6daf;
  animation-delay: 0.1s;
}
.loader--dot:nth-child(6) {
  background-color: #8c6daf;
  animation-delay: 0s;
}
.loader--text {
  position: absolute;
  top: 200%;
  left: 0;
  right: 0;
  width: 4rem;
  margin: auto;
}
.loader--text:after {
  content: "Cargando";
  font-weight: bold;
  animation-name: loading-text;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes loader {
  15% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(230px);
  }
  65% {
    transform: translateX(230px);
  }
  95% {
    transform: translateX(0);
  }
}
@keyframes loading-text {
  0% {
    content: "Cargando";
  }
  25% {
    content: "Cargando.";
  }
  50% {
    content: "Cargando..";
  }
  75% {
    content: "Cargando...";
  }
}

/*Frozen - Alert*/
.frozen_alert {
    table-layout: fixed;
    width: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
}
/*Frozen - Alert*/

table.infobubble {
    min-height: 85px;
    background-color: #FFFFFF;
    color: #000000;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.2em;
}

.txtWeather {
    border: 1px solid #1F567C;
    background-color: #1F567C;
    color: #ffffff;
    width: 100%;
    text-align: right;
    border-collapse: collapse;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#ArmaCamas .item {
    height: 40px !important;
    padding: 6px !important;
    min-height: 0px !important;
}

.recuadro{
    padding: 10px;
}

.callout {
    margin: 0 0 10px 0 !important;
}

.callout.callout-empty {
    background-color: #92651e;
}

.callout.callout-full {
    background-color: #009952;
}


.Planner_Separator {
    width: 100%; 
    height: 0.1em; 
    filter: alpha(opacity=50); 
    opacity: 0.5;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    float: right;
}

    /* Hide default HTML checkbox */
    .switch input {
        display: none;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input.default:checked + .slider {
    background-color: #444;
}

input.primary:checked + .slider {
    background-color: #2196F3;
}

input.success:checked + .slider {
    background-color: #8bc34a;
}

input.info:checked + .slider {
    background-color: #3de0f5;
}

input.warning:checked + .slider {
    background-color: #FFC107;
}

input.danger:checked + .slider {
    background-color: #f44336;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/*Check box*/

.ckxGroup {
    position: relative;
    cursor: pointer;
    color: #666;
    font-size: 16px;
}

.ckx {
    position: absolute;
    right: 9000px;
}

.ckx + .label-text:before {
    content: "\f096";
    font-family: "FontAwesome";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    width: 1em;
    display: inline-block;
    margin-right: 5px;
}

.ckx:checked + .label-text:before {
    content: "\f14a";
    color: #2980b9;
    animation: effect 250ms ease-in;
}

.ckx:disabled + .label-text {
    color: #aaa;
}

.ckx:disabled + .label-text:before {
    content: "\f0c8";
    color: #ccc;
}

.gj-checkbox-md input[type="checkbox"]:checked + span::after{
    top: 0!important;
}

/*
Full screen Modal 
*/
.fullscreen-modal .modal-dialog {
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

@media (min-width: 768px) {
    .fullscreen-modal .modal-dialog {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .fullscreen-modal .modal-dialog {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .fullscreen-modal .modal-dialog {
        width: 1170px;
    }
}

.tdFlat {
    border: 1px solid #111111 !important;
    width: 60px !important;
    padding: 2px !important;
}

.tdFlat > span {
        font-weight: normal!important;
    }

.tableFlat > tbody > tr > td, .tableFlat > thead > tr >th{
    border: 1px solid #111111 !important;
}

.tableFlat > tbody > tr > td {
    padding: 1px!important;
}

.tdFlatSummary {
    border: 1px solid #111111 !important;
    width: 60px !important;
}

.tableFlatSummary > tbody > tr > td, .tableFlatSummary > thead > tr > th {
    border: 1px solid #111111 !important;
}

#myChart {
    height:454px!important;
}

/*DivPdf*/
.DivPdf {
    table-layout: fixed;
    width: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
/*DivPdf*/
