﻿@{
    ViewBag.Title = "Informe de tendencia bloque - Blanco Biológico";
}

<script src="~/Scripts/BlockTrend/Index.js"></script>

<div class="box box-success">
    <div class="box-body">

        <div class="col-sm-3 col-lg-3 col-md-3">
            <label for="Finca">Finca: </label>
            @Html.DropDownList("GreeHouseID", ViewData["BussinesUnitList"] as SelectList, null, new { @class = "form-control select2", @style = "width:100%", @id = "GreeHouseID" })
        </div>

        <div class="col-sm-3 col-lg-3 col-md-3">
            <label for="Producto">Producto: </label>
            @Html.DropDownList("ProductID", ViewData["productList"] as SelectList, null, new { @class = "form-control select2", @style = "width:100%", @id = "ProductID" })
        </div>

        <div class="col-sm-3 col-lg-3 col-md-3">
            <label for="Blanco Biológico">Blanco Biológico: </label>
            @Html.DropDownList("PestID", ViewData["listaBT"] as SelectList, null, new { @class = "form-control select2", @style = "width:100%", @id = "PestID" })
        </div>

        <div class="col-sm-3 col-md-3 col-lg-3 text-center">
            <br />
            <button class="btn btn-primary" id="DrawReport">Enviar</button>
        </div>
    </div>
</div>

<div class="box box-success">
    <div class="box-body">
        <div style="z-index:999" id="cargaCanvas">
            @*<canvas id="myChart"></canvas>*@
        </div>
    </div>
</div>