﻿@using Resources;



<div id="resultsEmployees">
    <table id="tableEmployees" class="frozen_alert table table-bordered table-striped table-condensed table-hover ">
        <thead>
            <tr>
                <th class="text-center">Código</th>
                <th class="text-center">Cédula</th>
                <th class="text-center">Nombre</th>
                <th class="text-center">FIngreso</th>
                <th class="text-center">Cargo</th>
                <th class="text-center">Compañías</th>
                <th class="text-center">Unidades de Negocios</th>
                <th class="text-center">Centro de Operación</th>
                <th class="text-center">Centro de Costos</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var template in ViewBag.Employees_List)
            {
            <tr>
                <td>@template.Codigo</td>
                <td>@template.Cedula</td>
                <td>@template.Nombre</td>
                <td>@template.FIngreso</td>
                <td>@template.Cargo</td>
                <td>@template.Companias</td>
                <td>@template.UnidadNegocio</td>
                <td>@template.CentroOperacion</td>
                <td>@template.CentrosCosto</td>
            </tr>
            }
        </tbody>
    </table>
</div>






