﻿@using Resources;
@using Planner.Model;


@{
    ViewBag.Title = Resources.Empleados;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Employees/Employees.js"></script>

<div class="btn-group">
    <button id="btnSearch" name="btnSearch" class="btn btn-warning waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.Buscar" onclick='Search()'>
        <i class="fa fa-search"></i>
    </button>
    <button id="dataExport" name="btnExcel" class="btn btn-success waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.ExportarExcel">
        <i class="fa fa-file-excel-o"></i>
    </button>
</div>
<div class="Planner_Separator">
</div>


<div class="box box-success">
    <div class="box-body">
        <div class="col-xs-12 col-sm-4 col-md-3">
            <label for="ddlCompania">@Resources.Compania</label>
            <div class="controls">
                @* @Html.DropDownList("ddlBusinessUnit", ViewData["lstBusinessUnit"] as SelectList, null, new { @class = "form-control", @style = "width:100%; max-width:100%" })*@
                @Html.DropDownList("ddlCompania", ViewData["lstCompania"] as SelectList, new { @class = "form-control select2", @style = "width:100%; max-width:100%" })
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
            <label for="ddlBusinessUnit">@Resources.UnidadDeNegocio</label>
            <div class="controls">
                @* @Html.DropDownList("ddlBusinessUnit", ViewData["lstBusinessUnit"] as SelectList, null, new { @class = "form-control", @style = "width:100%; max-width:100%" })*@
                @Html.DropDownList("ddlUnidadNegocio", ViewData["lstUnidadNegocio"] as SelectList, new { @class = "form-control select2", @style = "width:100%; max-width:100%" })
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
            <label for="ddlCentrosOperacion">@Resources.CentrosOperacion</label>
            <div class="controls">
                @* @Html.DropDownList("ddlBusinessUnit", ViewData["lstBusinessUnit"] as SelectList, null, new { @class = "form-control", @style = "width:100%; max-width:100%" })*@
                @Html.DropDownList("ddlCentrosOperacion", ViewData["lstCentrosOperacion"] as SelectList, new { @class = "form-control select2", @style = "width:100%; max-width:100%" })
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
            <label for="ddlCentrosCosto">@Resources.CentrosCosto</label>
            <div class="controls">
                @* @Html.DropDownList("ddlBusinessUnit", ViewData["lstBusinessUnit"] as SelectList, null, new { @class = "form-control", @style = "width:100%; max-width:100%" })*@
                @Html.DropDownList("ddlCentrosCosto", ViewData["lstCentrosCosto"] as SelectList, new { @class = "form-control select2", @style = "width:100%; max-width:100%" })
            </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
            <label for="Activo"><input type="checkbox" id="EmployeesEnable" title="Activos / Inactivos" />&nbsp;Activos </label>
        </div>
    </div>
</div>
<div class="box box-success">
    <div class="box-body">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="form-group">
                @Html.Partial("Employees_List")
            </div>
        </div>
    </div>
</div>

