﻿@using Resources;
@using Fitosanidad.Models
@model LoginViewModel
@{
    ViewBag.Title = Resources.IniciarSesion;
    Layout = null;
}

<script src="~/Scripts/Account/Login.js"></script>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@Resources.NombreAplicacion | @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Content/Account/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <link href="~/Content/Account/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper" style="background-image: url('/Content/img/bg-registration-form-1.jpg');">
        <div class="inner">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "Login" }))
            {
                <h3>@ViewBag.Title</h3>
                <div class="form-wrapper">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = Resources.Usuario, @style = "width:100%; max-width:100%" })
                    <i class="zmdi zmdi-account"></i>
                </div>
                <div class="form-wrapper">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = Resources.Contrasena, @style = "width:100%; max-width:100%" })
                    <i class="zmdi zmdi-lock"></i>
                </div>
                <button>
                    @Resources.IniciarSesion
                    <i class="zmdi zmdi-arrow-right"></i>
                </button>
                <br />
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                <br />
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                <br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            }
        </div>
    </div>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
