﻿@using Resources;
@using Planner.Model;


@{
    ViewBag.Title = "Fitosanidad";
    ViewBag.Subtitle = "Visor Dinámico" ;

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/PhytosanityDinamic/PhytosanityDynamic.js"></script>

<div class="btn-group">
    <button id="btnSearch" name="btnSearch" class="btn btn-warning waves-effect waves-light" onclick="Search()" data-toggle="tooltip" data-placement="top" title="@Resources.Consultar">
        <i class="fa fa-search"></i>
    </button>
    <button id="btnPdf" name="btnPdf" class="btn btn-danger waves-effect waves-light" onclick="getPdf()" data-toggle="tooltip" data-placement="top" title="PDF">
        <i class="fa fa-file-pdf-o"></i>
    </button>
</div>
<div class="Planner_Separator">
</div>

<div class="box box-success">
    <div class="box-body">
        <div class="col-md-12">
            <div class="col-md-2">
                <label for="lstWeek">@Resources.Semana:</label>
                @Html.DropDownList("InitialWeek", @ViewBag.lstWeek as IEnumerable<SelectListItem>, null, new { @class = "form-control select2", @style = "width:100%", @id = "InitialWeek" })
            </div>

            <div class="col-md-2">
                <label for="lstWeek">@Resources.Semana:</label>
                @Html.DropDownList("EndlWeek", @ViewBag.lstWeek as IEnumerable<SelectListItem>, null, new { @class = "form-control select2", @style = "width:100%", @id = "EndlWeek" })
            </div>
        </div>
    </div>
</div>

<div class="box box-success">
    <div class="box-body">
        <div id="pivDynamic">
        </div>
    </div>
</div>
