@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);

.dhx_btn,
.dhx_btn_small {
    padding: 6px 12px;
    line-height: 20px
}

    .dhx_btn .dxi,
    .dhx_btn_small .dxi {
        font-size: 20px;
        margin-right: 4px;
        margin-left: -4px
    }

.dhx_btn--flat {
    color: #015785
}

.dhx_btn_small {
    padding: 4px 8px !important;
    font-size: 14px;
    line-height: 20px
}

.dhx_widget,
.dhx_widget button,
.dhx_widget input,
.dhx_widget select,
.dhx_widget textarea {
    font-family: Roboto, Arial, Tahoma, Verdana, sans-serif;
    font-size: 14px;
    line-height: 1;
    color: rgba(0, 0, 0, .7);
    font-weight: 400;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

    .dhx_widget button {
        font-weight: 500
    }

    .dhx_widget .dxi,
    .dhx_widget .fas,
    .dhx_widget .mdi {
        font-size: 24px
    }

.dhx_noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

.dhx_widget input:focus::-webkit-input-placeholder {
    color: transparent
}

.dhx_widget input:focus:-moz-placeholder,
.dhx_widget input:focus::-moz-placeholder {
    color: transparent
}

.dhx_widget input:focus:-ms-input-placeholder {
    color: transparent
}

.dhx_footer_wrapper,
.dhx_header_wrapper {
    font-size: 14px;
    font-weight: 500;
    position: relative;
    z-index: 4;
    overflow: hidden;
    box-sizing: border-box;
    color: rgba(0, 0, 0, .38);
    background: #fff
}

    .dhx_footer_wrapper.dhx_compatible_header,
    .dhx_header_wrapper.dhx_compatible_header {
        border-right: none
    }

    .dhx_footer_wrapper:last-child,
    .dhx_header_wrapper:last-child {
        border-bottom: none
    }

.dhx_grid_header {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    height: 100%;
    white-space: nowrap;
    border-bottom: 1px solid #f2f2f2;
    background: #fff
}

.dhx_grid_footer .dhx_grid_footer_cell,
.dhx_grid_header_cell {
    font-family: Roboto, Arial, Tahoma, Verdana, sans-serif;
    font-weight: 400;
    position: relative;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    height: 100%;
    padding: 0 8px;
    vertical-align: top;
    white-space: nowrap;
    border-left: 1px solid #ededed;
    font-weight: 500;
    cursor: default;
    user-select: none;
    border-top: 1px solid #ededed;
    border-left: none
}

    .dhx_grid_footer .dhx_grid_footer_cell:last-child,
    .dhx_grid_header_cell:last-child {
        border-right: 1px solid #ededed
    }

    .dhx_grid_footer .dhx_grid_footer_cell:not(.dhx_cell_first),
    .dhx_grid_header_cell:not(.dhx_cell_first) {
        border-left: 1px solid #ededed
    }

    .dhx_grid_footer .dhx_grid_footer_cell:first-child,
    .dhx_grid_header_cell:first-child {
        border-left: none
    }

.dhx_cell_empty {
    border-top: none
}

.dhx_header_row {
    box-sizing: border-box;
    white-space: nowrap;
    border-right: 1px solid #ededed
}

    .dhx_grid_footer .dhx_header_row:first-child .dhx_grid_footer_cell,
    .dhx_header_row:first-child .dhx_grid_footer .dhx_grid_footer_cell,
    .dhx_header_row:first-child .dhx_grid_header_cell {
        border-top: none
    }

    .dhx_header_row:last-child {
        border-bottom: none
    }

        .dhx_grid_footer .dhx_header_row:last-child .dhx_grid_footer_cell,
        .dhx_header_row:last-child .dhx_cell_first,
        .dhx_header_row:last-child .dhx_grid_footer .dhx_grid_footer_cell,
        .dhx_header_row:last-child .dhx_grid_header_cell {
            border-bottom: 1px solid #ededed
        }

.dhx_header_spans {
    position: absolute;
    top: 0
}

.dhx_span_row:only-child .dhx_span_cell {
    border-bottom: 1px solid #ededed
}

    .dhx_span_row:only-child .dhx_span_cell:only-child {
        border-right: none
    }

.dhx_span_row::last-child {
    border-bottom: 1px solid #ededed
}

.dhx_grid_filter {
    height: 24px;
    padding: 0 4px;
    color: rgba(0, 0, 0, .38);
    border: 1px solid #ededed;
    border-radius: 2px;
    outline: none
}

.dhx_grid_footer {
    position: relative;
    background: #fff;
    border-top: 1px solid #ededed
}

    .dhx_grid_footer .dhx_grid_footer_cell {
        background: #f9f9f9;
        border-top: none;
        border-bottom: 1px solid #ededed
    }

        .dhx_grid_footer .dhx_grid_footer_cell:after {
            display: none
        }

        .dhx_grid_footer .dhx_grid_footer_cell.dhx_number_cell {
            text-align: right
        }

        .dhx_grid_footer .dhx_grid_footer_cell.dhx_string_cell {
            text-align: left
        }

.dhx_footer_row {
    box-sizing: border-box;
    white-space: nowrap;
    border-right: 1px solid #ededed;
    border-bottom: 1px solid #ededed
}

    .dhx_footer_row:first-child .dhx_grid_footer_cell {
        border-top: none
    }

    .dhx_footer_row:last-child {
        border-bottom: none
    }

        .dhx_footer_row:last-child .dhx_cell_first,
        .dhx_footer_row:last-child .dhx_grid_footer_cell {
            border-bottom: 1px solid #ededed
        }

.dhx_footer_spans .dhx_span_cell {
    background: #f9f9f9
}

.dhx_grid_row {
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    white-space: nowrap;
    background: #fff;
    border-right: 1px solid #ededed
}

    .dhx_grid_row:first-child .dhx_grid_cell {
        border-top: none
    }

    .dhx_grid_row:last-child {
        border-bottom: 1px solid #ededed
    }

.dhx_grid_cell {
    font-family: Roboto, Arial, Tahoma, Verdana, sans-serif;
    position: relative;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    height: 100%;
    padding: 0 8px;
    vertical-align: top;
    white-space: nowrap;
    border-top: 1px solid #ededed;
    border-left: 1px solid #ededed;
    font-weight: 400;
    color: rgba(0, 0, 0, .7);
    font-size: 14px;
    text-align: right
}

    .dhx_grid_cell:last-child {
        border-right: 1px solid #ededed
    }

    .dhx_grid_cell.dhx_number_cell {
        text-align: right
    }

    .dhx_grid_cell.dhx_string_cell {
        text-align: left
    }

    .dhx_grid_cell:first-child {
        border-left: none
    }

.dhx_grid_cell--first {
    border-top: none
}

.dhx_grid_cell--title {
    font-weight: 500;
    color: rgba(0, 0, 0, .38);
    font-size: 14px;
    text-align: left;
    border-bottom: none
}

.dhx_grid_cell--after-title,
.dhx_grid_cell--title {
    border-top: 1px solid #ededed
}

.dhx_tree_cell {
    text-align: left;
    color: rgba(0, 0, 0, .38);
    font-weight: 500
}

    .dhx_tree_cell .dhx_grid_expand_cell_icon {
        position: absolute;
        top: 0;
        cursor: pointer;
        width: 24px;
        font-size: 24px;
        padding: 0 0 0 4px
    }

    .dhx_tree_cell .dhx_tree_cell {
        padding: 0 8px;
        display: inline-block
    }

.dhx_grid_expand_cell {
    cursor: pointer
}

    .dhx_grid_expand_cell .dhx_tree_cell {
        padding: 0 10px 0 30px
    }

.dhx_span_cell {
    font-family: Roboto, Arial, Tahoma, Verdana, sans-serif;
    font-weight: 400;
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: 100%;
    padding: 0 8px;
    vertical-align: top;
    white-space: nowrap;
    border-left: 1px solid #ededed;
    font-weight: 500;
    position: absolute;
    z-index: 2;
    display: block;
    box-sizing: border-box;
    height: auto;
    background: #fff;
    border-bottom: none;
    border-top: 1px solid #ededed
}

.dhx_span_cell--title {
    color: rgba(0, 0, 0, .38)
}

.dhx_span_cell:last-child {
    border-right: 1px solid #ededed
}

.dhx_span_row:first-child .dhx_span_cell {
    border-top: none
}

.dhx_grid_spans {
    position: absolute;
    top: 0;
    left: 0
}

    .dhx_grid_spans .dhx_span_cell {
        font-weight: 400;
        line-height: normal;
        text-align: right;
        white-space: normal;
        color: rgba(0, 0, 0, .7);
        background: #fff
    }

        .dhx_grid_spans .dhx_span_cell:last-child {
            border-right: none
        }

        .dhx_grid_spans .dhx_span_cell.dhx_span_first_row {
            border-top: none
        }

        .dhx_grid_spans .dhx_span_cell.dhx_span_first_col {
            border-left: none
        }

        .dhx_grid_spans .dhx_span_cell.dhx_span_last_col {
            border-right: 1px solid #ededed
        }

.dhx_grid {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: #fff
}

    .dhx_grid,
    .dhx_grid * {
        box-sizing: border-box
    }

.dhx_grid_content {
    position: relative;
    border: 1px solid #d9d9d9;
    background: #fff;
    height: 100% !important;
}

.dhx_grid_body {
    overflow: auto !important;
}

.dhx_data_wrap,
.dhx_grid_body {
    position: relative;
    width: 100%;
    height: 100% !important;
}

.dhx_data_wrap {
    overflow: hidden
}

.dhx_sort--asc:after {
    border-bottom: 5px solid rgba(0, 0, 0, .38)
}

.dhx_sort--asc:after,
.dhx_sort--desc:after {
    content: "";
    position: absolute;
    top: 45%;
    right: 10%;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent
}

.dhx_sort--desc:after {
    border-top: 5px solid rgba(0, 0, 0, .38)
}

@font-face {
    font-family: DHX Icons;
    src: url(fonts/dhxicons-webfont.eot);
    src: url(fonts/dhxicons-webfont.eot) format("embedded-opentype"), url(fonts/dhxicons-webfont.woff2) format("woff2");
    font-weight: 400;
    font-style: normal
}

.dxi-set,
.dxi:before {
    display: block;
    font: normal normal normal 24px/1 DHX Icons;
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.dxi-chevron-down:before {
    content: "\F140"
}

.dxi-chevron-up:before {
    content: "\F143"
}

.dxi-filter-variant:before {
    content: "\F236"
}

.dxi-close:before {
    content: "\F156"
}

.dxi-unfold-more-horizontal:before {
    content: "\F54F"
}

.dxi-check:before {
    content: "\F12C"
}

.dxi-plus:before {
    content: "\F415"
}

.dxi-delete-forever:before {
    content: "\F5E8"
}

.dxi-download:before {
    content: "\F1DA"
}

.dxi-alert-circle:before {
    content: "\F028"
}

.dxi-checkbox-marked-circle:before {
    content: "\F133"
}

.dxi-undo:before {
    content: "\F54C"
}

.dxi-redo:before {
    content: "\F44E"
}

.dxi-format-align-center:before {
    content: "\F260"
}

.dxi-format-align-left:before {
    content: "\F262"
}

.dxi-format-align-right:before {
    content: "\F263"
}

.dxi-format-bold:before {
    content: "\F264"
}

.dxi-format-italic:before {
    content: "\F277"
}

.dxi-format-underline:before {
    content: "\F287"
}

.dxi-key:before {
    content: "\F306"
}

.dxi-eraser:before {
    content: "\F1FE"
}

.dxi-table-column:before {
    content: "\F834"
}

.dxi-table-column-plus-before:before {
    content: "\F4ED"
}

.dxi-table-column-remove:before {
    content: "\F4EE"
}

.dxi-table-row:before {
    content: "\F836"
}

.dxi-table-row-plus-after:before {
    content: "\F4F3"
}

.dxi-table-row-remove:before {
    content: "\F4F5"
}

.dxi-information-variant:before {
    content: "\F64E"
}

.dxi-menu-down:before {
    content: "\F35D"
}

.dxi-help-circle-outline:before {
    content: "\F625"
}

.dxi-close-circle:before {
    content: "\F159"
}

.dxi-menu-right:before {
    content: "\F35F"
}

.dxi-blank:before {
    content: "\F68C";
    visibility: hidden
}

.dxi-18px.dxi-set,
.dxi-18px.dxi:before {
    font-size: 18px
}

.dxi-24px.dxi-set,
.dxi-24px.dxi:before {
    font-size: 24px
}

.dxi-36px.dxi-set,
.dxi-36px.dxi:before {
    font-size: 36px
}

.dxi-48px.dxi-set,
.dxi-48px.dxi:before {
    font-size: 48px
}

.dxi-dark:before {
    color: rgba(0, 0, 0, .54)
}

.dxi-dark.mdi-inactive:before {
    color: rgba(0, 0, 0, .26)
}

.dxi-light:before {
    color: #fff
}

.dxi-light.mdi-inactive:before {
    color: hsla(0, 0%, 100%, .3)
}

.dxi-rotate-45:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.dxi-rotate-90:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.dxi-rotate-135:before {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg)
}

.dxi-rotate-180:before {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.dxi-rotate-225:before {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg)
}

.dxi-rotate-270:before {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg)
}

.dxi-rotate-315:before {
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg)
}

.dxi-flip-h:before {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH"
}

.dxi-flip-v:before {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV"
}

.dxi-spin:before {
    -webkit-animation: a 2s infinite linear;
    animation: a 2s infinite linear
}

@-webkit-keyframes a {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes a {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

.dhx_noselect {
    user-select: none
}

body,
html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size-adjust: 100%
}

.dhx_flex_cont {
    display: flex;
    flex-direction: row;
    align-content: flex-start
}

.dhx_checkbox {
    position: relative;
    width: 100%;
    display: inline-block;
    cursor: pointer
}

    .dhx_checkbox input {
        visibility: hidden
    }

input + .dhx_checkbox_icon {
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border: 1.2px solid rgba(0, 0, 0, .38);
    background-color: #fff
}

input:checked + .dhx_checkbox_icon {
    background: #3da0e3 no-repeat;
    border: 1.2px solid #3da0e3;
    color: #fff;
    font-size: 1rem
}

.dhx_checkbox .dhx_checkbox_label {
    display: inline-block;
    padding: 0 8px;
    user-select: none
}

.dhx_card {
    border: 1px solid #e6e6e6
}

.dhx_card,
.dhx_filter {
    width: 330px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3)
}

.dhx_filter {
    font-family: Roboto, Arial, Tahoma, Verdana, sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    height: 370px;
    padding: 20px;
    background: #fff
}

.dhx_filter_dateField {
    display: flex;
    justify-content: stretch
}

    .dhx_filter_dateField .dhx_date_input {
        position: relative;
        display: flex;
        flex-direction: row;
        flex: 1;
        width: 40%;
        height: 34px;
        justify-content: space-between
    }

        .dhx_filter_dateField .dhx_date_input:first-child {
            margin-right: 23px
        }

            .dhx_filter_dateField .dhx_date_input:first-child:after {
                position: absolute;
                top: 45%;
                right: -15.5px;
                display: block;
                width: 10px;
                height: 2px;
                content: "";
                background: #848484
            }

        .dhx_filter_dateField .dhx_date_input input {
            font-size: 14px;
            color: rgba(0, 0, 0, .7);
            font-family: Roboto, Arial, Tahoma, Verdana, sans-serif;
            border: 1px solid #e6e6e6;
            max-width: 130px;
            padding: 0 10px;
            outline: none;
            box-sizing: border-box
        }

            .dhx_filter_dateField .dhx_date_input input::placeholder {
                font-size: 14px;
                color: rgba(0, 0, 0, .38);
                font-family: Roboto, Arial, Tahoma, Verdana, sans-serif
            }

            .dhx_filter_dateField .dhx_date_input input:hover {
                border: 1px solid #ccc
            }

            .dhx_filter_dateField .dhx_date_input input:focus {
                border: 1px solid #3da0e3;
                box-shadow: 0 0 2px 0 #3da0e3
            }

        .dhx_filter_dateField .dhx_date_input.dhx_alert {
            border: 1px solid #e10000
        }

.dhx_filter_field {
    display: flex;
    width: 100%;
    justify-content: stretch;
    align-items: stretch
}

    .dhx_filter_field select {
        font-family: Roboto, Arial, Tahoma, Verdana, sans-serif;
        font-size: 14px;
        color: rgba(0, 0, 0, .7);
        width: 100%;
        height: 34px;
        padding: 0 5px 0 10px;
        border: 1px solid #e6e6e6;
        border-right: none;
        outline: none;
        background-color: #f7f7f7
    }

        .dhx_filter_field select::placeholder {
            font-size: 14px;
            color: rgba(0, 0, 0, .7);
            font-family: Roboto, Arial, Tahoma, Verdana, sans-serif
        }

    .dhx_filter_field .dhx_field_input {
        flex: 1;
        height: 34px
    }

        .dhx_filter_field .dhx_field_input input {
            font-size: 14px;
            color: rgba(0, 0, 0, .7);
            font-family: Roboto, Arial, Tahoma, Verdana, sans-serif;
            border: 1px solid #e6e6e6;
            outline: none;
            display: block;
            width: 100%;
            max-width: 100%;
            height: 100%;
            padding: 0 0 0 10px;
            background-color: #f7f7f7
        }

            .dhx_filter_field .dhx_field_input input::placeholder {
                font-size: 14px;
                color: rgba(0, 0, 0, .38);
                font-family: Roboto, Arial, Tahoma, Verdana, sans-serif
            }

            .dhx_filter_field .dhx_field_input input:hover {
                border: 1px solid #ccc
            }

            .dhx_filter_field .dhx_field_input input:focus {
                border: 1px solid #3da0e3;
                box-shadow: 0 0 2px 0 #3da0e3
            }

            .dhx_filter_field .dhx_field_input input.dhx_alert {
                border: 1px solid #e10000
            }

.dhx_filter_content {
    overflow: auto;
    flex: 1;
    margin-top: 14px
}

    .dhx_filter_content .dhx_filter_selectAll {
        display: inline-block;
        margin-bottom: 13px;
        cursor: pointer;
        user-select: none;
        border-bottom: 1px dashed #0288d1;
        color: rgba(0, 0, 0, .7);
        font-size: 14px
    }

        .dhx_filter_content .dhx_filter_selectAll:hover {
            color: #3da0e3
        }

    .dhx_filter_content .dhx_list_item {
        margin: 0 0 8px
    }

    .dhx_filter_content .dhx_checkbox_label {
        font-size: 14px;
        color: rgba(0, 0, 0, .7)
    }

.dhx_filter_btns {
    display: flex;
    padding-top: 20px;
    border-top: 1px solid #ededed;
    justify-content: flex-end
}

    .dhx_filter_btns .dhx_btn:first-child,
    .dhx_filter_btns .dhx_btn_small:first-child {
        margin-right: 20px
    }

.dhx_btn,
.dhx_btn_small {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 10px 12px;
    border-radius: 2px;
    font-family: Roboto, Arial, Tahoma, Verdana, sans-serif;
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase
}

    .dhx_btn_small svg,
    .dhx_btn svg {
        margin-right: 8px;
        margin-left: -4px;
        fill: #fff
    }

    .dhx_btn_small span,
    .dhx_btn span {
        line-height: 24px;
        position: relative;
        top: 1px
    }

    .dhx_btn:hover,
    .dhx_btn_small:hover {
        color: #fff;
        background: #0278b8;
        cursor: pointer
    }

    .dhx_btn .action,
    .dhx_btn:active,
    .dhx_btn_small .action,
    .dhx_btn_small:active {
        background: #0278b8
    }

.dhx_btn--active {
    background: #0288d1;
    color: #fff
}

    .dhx_btn--active:hover {
        color: #fff;
        background: #0278b8;
        cursor: pointer
    }

.dhx_btn--flat {
    border: none;
    background: transparent;
    color: #1b79b9
}

    .dhx_btn--flat:hover {
        background: rgba(2, 136, 209, .2);
        color: #015785;
        cursor: pointer
    }

.dhx_config_field {
    display: inline-flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: row-reverse;
    justify-content: flex-start;
    position: relative;
    min-height: 58px;
    border: 1px dashed #3da0e3;
    margin-top: 1em;
    font-family: Roboto, Arial, Tahoma, Verdana, sans-serif
}

.dhx_field_header {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    box-sizing: border-box;
    padding: 8px 12px 8px 8px
}

    .dhx_field_header .field_name {
        color: rgba(0, 0, 0, .7);
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase
    }

    .dhx_field_header .field_helper {
        color: rgba(0, 0, 0, .38);
        font-size: 12px;
        text-transform: uppercase
    }

.dhx_field_content {
    flex-direction: row;
    flex-grow: 2;
    flex-wrap: wrap;
    overflow: auto;
    max-height: 100px
}

.dhx_config_item,
.dhx_field_content,
.dhx_shadow {
    display: flex;
    align-items: center;
    box-sizing: border-box
}

.dhx_config_item,
.dhx_shadow {
    position: relative;
    overflow: hidden;
    flex-direction: row-reverse;
    height: 34px;
    margin: 6px;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    color: #fff;
    border-radius: 2px;
    justify-content: center
}

    .dhx_config_item .item_body,
    .dhx_shadow .item_body {
        display: flex;
        flex-direction: row-reverse;
        height: 100%;
        align-items: center;
        transition: background .2s;
        background: #3da0e3;
        padding: 0 4px
    }

        .dhx_config_item .item_body:hover,
        .dhx_shadow .item_body:hover {
            background: #0e8ee3;
            background: #2795e0
        }

            .dhx_config_item .item_body:hover .dhx_item_filter,
            .dhx_shadow .item_body:hover .dhx_item_filter {
                color: #fff;
                transition: all .2s
            }

    .dhx_config_item .item_content,
    .dhx_shadow .item_content {
        padding: 0 8px;
        align-self: center;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500
    }

    .dhx_config_item:first-child,
    .dhx_shadow:first-child {
        margin-left: 8px
    }

    .dhx_config_item:last-child,
    .dhx_shadow:last-child {
        margin-right: 0
    }

    .dhx_config_item.dhx_on_hover,
    .dhx_on_hover.dhx_shadow {
        background: #2795e0
    }

    .dhx_config_item .dhx_close,
    .dhx_shadow .dhx_close {
        display: flex;
        height: 100%;
        padding: 0 4px 0 0;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem
    }

        .dhx_config_item .dhx_close:hover,
        .dhx_shadow .dhx_close:hover {
            cursor: pointer
        }

.dhx_item_filter {
    transition: all .2s;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: hsla(0, 0%, 100%, .5);
    margin-right: 4px
}

.dhx_item_filter--active {
    color: #fff;
    transition: all .2s
}

.dhx_config_select {
    display: flex;
    min-width: 54px;
    height: 100%;
    padding: 0 8px;
    cursor: pointer;
    user-select: none;
    background: #1b79b9;
    font-size: 14px;
    justify-content: space-around;
    align-items: center
}

    .dhx_config_select:hover {
        background: #176aa3
    }

    .dhx_config_select .dxi-unfold-more-horizontal {
        padding: 0 0 0 4px;
        font-size: 24px
    }

.dhx_shadow {
    font-family: Roboto, Arial, Tahoma, Verdana, sans-serif;
    position: fixed;
    z-index: 5;
    cursor: pointer;
    opacity: .8
}

.dhx_config_field {
    box-sizing: border-box
}

.dhx_config_wrap {
    margin-bottom: 20px;
    background: #f7f7f7;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .15)
}

    .dhx_config_wrap .dhx_flex_cont {
        justify-content: space-between
    }

    .dhx_config_wrap .dhx_config_free-items {
        height: auto
    }

        .dhx_config_wrap .dhx_config_free-items .dhx_config_field {
            min-height: 58px;
            height: auto
        }

        .dhx_config_wrap .dhx_config_free-items .dhx_field_header {
            flex-shrink: 0
        }

        .dhx_config_wrap .dhx_config_free-items .dhx_field_content {
            flex-wrap: wrap;
            min-height: 58px;
            height: auto
        }

        .dhx_config_wrap .dhx_config_free-items .dhx_config_item,
        .dhx_config_wrap .dhx_config_free-items .dhx_shadow {
            margin: 8px 6px
        }

            .dhx_config_wrap .dhx_config_free-items .dhx_config_item:last-child,
            .dhx_config_wrap .dhx_config_free-items .dhx_shadow:last-child {
                margin-right: 12px
            }

            .dhx_config_wrap .dhx_config_free-items .dhx_config_item:first-child,
            .dhx_config_wrap .dhx_config_free-items .dhx_shadow:first-child {
                margin-left: 6px
            }

    .dhx_config_wrap .dhx_pivot_settings_wrap {
        display: flex;
        align-self: center;
        padding: 0 12px 0 0;
        background: #f7f7f7;
        justify-content: flex-end
    }

        .dhx_config_wrap .dhx_pivot_settings_wrap.dhx_pivot--readonly {
            display: none
        }

.dhx_on_hover {
    background: #fff
}

.dhx_config {
    margin-bottom: 0
}

    .dhx_config .dhx_config_apply {
        position: relative;
        height: 100%;
        padding: 0 15px 0 32px;
        align-self: center
    }

        .dhx_config .dhx_config_apply .dhx_btn--active {
            padding: 5px 12px
        }

        .dhx_config .dhx_config_apply i {
            font-size: 1.3rem;
            padding: 0 5px 0 0
        }

        .dhx_config .dhx_config_apply:before {
            position: absolute;
            top: -20%;
            left: 0;
            width: 1px;
            height: 135%;
            content: "";
            background: rgba(0, 0, 0, .1)
        }

    .dhx_config .dhx_config_content {
        position: relative;
        overflow: hidden;
        box-sizing: border-box;
        height: 100%;
        user-select: none
    }

    .dhx_config .dhx_config_free-items {
        box-sizing: border-box;
        height: auto;
        padding: 12px 32px 12px 12px;
        background: #f7f7f7
    }

        .dhx_config .dhx_config_free-items .dhx_config_field {
            flex-direction: row;
            margin: 0
        }

.dhx_config_zone {
    width: 100%
}

body,
html {
    margin: 0;
    padding: 0;
    min-height: 100%
}

.dhx_pivot_layout {
    overflow: hidden;
    height: 100%;
    padding: 15px;
    background: #ededed;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .15);
    display: flex;
    flex-direction: column
}

    .dhx_pivot_layout,
    .dhx_pivot_layout * {
        box-sizing: border-box
    }

        .dhx_pivot_layout .grid_w {
            align-items: stretch;
            align-content: stretch
        }

        .dhx_pivot_cont,
        .dhx_pivot_layout .grid_w {
            flex: 1 1 auto;
            display: flex;
            overflow: hidden
        }

.dhx_pivot_cont {
    flex-direction: column;
    padding: 12px;
    background: #f7f7f7;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .15)
}

    .dhx_pivot_cont .dhx_config_field {
        margin: 0
    }

    .dhx_pivot_cont .dhx_flex_cont {
        margin: 0 0 15px
    }

        .dhx_pivot_cont .dhx_flex_cont:last-child {
            margin: 0
        }

.dhx_grid_wrap {
    flex: 3 0 400px;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden
}

.dhx_rows_wrap {
    box-sizing: border-box;
    margin-right: 15px
}

.dhx_config_rows .dhx_config_field {
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
    margin: 0;
    flex-wrap: nowrap
}

.dhx_config_rows .dhx_field_header {
    padding: 8px;
    align-items: left
}

.dhx_config_rows .dhx_field_content {
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    overflow: visible;
    max-height: none
}

.dhx_config_rows .dhx_config_item,
.dhx_config_rows .dhx_shadow {
    margin: 4px 8px
}

    .dhx_config_rows .dhx_config_item:first-child,
    .dhx_config_rows .dhx_shadow:first-child {
        margin-top: 12px
    }

.dhx_pivot_alone_wrap {
    padding: 12px;
    background: #f7f7f7;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .15)
}

    .dhx_pivot_alone_wrap.dhx_pivot--readonly {
        padding: 12px
    }

.dhx_pivot_settings_wrap {
    display: flex;
    padding: 12px 12px 0;
    background: #f7f7f7;
    flex-shrink: 0;
    justify-content: flex-end;
    z-index: 3
}

    .dhx_pivot_settings_wrap.dhx_pivot--readonly {
        display: none
    }

.dhx_popup {
    position: fixed;
    position: absolute;
    z-index: 5;
    box-sizing: border-box;
    animation: b .2s ease-in-out forwards;
    background: #fff;
    background: red
}

    .dhx_popup.hide {
        animation: c .2s ease-in-out forwards
    }

    .dhx_card,
    .dhx_popup * {
        box-sizing: border-box
    }

.dhx_card {
    z-index: 5;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 2px 54px 0 rgba(0, 0, 0, .05), 0 2px 4px 0 rgba(0, 0, 0, .22)
}

@keyframes b {
    0% {
        transform: translateY(30%);
        opacity: 0
    }

    to {
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes c {
    0% {
        transform: translateY(0);
        opacity: 1
    }

    to {
        transform: translateY(30%);
        opacity: 0
    }
}
