﻿@{
    ViewBag.Title = "Gráfica Bloques x Encima del Umbral de Acción";
}

<link href="~/Content/Chart.css" rel="stylesheet" />
<script src="~/Scripts/Chart.js"></script>
<script src="~/Scripts/ThresholdBlocks/Index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.debug.js"></script>

<div class="btn-group">
    @*<button class="btn btn-success" id="DrawReport"><i class="fa fa-search"></i></button>*@
    <button class="btn btn-warning" id="DrawReport">Consultar</button>
    <button class="btn btn-danger" id="downloadPdf"><i class="fa fa-file-pdf-o"></i></button>
</div>
<div class="col-md-12">
    <br />
</div>
<div class="box box-success">
    <div class="box-header">
        <b>Filtros</b>
    </div>

    <div class="box-header">
        <div class="col-sm-2 col-lg-2 col-md-2">
            <label for="Semana">Semana Inicial: </label>
            @Html.DropDownList("WeekID", ViewData["listWeek"] as SelectList, null, new { @class = "form-control select2", @style = "width:100%", @id = "WeekID" })
        </div>

        <div class="col-sm-2 col-lg-2 col-md-2">
            <label for="Semana">Semana Final: </label>
            @Html.DropDownList("WeekIDF", ViewData["listWeek"] as SelectList, null, new { @class = "form-control select2", @style = "width:100%", @id = "WeekIDF" })
        </div>

        <div class="col-sm-3 col-lg-3 col-md-3">
            <label for="Finca">Finca: </label>
            @Html.DropDownList("GreeHouseID", ViewData["BussinesUnitList"] as SelectList, null, new { @class = "form-control select2", @style = "width:100%", @id = "GreeHouseID" })
        </div>

        <div class="col-sm-2 col-lg-2 col-md-2">
            <label for="Producto">Producto: </label>
            @Html.DropDownList("ProductID", ViewData["productList"] as SelectList, null, new { @class = "form-control select2", @style = "width:100%", @id = "ProductID" })
        </div>

        <div class="col-sm-3 col-lg-3 col-md-3">
            <label for="Blanco Biológico">Blanco Biológico: </label>
            @Html.DropDownList("PestID", ViewData["listaBT"] as SelectList, null, new { @class = "form-control select2", @style = "width:100%", @id = "PestID" })

        </div>

        <div class="clearfix"></div>

    </div>
</div>

<div class="box box-success">
    <div class="box-body">
        <div style="z-index:999" id="cargaCanvas">
            <div class="text-center col-sm-12"><h4><b id="titulo"></b></h4></div>
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>
