﻿@model Planner.Model.Plagas

@using Resources;
@using Planner.Model;

@{
    ViewBag.Title = Resources.Plagas + " - " + Resources.Adicionar;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/admin-lte/plugins/colorpicker/bootstrap-colorpicker.css" rel="stylesheet" />
<script src="~/admin-lte/plugins/colorpicker/bootstrap-colorpicker.js"></script>

<script src="~/Scripts/Pests/Create.js"></script>

<div class="btn-group">
    <button id="btnHome" name="btnHome" class="btn btn-warning waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.VolverALaLista">
        <i class="fa fa-chevron-left"></i>
    </button>
    <button id="btnSave" name="btnSave" class="btn btn-success waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.Grabar">
        <i class="fa fa-save"></i>
    </button>
</div>
<div class="Planner_Separator">
</div>

<div class="box box-success">
    <div class="box-body">
        <div class="col-xs-12 col-sm-12 col-md-12">
            @using (Html.BeginForm("Create", "Pests", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "Create" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="col-xs-12 col-sm-1 col-md-1">
                    <label for="ID">@Resources.Id</label>
                    @Html.TextBoxFor(model => model.ID, null, new { @class = "form-control", @readonly = "readonly", @style = "Width: 100%; Max-Width: 100%" })
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <label for="Nombre">@Resources.Nombre</label>
                    @Html.TextBoxFor(model => model.Nombre, null, new { @class = "form-control", @style = "Width: 100%; Max-Width: 100%" })
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <label for="Abrr">@Resources.Abreviatura</label>
                    @Html.TextBoxFor(model => model.Abrr, null, new { @class = "form-control", @style = "Width: 100%; Max-Width: 100%" })
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <label for="IDClasificacion">@Resources.IdClasificacion</label>
                    @Html.TextBoxFor(model => model.IDClasificacion, null, new { @class = "form-control", @style = "Width: 100%; Max-Width: 100%" })
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <label for="ColorIdentificacion">@Resources.ColorIdentificacion</label>
                    @Html.TextBoxFor(model => model.ColorIdentificacion, null, new { @class = "form-control my-colorpicker1 colorpicker-element", @style = "Width: 100%; Max-Width: 100%" })
                </div>
                <div class="col-xs-12 col-sm-1 col-md-1">
                    <label for="Color">@Resources.Color</label>
                    @Html.TextBox("Color", null, new { @class = "form-control", @placeholder = Resources.Color, @readonly = "readonly", @style = "width:100%; max-width:100%", @id = "Color", @onchange = "onchangeevent();" })
                </div>
                <div class="col-xs-12 col-sm-1 col-md-1">
                    <label for="FlagActivo">@Resources.Activo</label>
                    @Html.CheckBox("AddFlagActive", false, new { @class = "checkbox" })
                </div>
                <div class="col-xs-12 col-sm-1 col-md-1">
                    @Html.TextBoxFor(model => model.FlagActivo, null, new { @class = "hidden" })
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
