﻿@{
    ViewBag.Title = "Informe Monitoreo Indirecto";
}

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.0.1/pivot.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.1.0/pivot.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.0.2/tips_data.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.23.0/c3_renderers.min.js"></script>


<link href="https://cdn.webdatarocks.com/latest/webdatarocks.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<script src="https://cdn.webdatarocks.com/latest/webdatarocks.toolbar.min.js"></script>
<script src="https://cdn.webdatarocks.com/latest/webdatarocks.js"></script>
<script src="https://cdn.webdatarocks.com/latest/webdatarocks.googlecharts.js"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>


<script src="~/Scripts/IndirectMonitoring/Index.js"></script>

<div class="btn-group">
    <button class="btn btn-warning" onclick="TraeData()"><i class="fa fa-search"></i></button>
    <button class="btn btn-success bg-olive-active" onclick="exportTableToExcel('pvtTable')"><i class="fa fa-file-excel-o"></i></button>
</div>
<div class="clearfix"></div>
<br />
<div class="box box-success">
    <div class="box-body">
        <div class="col-md-12 form-inline">
            <div class="col-md-3">
                <label for="Semana">Semana Inicial: </label>
                @Html.DropDownList("ddlWeek", ViewData["listWeek"] as SelectList, "Seleccione", new { @class = "form-control select2", @style = "width:100%", @id = "WeekIDInic" })
            </div>

            <div class="col-md-3">
                <label for="Semana">Semana Final: </label>
                @Html.DropDownList("ddlWeek", ViewData["listWeek"] as SelectList, "Seleccione", new { @class = "form-control select2", @style = "width:100%", @id = "WeekIDFina" })
            </div>

            <div class="col-md-3">
                <label for="Semana">Finca: </label>
                @Html.DropDownList("BussinesUnitList", ViewData["BussinesUnitList"] as SelectList, "TODAS", new { @class = "form-control select2", @style = "width:100%", @id = "GreenHouseID" })
            </div>

            <div class="col-md-3">
                <label for="Semana">Tipo de Placa: </label>
                <select class="form-control" id="TipoPlaca">
                    <option value="0" selected>TODAS</option>
                    <option value="1">Internas</option>
                    <option value="2">Externas</option>
                </select>
            </div>

        </div>
    </div>
</div>

<div class="box box-success">
    <div class="box-body">
        <div id="wdr-component" style="display:none"></div>

        <div id="PivotData" style="overflow:scroll; height:500px; width: 100%;"></div>

        <div id="TablaCompleta" style="display: block">

        </div>
    </div>
</div>