﻿@{
    ViewBag.Title = "Crear Usuario";
    ViewBag.Subtitle = "Formulario para la creación de nuevo usuario";
}
<!--JS propio-->
<script src="~/Scripts/UserAdministration/CreateUser.js"></script>
<div class="col-sm-12 col-lg-12 col-md-12">
    <form id="CreateUserForm">
        <div class="btn-group">
            <button type="button" id="btnHome" name="btnHome" class="btn btn-warning waves-effect waves-light" onclick="BackToList()">
                <i class="fa fa-chevron-left"></i>
            </button>
            <button id="btnCreate" name="btnCreate" class="btn btn-primary waves-effect waves-light">
                <i class="fa fa-save"></i>
            </button>
        </div>
        <div class="clearfix"></div>
        <br />
        <div class="box box-success">
            <div class="box-body">
                <div class="col-sm-3">
                    <label>Usuario: </label>
                    <input type="text" class="form-control" id="Login" readonly required />
                </div>

                <div class="col-sm-3">
                    <label>Nombre: </label>
                    <input type="text" class="form-control" id="Name" required />
                </div>
                <div class="col-sm-3">
                    <label>Apellido: </label>
                    <input type="text" class="form-control" id="LastName" required />
                </div>

                <div class="col-sm-3">
                    <label>Correo electrónico: </label>
                    <input type="email" class="form-control" id="Email" required />
                </div>

                <div class="col-sm-3">
                    <label>Número Documento: </label>
                    <input type="text" class="form-control" id="DocID" required />
                </div>
            </div>
        </div>
    </form>
</div>

