﻿@using Globalization;
@using Resources;
@{
    var User = ViewBag.Users;
}

@{
    ViewBag.Title = "Editar Usuario";
    ViewBag.SubTitle = "Formulario para editar usuarios";
}


<script src="~/Scripts/Home/Index.js"></script>
<form id="MyInformationForm">
    <div class="btn-group">
        <button type="button" id="btnHome" name="btnHome" class="btn btn-warning waves-effect waves-light" onclick="location='/UserAdministration'">
            <i class="fa fa-chevron-left"></i>
        </button>
        <button class="btn btn-primary">
            <i class="fa fa-save"></i>
        </button>
    </div>
    <div class="clearfix"></div>
    <br />
    <div class="box box-success">
        <div class="box-header">
            <h5 class="text-bold">Informacion general</h5>
        </div>
        <div class="box-body">
            <div class="col-sm-4">
                <input type="hidden" id="UserId" value="@User.UserID" />
                <label for="Usuario">Usuario: </label>
                <input type="text" class="form-control" id="Login" required readonly value="@User.Login" />
            </div>

            <div class="col-sm-4">
                <label for="Nombres">Nombres: </label>
                <input type="text" class="form-control" id="Name" required value="@User.Name" />
            </div>

            <div class="col-sm-4">
                <label for="Apellidos">Apellidos: </label>
                <input type="text" class="form-control" id="LastName" required value="@User.LastName" />
            </div>

            <div class="col-sm-4">
                <label for="Email">Email: </label>
                <input type="text" class="form-control" id="Email" required value="@User.Email" />
            </div>

            <div class="col-sm-4">
                <label for="DocID">No. Documento: </label>
                <input type="text" class="form-control" id="DocID" required value="@User.DocID" />
            </div>
        </div>
    </div>
</form>

<form id="ChangepaswordForm">
    <div class="btn-group">
        <button class="btn btn-primary" data-offset="tooltip" data-placement="top" title="Cambiar Contraseña">
            <i class="fa fa-key"></i>
        </button>
    </div>
    <div class="clearfix"></div>
    <br />
    <div class="box box-success">
        <div class="box-header">
            <h5 class="text-bold">Cambiar Contraseña</h5>
        </div>
        <div class="box-body">
            <div class="col-sm-4">
                <label for="Pass">Contraseña Nueva: </label>
                <input type="password" class="form-control" id="Pass" required />
            </div>

            <div class="col-sm-4">
                <label for="Pass">Confirmar contraseña: </label>
                <input type="password" class="form-control" id="PassConfirm" required />
            </div>
            <div class="col-sm-1">
                <br />
                <p id="Match"></p>
            </div>

        </div>
    </div>
</form>