﻿@{
    ViewBag.Title = "Usuarios";
    ViewBag.Subtitle = "Administración de usuarios del sistema";
}
<!--Script propio-->
<script src="~/Scripts/UserAdministration/Index.js"></script>
<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="btn-group">
        <button id="btnCreate" name="btnCreate" class="btn btn-success waves-effect waves-light" onclick="location='/UserAdministration/CreateUser'">
            <i class="fa fa-plus"></i>
        </button>
    </div>
    <div style="width: 100%; height: 0.5em; filter: alpha(opacity=50); opacity: 0.5;"></div>
    <div class="box box-success">
        <div class="box-header">
        </div>
        <div class="box-body">
            <table id="UsersTable" class="table table-bordered table-striped table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Nombres</th>
                        <th>Email</th>
                        <th>Documento</th>
                        <th>Impresora</th>
                        <th>Area</th>
                        <th>Role</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var cont = 1;
                        foreach (var Users in ViewBag.Users)
                        {
                            <tr>
                                <td nowrap class="text-left text-bold text-black">@Users.Login</td>
                                <td nowrap>@Users.Nombre</td>
                                <td nowrap>@Users.Email</td>
                                <td nowrap>@Users.DocID</td>
                                @if(Users.Printer == 1)
                                {
                                    <td nowrap>Datamax</td>
                                }
                                else if(Users.Printer == 2)
                                {
                                    <td nowrap>Zebra</td>
                                }
                                else
                                {
                                    <td nowrap>N.A.</td>
                                }
                                <td nowrap>@Users.AreaName</td>
                                <td nowrap>@Users.RoleName</td>
                                @if (Users.FlagActive == false)
                                {
                                    <td nowrap class="text-danger text-bold">Inactivo</td>
                                }
                                else
                                {
                                    <td nowrap class="text-success text-bold">Activo</td>
                                }
                                <td nowrap class="col-md-12">
                                    <div class="col-md-1">
                                        <button onclick="location='/UserAdministration/EditUser?UserID=@Users.UserId'" class="btn btn-xs text-blue" title="Ver/Editar">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                    </div>
                                    <div class="col-md-1">
                                        @if (Users.FlagActive == false)
                                        {
                                            <button onclick="location = '/UserAdministration/ActiveUser?UserID=@Users.UserId'" class="btn btn-xs text-danger" title="Activar">
                                                <i class="fa fa-toggle-off"></i>
                                            </button>
                                        }
                                        else
                                        {
                                            <button onclick="location = '/UserAdministration/ActiveUser?UserID=@Users.UserId'" class="btn btn-xs text-success" title="Desactivar">
                                                <i class="fa fa-toggle-on"></i>
                                            </button>
                                        }

                                    </div>
                                    <div class="col-md-1">
                                        <button onclick="location='/UserAdministration/Permission?UserID=@Users.UserId'" class="btn btn-xs text-yellow" title="Permisos">
                                            <i class="fa fa-check-square-o"></i>
                                        </button>
                                    </div>                                   
                                </td>
                            </tr>
                            cont++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>