﻿@using Resources
@model Planner.Model.Auth_User

@{
    var Usuario = ViewBag.Usuario;
    ViewBag.Title = "Permisos para usuario " + Usuario.Login;
}

<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<script src="~/Scripts/UserAdministration/Permission.js"></script>

<div class="col-xs-12 col-sm-12 col-md-12">
    <div class="btn-group">
        <div class="btn-group">
            <button class=" btn btn-warning" onclick="location='/UserAdministration/Index'" title="Volver"><i class="fa fa-chevron-left"></i></button>
        </div>
    </div>
</div>
<div class="Planner_Separator">
</div>

<div class="col-xs-12 col-sm-12 col-md-3">
    <div class="box box-primary">
        <div class="box-body box-profile">
            <img class="profile-user-img img-responsive img-circle" src="~/Content/img/profile_128_128.png" alt="User profile picture">

            <h3 class="profile-username text-center">@Usuario.Login</h3>

            <p class="text-muted text-center">@Model.Name @Model.LastName</p>

            <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                    <b>@Resources.CorreoElectronico</b> <a class="pull-right">@Model.Email</a>
                </li>
                <li class="list-group-item">
                    <b>@Resources.DocumentoIdentidad</b> <a class="pull-right">@Model.DocID</a>
                </li>
                <li class="list-group-item">
                    <b>@Resources.Role</b> <a class="pull-right">@Model.RoleName</a>
                </li>
                <li class="list-group-item">
                    <b>@Resources.Area</b> <a class="pull-right">@Model.AreaName</a>
                </li>
                <li class="list-group-item">
                    <b>@Resources.Estado</b><a class="pull-right">@Html.CheckBox("FlagActive", @Model.FlagActive, new { @type = "checkbox", @disabled = "disabled" })</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-9">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#activity" data-toggle="tab" aria-expanded="true">@Resources.Permisos</a></li>
            <li class=""><a href="#companies" data-toggle="tab" aria-expanded="false">@Resources.Companias</a></li>
            <li class=""><a href="#businessUnits" data-toggle="tab" aria-expanded="false">@Resources.UnidadesDeNegocio</a></li>
            <li class=""><a href="#farms" data-toggle="tab" aria-expanded="false">@Resources.Fincas</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="activity">
                <div class="post">
                    <div id="tree"></div>
                </div>
            </div>

            <div class="tab-pane" id="companies">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <label for="ddlCompanias">@Resources.Compania</label>
                    <div class="input-group">
                        @Html.DropDownList("ddlCompanias", ViewData["Companias_Lst"] as SelectList, new { @class = "form-control", @style = "width:100%; max-width:100%" })
                        <span class="input-group-btn">
                            <button id="btnCreateCompany" name="btnCreateCompany" class="btn btn-success waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.Adicionar">
                                <i class="fa fa-plus"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="Planner_Separator">
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div id="Auth_UserCompanyDataTable">
                        <div id="resultsAuth_UserCompany">
                            <table id="tableAuth_UserCompany" class="table table-bordered table-striped table-condensed table-hover" style="width:100%; max-width:100%">
                                <thead>
                                    <tr>
                                        <th>@Resources.Id</th>
                                        <th>@Resources.Codigo</th>
                                        <th>@Resources.Nombre</th>
                                        <th>@Resources.Activo</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="businessUnits">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <label for="ddlCompanias">@Resources.CompaniaAutorizadas</label>
                    @Html.DropDownList("ddlAuth_UserCompany", ViewData["Auth_UserCompany_Lst"] as SelectList, new { @class = "form-control", @style = "width:100%; max-width:100%" })
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <label for="ddlBusinessUnits">@Resources.UnidadesDeNegocio</label>
                    <div class="input-group">
                        @Html.DropDownList("ddlBusinessUnits", ViewData["BusinessUnits_Lst"] as SelectList, new { @class = "form-control", @style = "width:100%; max-width:100%" })
                        <span class="input-group-btn">
                            <button id="btnCreateBusinessUnit" name="btnCreateBusinessUnit" class="btn btn-success waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.Adicionar">
                                <i class="fa fa-plus"></i>
                            </button>
                        </span>
                    </div>

                </div>
                <div class="clearfix"></div>
                <div class="Planner_Separator">
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div id="Auth_UserBusinessUnitDataTable">
                        <div id="resultsAuth_UserBusinessUnit">
                            <table id="tableAuth_UserBusinessUnit" class="table table-bordered table-striped table-condensed table-hover" style="width:100%; max-width:100%">
                                <thead>
                                    <tr>
                                        <th>@Resources.Id</th>
                                        <th>@Resources.Compania</th>
                                        <th>@Resources.UnidadDeNegocio</th>
                                        <th>@Resources.Activo</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="farms">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <label for="ddlFincas">@Resources.Fincas</label>
                    <div class="input-group">
                        @Html.DropDownList("ddlFincas", ViewData["Fincas_Lst"] as SelectList, new { @class = "form-control", @style = "width:100%; max-width:100%" })
                        <span class="input-group-btn">
                            <button id="btnCreateFarm" name="btnCreateFarm" class="btn btn-success waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.Adicionar">
                                <i class="fa fa-plus"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="Planner_Separator">
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div id="Auth_UserFarmDataTable">
                        <div id="resultsAuth_UserFarm">
                            <table id="tableAuth_UserFarm" class="table table-bordered table-striped table-condensed table-hover" style="width:100%; max-width:100%">
                                <thead>
                                    <tr>
                                        <th>@Resources.Id</th>
                                        <th>@Resources.Nombre</th>
                                        <th>@Resources.Abreviatura</th>
                                        <th>@Resources.Activo</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.tab-content -->
    </div>
</div>

<script>
    $('#tree').tree({
        uiLibrary: 'materialdesign',
        dataSource: [{ text: 'foo', children: [{ text: 'bar' }] }],
        checkboxes: true,
        cascadeCheck: false,
        dataSource: "/UserAdministration/GetParents?UserID=" +@Usuario.UserID,
    });

    $('#tree').tree().on('checkboxChange', function (e, $node, record, state) {
        ChangePermision(record, state)
    });

    function ChangePermision(record, state) {
        var datos = {
            "UserID": @Usuario.UserID,
            "FeatureID": record.id,
            "State": state,
        };

        $.ajax({
            DataType: "json",
            type: "post",
            data: datos,
            url: "/UserAdministration/ChangePermision",
        });
    }
</script>