﻿@using Resources;
@model Planner.Model.SIEMBRAS_PLANNEREntities

@{
    ViewBag.Title = Resources.AlertasDeHeladas;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/FrozenAlert/Alert.js"></script>

<div class="box box-success">
    <div class="box-body">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="table-responsive">
                    <table id="tableResults" class="frozen_alert table table-bordered table-striped table-condensed table-hover">
                        <thead>
                            <tr class="active">
                                <th colspan="4">@Resources.Resultados</th>
                            </tr>
                            <tr style="height:50px">
                                <th style="vertical-align:middle">@Resources.Resultado</th>
                                <th style="vertical-align:middle">@Resources.Ciudad</th>
                                <th style="vertical-align:middle">@Resources.Finca</th>
                                <th style="vertical-align:middle">@Resources.Alerta</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var result in ViewBag.dataResults)
                            {
                                <tr>
                                    <td>@result.resultado </td>
                                    <td>@result.ciudad</td>
                                    <td>@result.finca</td>
                                    <td>@result.alert</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8">
                <div class="table-responsive">
                    <table id="tableVariables" class="frozen_alert tableVariables table table-bordered table-striped table-condensed table-hover">
                        <thead>
                            <tr class="active">
                                <th colspan="10">@Resources.Variables</th>
                            </tr>
                            <tr style="height:50px">
                                <th style="vertical-align:middle">@Resources.UnidadDeNegocio</th>
                                <th style="vertical-align:middle">@Resources.TemperaturaActual</th>
                                <th style="vertical-align:middle">@Resources.HumedadDuranteElDia</th>
                                <th style="vertical-align:middle">@Resources.VelocidadDelViento</th>
                                <th style="vertical-align:middle">@Resources.TemperaturaMaxima</th>
                                <th style="vertical-align:middle">@Resources.TemperaturaMinima</th>
                                <th style="vertical-align:middle">@Resources.NubosidadActual</th>
                                <th style="vertical-align:middle">@Resources.PuntoDeRocio</th>
                                <th style="vertical-align:middle">@Resources.TemperaturaMediaNoche</th>
                                <th style="vertical-align:middle">@Resources.HumedadMediaNoche</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var variable in ViewBag.dataVariables)
                            {
                                <tr>
                                    <td>@variable.farmname </td>
                                    <td style="text-align:right">@variable.ta.ToString("0.0")</td>
                                    <td style="text-align:right">@variable.hrd.ToString("0.0")</td>
                                    <td style="text-align:right">@variable.va.ToString("0.0")</td>
                                    <td style="text-align:right">@variable.tmax.ToString("0.0")</td>
                                    <td style="text-align:right">@variable.tmin.ToString("0.0")</td>
                                    <td style="text-align:right">@variable.nub.ToString("0.0")</td>
                                    <td style="text-align:right">@variable.tpr.ToString("0.0")</td>
                                    <td style="text-align:right">@variable.t12.ToString("0.0")</td>
                                    <td style="text-align:right">@variable.h12.ToString("0.0")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>