﻿@using Resources;

@{
    ViewBag.Title = Resources.Opciones;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<script src="~/Scripts/Auth_Feature/Auth_Feature.js"></script>

<div class="col-xs-12 col-sm-12 col-md-12">
    <div class="btn-group">
        <button id="btnSave" name="btnSave" class="btn btn-success waves-effect waves-light" typedata-toggle="tooltip" data-placement="top" title="@Resources.Grabar" onclick="CallSubmit()">
            <i class="fa fa-save"></i>
        </button>
        <button id="btnDelete" name="btnDelete" class="btn btn-danger waves-effect waves-light" typedata-toggle="tooltip" data-placement="top" title="@Resources.Borrar" onclick="Delete()">
            <i class="fa fa-trash"></i>
        </button>
        <button id="btnAddChild" name="btnAddChild" class="btn btn-info waves-effect waves-light" typedata-toggle="tooltip" data-placement="top" title="@Resources.AdicionarSubOpcion" onclick="AddChild()">
            <i class="fa fa-chevron-down"></i>
        </button>
        <button id="btnClean" name="btnClean" class="btn btn-warning waves-effect waves-light" typedata-toggle="tooltip" data-placement="top" title="@Resources.LimpiarFormulario" onclick="CleanForm()">
            <i class="fa fa-refresh"></i>
        </button>
    </div>
</div>
<div class="Planner_Separator">
</div>

<div class="col-xs-12 col-sm-12 col-md-4">
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">
                @Resources.Opciones
            </h3>
        </div>
        <div class="box-body">
            <div id="treeAuth_Feature"></div>
        </div>
    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-8">
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">
                @Resources.Propiedades
            </h3>
        </div>
        <div class="box-body">
            <div class="box box-primary box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        @Resources.Padre
                    </h3>
                </div>
                <div class="box-body">
                    <div class="col-xs-12 col-sm-12 col-md-2">
                        <label for="ParentId">@Resources.Id</label>
                        @Html.TextBox("ParentId", null, new { @class = "form-control", @placeholder = Resources.Id, @readonly = "readonly", @style = "width:100%; max-width:100%" })
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-5">
                        <label for="ParentName">@Resources.Descripcion</label>
                        @Html.TextBox("ParentName", null, new { @class = "form-control", @placeholder = Resources.Descripcion, @readonly = "readonly", @style = "width:100%; max-width:100%" })
                    </div>
                </div>
            </div>

            <div class="box box-primary box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        @Resources.Opcion
                    </h3>
                </div>
                <div class="box-body">
                    <div class="col-xs-12 col-sm-12 col-md-2">
                        <label for="OptionId">@Resources.Id</label>
                        @Html.TextBox("OptionId", null, new { @class = "form-control", @placeholder = Resources.Id, @readonly = "readonly", @style = "width:100%; max-width:100%" })
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-5">
                        <label for="OptionName">@Resources.Descripcion</label>
                        @Html.TextBox("OptionName", null, new { @class = "form-control", @placeholder = Resources.Descripcion, @style = "width:100%; max-width:100%" })
                    </div>
                    <div class="clearfix"></div>

                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <label for="OptionController">@Resources.Controlador</label>
                        @Html.TextBox("OptionController", null, new { @class = "form-control", @placeholder = Resources.Controlador, @style = "width:100%; max-width:100%" })
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <label for="OptionAction">@Resources.Accion</label>
                        @Html.TextBox("OptionAction", null, new { @class = "form-control", @placeholder = Resources.Accion, @style = "width:100%; max-width:100%" })
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <label for="OptionIcon">@Resources.Icono</label>
                        [ <i id="icoOptionIcon" name="icoOptionIcon" class="fa fa-image"></i> ]
                        <div class="input-group">
                            @Html.TextBox("OptionIcon", null, new { @class = "form-control", @placeholder = Resources.Icono, @style = "width:100%; max-width:100%" })
                            <div class="input-group-btn">
                                <button class="btn btn-warning" type="button" onclick="GoToUrl('https://fontawesome.com/v4.7.0/icons/', true)">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-1">
                        <label for="OptionFlagActive">@Resources.Estado</label>
                        @Html.CheckBox("OptionFlagActive", false, new { @id = "OptionFlagActive", @class = "form-control", @type = "checkbox" })
                    </div>
                </div>
            </div>

            @*<div class="box box-primary box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            @Resources.AccionesPermitidas
                        </h3>
                    </div>
                    <div class="box-body">
                        <div class="col-xs-12 col-sm-12 col-md-2">
                            <label for="OptionAdd">@Resources.Adicionar</label>
                            @Html.CheckBox("OptionAdd", false, new { @id = "OpcionAdd", @class = "checkbox" })
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-xs-12 col-sm-12 col-md-2">
                            <label for="OptionPrint">@Resources.Imprimir</label>
                            @Html.CheckBox("OptionPrint", false, new { @id = "OptionPrint", @class = "checkbox" })
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-2">
                            <label for="OptionExcel">@Resources.ExportarExcel</label>
                            @Html.CheckBox("OptionExcel", false, new { @id = "OptionExcel", @class = "checkbox" })
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-2">
                            <label for="OptionPdf">@Resources.ExportarPdf</label>
                            @Html.CheckBox("OptionPdf", false, new { @id = "OpcionPdf", @class = "checkbox" })
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
</div>
