﻿@{
    ViewBag.Title = "Visor Dinámico Reporte Fitosanitario";
}
<!-- Pivot JS-->
@*<link href="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.0.1/pivot.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.1.0/pivot.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.0.2/tips_data.min.js"></script>*@

<!-- Pivot webdatarocks-->
@*<link href="https://cdn.webdatarocks.com/latest/webdatarocks.min.css" rel="stylesheet" />
    <script src="https://cdn.webdatarocks.com/latest/webdatarocks.toolbar.min.js"></script>
    <script src="https://cdn.webdatarocks.com/latest/webdatarocks.js"></script>*@

<!-- Pivot Flexmonster-->   
<script src="https://cdn.flexmonster.com/flexmonster.js"></script>

<script src="~/Scripts/IncidenceDynamicViewer/Index.js"></script>
<div class="btn-group">
    <button class="btn btn-warning" onclick="TraeDataW()"><i class="fa fa-search"></i></button>
    @*<button class="btn btn-success bg-olive-active" onclick="exportTableToExcel('pvtTable')"><i class="fa fa-file-excel-o"></i></button>*@
</div>
<div class="clearfix"></div>
<br />
<div class="box box-success">
    <div class="box-body">
        <div class="col-md-12 form-inline">
            <div class="col-md-2">
                <label for="Semana">Semana Inicial: </label>
                @Html.DropDownList("ddlWeek", ViewData["listWeek"] as SelectList, "Seleccione", new { @class = "form-control select2", @style = "width:100%", @id = "WeekIDInic" })
            </div>

            <div class="col-md-2">
                <label for="Semana">Semana Final: </label>
                @Html.DropDownList("ddlWeek", ViewData["listWeek"] as SelectList, "Seleccione", new { @class = "form-control select2", @style = "width:100%", @id = "WeekIDFina" })
            </div>

            <div class="col-sm-2 col-lg-2 col-md-2">
                <label for="Finca">Finca: </label>
                @Html.DropDownList("GreeHouseID", ViewData["BussinesUnitList"] as SelectList, "TODAS", new { @class = "form-control select2", @style = "width:100%", @id = "GreeHouseID" })
            </div>

            <div class="col-md-4" style="display:none">
                <label for="Blanco biológico">Blanco biológico: </label>
                @Html.DropDownList("listaBT", ViewData["listaBT"] as SelectList, "TODOS", new { @class = "form-control select2", @multiple = "multiple", @style = "width:100%", @id = "PestID" })
            </div>
        </div>
    </div>
</div>

<div class="box box-success">
    <div class="box-body">
        @*<div id="PivotData" style="overflow: scroll; width:100%; height: 600px;"></div>
            <div id="TablaCompleta" style="display: block"></div>*@
        <div id="PivotWData"></div>
        <div id="TablaCompleta" style="display: none">
            <table id="TablaDinamica" class="table table-bordered table-striped table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Finca</th>
                        <th>Bloque</th>
                        <th>Semana</th>
                        <th>Año</th>
                        <th>IDFinca</th>
                        <th>TotalCamas</th>
                        <th>IdBloque</th>
                        <th>Plaga</th>
                        <th>IdProducto</th>
                        <th>ClaseProducto</th>
                        <th>Producto</th>
                        <th>Color</th>
                        <th>CamasAfectadas</th>
                        <th>CuadrosAfectados</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
