﻿@{
    ViewBag.Title = "Maestro Trampas - Editar";
    var d = ViewBag.data;
}
<script src="~/Scripts/Traps/Index.js"></script>

<div class="btn-group">
    <button id="btnHome" type="button" name="btnHome" class="btn btn-warning waves-effect waves-light" onclick="BackToList()" data-toggle="tooltip" data-placement="top" title="Volver">
        <i class="fa fa-chevron-left"></i>
    </button>
    <button class="btn btn-success" id="bt_TrapSave" data-toggle="tooltip" data-placement="top" title="Guardar" type="button"><i class="fa fa-save"></i></button>
</div>
<div class="col-sm-12"><br /></div>

<div class="box box-primary">
    <input type="hidden" value="@d.ID" id="Id"/>
    <div class="box-body">
        <div class="col-md-12 form-inline">
            <div class="col-md-3">
                <label for="Semana">Finca: </label>
                @Html.DropDownList("BusinessUnitId", ViewData["BussinesUnitList"] as SelectList, new { @class = "form-control select2", @style = "width:100%", @id = "BusinessUnitId", @disabled = "disabled" })
            </div>

            <div class="col-md-2">
                <label for="Semana">Bloque: </label>
                @Html.DropDownList("GreenHouseId", ViewData["GreenHouseList"] as SelectList, new { @class = "form-control select2", @style = "width:100%", @id = "GreenHouseId", @disabled = "disabled" })
            </div>

            <div class="col-md-2">
                <label for="Semana">Nombre Placa: </label>
                <input type="text" class="form-control" id="Nombre" value="@d.Nombre" />
            </div>

            <div class="col-md-2">
                <label for="Semana">Tipo de Trampa: </label>
                @Html.DropDownList("TrapTypeId", ViewData["TiposPlacas"] as SelectList, new { @class = "form-control select2", @style = "width:100%", @id = "TrapTypeId" })
            </div>
        </div>
    </div>
</div>

