﻿@{
    ViewBag.Title = "Maestro Trampas";
}
<script src="~/Scripts/Traps/Index.js"></script>

<div class="btn-group">
    <button id="btnHome" type="button" name="btnHome" class="btn btn-success" onclick="location='/Traps/NewTrapForm'" data-toggle="tooltip" data-placement="top" title="Volver">
        <i class="fa fa-plus"></i>
    </button>
</div>
<div class="col-sm-12"><br /></div>

<div class="box box-primary">
    <div class="box-body">
        <div class="col-md-12 form-inline">
            <div class="col-md-3">
                <label for="Semana">Finca: </label>
                @Html.DropDownList("BusinessUnitId", ViewData["BussinesUnitList"] as SelectList, "Todas", new { @class = "form-control select2", @style = "width:100%", @id = "BusinessUnitId" })
            </div>

            <div class="col-md-2">
                <label for="Semana">Bloque: </label>
                <select class="form-control select2" id="GreenHouseId">
                    <option value="0">Todas</option>
                </select>
            </div>

            <div class="col-md-3">
                <label for="Semana">Tipo Trampa: </label>
                @Html.DropDownList("TrapTypeId", ViewData["TiposPlacas"] as SelectList, "Todas", new { @class = "form-control select2", @style = "width:100%", @id = "TrapTypeId" })
            </div>

            <div class="col-md-3">
                <br />
                <button type="button" class="btn btn-primary" onclick="Filtrar()">Filtrar <i class="fa fa-filter"></i></button>
            </div>

        </div>
    </div>
</div>

<div class="box box-primary">
    <div class="box-body">
        <table class="table table-bordered table-condensed table-responsive" id="AllTraps">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Finca</th>
                    <th>Bloque</th>
                    <th>Placa </th>
                    <th>Tipo Placa</th>
                    <th>Clase Placa</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var i in ViewBag.Data)
                    {
                <tr>
                    <td>@i.Id</td>
                    <td>@i.Finca</td>
                    <td>@i.Bloque</td>
                    <td>@i.NombrePlaca</td>
                    <td>@i.TipoPlaca</td>
                    <td>@i.ClasePlaca</td>
                    <td>
                        <button class="btn btn-xs" onclick="location='@Url.Action("EditTrapForm", "Traps", new { @i.Id })'" data-toggle="tooltip" data-placement="top" title="Editar Placa"><i class="fa fa-pencil text-primary"></i></button>

                        <button class="btn btn-xs" onclick="eliminarPlaca(@i.Id)" data-toggle="tooltip" data-placement="top" title="Eliminar Placa"><i class="fa fa-close text-danger"></i></button>
                    </td>
                </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
