﻿@{
    ViewBag.Title = "Maestro Trampas - Crear";
    //var d = ViewBag.data;
}
<script src="~/Scripts/Traps/NewTrapForm.js"></script>

<div class="btn-group">
    <button id="btnHome" type="button" name="btnHome" class="btn btn-warning waves-effect waves-light" onclick="BackToList()" data-toggle="tooltip" data-placement="top" title="Volver">
        <i class="fa fa-chevron-left"></i>
    </button>
    <button class="btn btn-success" id="bt_TrapSave" data-toggle="tooltip" data-placement="top" title="Guardar" type="button"><i class="fa fa-save"></i></button>
</div>
<div class="col-sm-12"><br /></div>

<div class="box box-primary">
    <div class="box-body">
        <div class="col-md-12 form-inline">
            <div class="col-md-3">
                <label for="Semana">Finca: </label>
                @Html.DropDownList("BusinessUnitId", ViewData["BussinesUnitList"] as SelectList, new { @class = "form-control select2", @style = "width:100%", @id = "BusinessUnitId" })
            </div>

            <div class="col-md-2">
                <label for="Semana">Bloque: </label>
                <select class="form-control select2" id="GreenHouseId"></select>
            </div>

            <div class="col-md-2">
                <label for="Semana">Nombre Placa: </label>
                <input type="text" class="form-control" id="Nombre" />
            </div>

            <div class="col-md-2">
                <label for="Semana">Tipo de Trampa: </label>
                @Html.DropDownList("TrapTypeId", ViewData["TiposPlacas"] as SelectList, new { @class = "form-control select2", @style = "width:100%", @id = "TrapTypeId" })
            </div>
            <div class="col-md-2">
                <label for="clase">Clase de Trampa: </label>
                @Html.DropDownList("TrapClassId", ViewData["ClasesPlacas"] as SelectList, new { @class = "form-control select2", @style = "width:70%", @id = "TrapClassId" })
                <button class="btn btn-sm btn-success" onclick="CreaClasePlacas()" type="button" data-toggle="tooltip" data-placement="top" title="Crear Clase"><i class="fa fa-plus"></i></button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalMensajes" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="modalMensajesTitulo"></h4>
            </div>
            <div class="modal-body text-center" id="modalMensajesCuerpo">
            </div>
            <div class="modal-footer">
                <div id="modalMensajesFooter"></div>
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modalFormularios" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="modalFormulariosTitulo"></h4>
            </div>
            <div class="modal-body text-center" id="modalFormulariosCuerpo">
            </div>
            <div class="modal-footer">
                <div id="modalMensajesFooter"></div>
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Cancelar Acción</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>