﻿@using Globalization;
@using Resources;

<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@Resources.NombreAplicacion | @ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    @Styles.RenderFormat("<link rel='stylesheet' href='{0}'>", "~/Content/css")
    @Scripts.RenderFormat("<script type='text/javascript' src='{0}'></script>", "~/bundles/modernizr")
    @Scripts.RenderFormat("<script type='text/javascript' src='{0}'></script>", "~/bundles/jquery")
    @Scripts.RenderFormat("<script type='text/javascript' src='{0}'></script>", "~/bundles/jqueryval")
    @Scripts.RenderFormat("<script type='text/javascript' src='{0}'></script>", "~/bundles/bootstrap")
  
    <script src="~/admin-lte/js/adminlte.js"></script>

    @RenderSection("scripts", required: false)

    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
          page. However, you can choose any other skin. Make sure you
          apply the skin class to the body tag so the changes take effect. -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="hold-transition skin-green-light sidebar-mini">
    <div class="Planner_Separator">
    </div>
    <div id="divNotifications">
        <button id="btnNotifications" type="button" class="close">&times;</button>
        <label id="strMessage"></label>
    </div>
    <section class="content container-fluid">
        @RenderBody()
    </section>
    <div class="clearfix"></div>

    <footer>
        <div class="text-center text-green">
            <p>&copy; @DateTime.Now.Year - @Resources.NombreAplicacion</p>
        </div>
    </footer>
</body>
</html>