﻿@using Globalization;
@using Resources;
@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@Resources.NombreAplicacion | @ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    @Styles.RenderFormat("<link rel='stylesheet' href='{0}'>", "~/Content/css")
    @Scripts.RenderFormat("<script type='text/javascript' src='{0}'></script>", "~/bundles/modernizr")
    @Scripts.RenderFormat("<script type='text/javascript' src='{0}'></script>", "~/bundles/jquery")
    @Scripts.RenderFormat("<script type='text/javascript' src='{0}'></script>", "~/bundles/jqueryval")
    @Scripts.RenderFormat("<script type='text/javascript' src='{0}'></script>", "~/bundles/bootstrap")
    <script src="~/admin-lte/js/adminlte.js"></script> 

    @RenderSection("scripts", required: false)

    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
          page. However, you can choose any other skin. Make sure you
          apply the skin class to the body tag so the changes take effect. -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <style>
        .sidebar-menu ul li a {
            white-space: normal;
            word-wrap: break-word;
        }
    </style>
</head>

<body class="hold-transition skin-green-light sidebar-mini sidebar-collapse">
    <div class="wrapper">

        <!-- Main Header -->
        <header class="main-header">

            <!-- Logo -->
            <a href="/" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>SF</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>@Resources.NombreAplicacion</b></span>
            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            @*<a href="#" class="dropdown-toggle" data-toggle="dropdown">

                                </a>*@
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                    </ul>
                    @Html.Partial("_LoginPartial")
                    <ul class="nav navbar-nav navbar-right" dir="@Resources.ReverseTextDirection">
                        <li>
                            @*@Html.GlobalisedRouteLink(Resources.OtherLanguageName, Resources.OtherLanguageKey, ViewContext.RouteData )*@
                            @*<a href="@Resources.OtherLanguageKey"><i class="fa fa-language"></i>&nbsp;@Resources.OtherLanguageName</a>*@
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <i class="fa fa-user-circle fa-2x  pull-right"></i>
                    </div>
                    <div class="pull-left info">
                        <p>@User.Identity.GetUserName()</p>
                    </div>
                </div>

                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="active treeview">
                        <a href="#">
                            <i class="fa fa-home"></i> <span>@Resources.Inicio</span>
                        </a>
                    </li>
                    @{
                        if (Session["Menu"] != null)
                        {
                            @Html.Raw(Session["Menu"])
                        }
                    }
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    @ViewBag.Title
                    <small>@ViewBag.Subtitle</small>
                </h1>
            </section>

            <div class="Planner_Separator">
            </div>
            <div id="divNotifications">
                <button id="btnNotifications" type="button" class="close">&times;</button>
                <label id="strMessage"></label>
            </div>

            <!-- Main content -->
            <section class="content container-fluid">
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <div class="control-sidebar-bg"></div>
    </div>
    <footer>
        <div class="text-center text-green">
            <p>&copy; @DateTime.Now.Year - @Resources.NombreAplicacion</p>
        </div>
    </footer>
</body>
</html>