﻿@using Planner.Model;
@using Resources;

@{
    ViewBag.Title = "Siembras";
    ViewBag.Subtitle = "Manejador de camas";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Planner_Sowing/BedManager.js"></script>

<div class="btn-group">
    <button id="btnSearch" name="btnSearch" class="btn btn-warning waves-effect waves-light" onclick="onClick()" data-toggle="tooltip" data-placement="top" title="@Resources.Consultar">
        <i class="fa fa-search"></i>
    </button>
    <button id="btnPdf" name="btnPdf" class="btn btn-danger waves-effect waves-light" onclick="getPdf()" data-toggle="tooltip" data-placement="top" title="PDF">
        <i class="fa fa-file-pdf-o"></i>
    </button>
</div>
<div class="Planner_Separator">
</div>

<div class="box box-success">
    <div class="box-body">
        <div class="col-md-12">
            <div class="col-md-3">
                <label for="lstBusinessUnit">@Resources.Finca:</label>
                @Html.DropDownList("lstBusinessUnit", ViewData["lstBusinessUnit"] as SelectList, new { @class = "form-control", @style = "width:100%", @id = "lstBusinessUnit" })
            </div>           
        </div>
    </div>
</div>

<div class="clearfix">
    <div class="box box-success">
        <div class="box-body">
            @Html.Partial("BedManager_List")
        </div>
    </div>
</div>

