﻿@using Resources;

<div id="BedManagerDataTable" class="form-group col-lg-12">
    <div id="resultsProjection">
        <table id="tableBedManager" class="frozen_alert table table-bordered table-striped table-condensed table-hover ">
            <thead>
                <tr>
                    <th class="text-center">@Resources.Cama</th>
                    <th class="text-center">@Resources.Invernadero</th>
                    <th class="text-center">@Resources.Tabla</th>
                    <th class="text-center">Orden</th>
                    <th class="text-center">Ancho</th>
                    <th class="text-center">Largo</th>
                    <th class="text-center">Nro Nave</th>
                    <th class="text-center">Área Útil</th>
                    <th class="text-center">@Resources.AreaInvernadero</th>
                    <th class="text-center">Área Ocupada</th>
                    <th class="text-center">Área Disponible</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var template in ViewBag.BedManager_List)
                {
                <tr>
                    <td class="text-center">@template.Bed</td>
                    <td class="text-center">@template.Greenhouse</td>
                    <td class="text-center">@template.TablaCama</td>
                    <td class="text-center">@template.Orden</td>
                    <td class="text-center">@template.Ancho</td>
                    <td class="text-center">@template.Largo</td>
                    <td class="text-center">@template.NroNave</td>
                    <td class="text-center">@template.AreaUtil</td>
                    <td class="text-center">@template.AreaInvernadero</td>
                    <td class="text-center">@template.AreaOcupada</td>
                    <td class="text-center">@template.AreaDisponible</td>
                </tr>

                 }
</tbody>
        </table>
    </div>
</div>
