﻿@using Resources;

<div id="DynamicDataTable" class="form-group col-lg-12">
    <div id="resultsDinamic">
        <table id="tableDynamic" class="frozen_alert table table-bordered table-striped table-condensed table-hover ">
            <thead>
                <tr>
                    <th class="text-center">@Resources.FechaSiembra</th>
                    <th class="text-center">@Resources.Cantidad</th>
                    <th class="text-center">@Resources.UnidadDeNegocio</th>
                    <th class="text-center">@Resources.Invernadero</th>
                    <th class="text-center">@Resources.Cama</th>
                    <th class="text-center">@Resources.Variedad</th>
                    <th class="text-center">@Resources.Estado</th>
                    <th class="text-center">@Resources.Area</th>
                    <th class="text-center">Densidad</th>
                    <th class="text-center">@Resources.Producto</th>
                    <th class="text-center">Tipo Producto</th>
                    <th class="text-center">Sem. Siembra</th>
                    <th class="text-center"> DiasLuz</th>
                    <th class="text-center"> DiaIniCos</th>
                    <th class="text-center"> DiaIniCos</th>
                    <th class="text-center"> DiaIniBoton</th>
                    <th class="text-center"> DiaPinch</th>
                    <th class="text-center"> FechaInicioLuz</th>
                    <th class="text-center"> FechaInicioCosecha</th>
                    <th class="text-center"> FechaInicioBoton</th>
                    <th class="text-center"> FechaPinch</th>
                    <th class="text-center"> PlantasProyectadas</th>
                    <th class="text-center"> PlantasPresupuestadas</th>
                    <th class="text-center"> TallosSembrados</th>
                    <th class="text-center"> Companias</th>
                    <th class="text-center"> Procedencia</th>
                    <th class="text-center"> Breader</th>
                    <th class="text-center"> Usuario</th>
                    <th class="text-center"> MesSIE</th>
                    <th class="text-center"> SemLuz</th>
                    <th class="text-center"> MesLuz</th>
                    <th class="text-center"> SemCOS</th>
                    <th class="text-center"> MesCOS</th>
                    <th class="text-center"> SemBOT</th>
                    <th class="text-center"> MesBOT</th>
                    <th class="text-center"> AuxCampoProporcionInvernadero</th>
                    <th class="text-center"> IDColores_Nombre</th>
                    <th class="text-center"> IDCategorias_Nombre</th>
                    <th class="text-center"> IDFamiliaColores_Nombre</th>
                    <th class="text-center"> IDBAS_TipoRegistroSiembras_Nombre</th>
                    <th class="text-center"> IDProducto</th>
                    <th class="text-center"> IDBAS_DestinoFlor_Nombre,</th>
                    <th class="text-center"> SemTransicion</th>
                    <th class="text-center"> SemErradicacion</th>
                    <th class="text-center"> ProgramaCama</th>
                    <th class="text-center"> ProgramaSiembra</th>
                    <th class="text-center"> NombreComercial</th>
                    <th class="text-center"> Comodin2</th>
                    <th class="text-center"> FasesPropagacion</th>
                    <th class="text-center"> Fregistro</th>
                    <th class="text-center"> NombreDiaSiembra</th>
                    <th class="text-center"> Hregistro</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var template in ViewBag.DynamicSowingList)
                {
                <tr>
                    <td>@template.Fsiembra</td>
                    <td>@template.Plantas</td>
                    <td>@template.UnidadNegocio</td>
                    <td>@template.Bloque</td>
                    <td>@template.Cama</td>
                    <td>@template.Producto</td>
                    <td>@template.EstadoSiembra</td>
                    <td>@template.Area</td>
                    <td>@template.Densidad</td>
                    <td>@template.ClaseProducto</td>
                    <td>@template.TipoProducto</td>
                    <td>@template.SemSIE</td>
                    <td>@template.DiasLuz</td>
                    <td>@template.DiaIniCos</td>
                    <td>@template.DiaIniCos</td>
                    <td>@template.DiaIniBoton</td>
                    <td>@template.DiaPinch</td>
                    <td>@template.FechaInicioLuz</td>
                    <td>@template.FechaInicioCosecha</td>
                    <td>@template.FechaInicioBoton</td>
                    <td>@template.FechaPinch</td>
                    <td>@template.PlantasProyectadas</td>
                    <td>@template.PlantasPresupuestadas</td>
                    <td>@template.TallosSembrados</td>
                    <td>@template.Companias</td>
                    <td>@template.Procedencia</td>
                    <td>@template.Breader</td>
                    <td>@template.Usuario</td>
                    <td>@template.MesSIE</td>
                    <td>@template.SemLuz</td>
                    <td>@template.MesLuz</td>
                    <td>@template.SemCOS</td>
                    <td>@template.MesCOS</td>
                    <td>@template.SemBOT</td>
                    <td>@template.MesBOT</td>
                    <td>@template.AuxCampoProporcionInvernadero</td>
                    <td>@template.IDColores_Nombre</td>
                    <td>@template.IDCategorias_Nombre</td>
                    <td>@template.IDFamiliaColores_Nombre</td>
                    <td>@template.IDBAS_TipoRegistroSiembras_Nombre</td>
                    <td>@template.IDProducto</td>
                    <td>@template.IDBAS_DestinoFlor_Nombre,</td>
                    <td>@template.SemTransicion</td>
                    <td>@template.SemErradicacion</td>
                    <td>@template.ProgramaCama</td>
                    <td>@template.ProgramaSiembra</td>
                    <td>@template.NombreComercial</td>
                    <td>@template.Comodin2</td>
                    <td>@template.FasesPropagacion</td>
                    <td>@template.Fregistro</td>
                    <td>@template.NombreDiaSiembra</td>
                    <td>@template.Hregistro</td>


                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
