﻿@using Planner.Model;
@using Resources;

@{
    ViewBag.Title = "Siembras";
    ViewBag.Subtitle = "Visor Dinámico de Siembras";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/pivot.css" rel="stylesheet" />
<script src="~/Scripts/pivot.js"></script>
<script src="~/Scripts/pivot.es.js"></script>

<script src="~/Scripts/Planner_Sowing/DynamicSowing.js"></script>

<div class="btn-group">
    <button id="btnSearch" name="btnSearch" class="btn btn-warning waves-effect waves-light" onclick="Search()" data-toggle="tooltip" data-placement="top" title="@Resources.Consultar">
        <i class="fa fa-search"></i>
    </button>
    <button id="btnPdf" name="btnPdf" class="btn btn-danger waves-effect waves-light" onclick="getPdf()" data-toggle="tooltip" data-placement="top" title="PDF">
        <i class="fa fa-file-pdf-o"></i>
    </button>
</div>
<div class="Planner_Separator">
</div>

<div class="box box-success">
    <div class="box-body">
        <div class="col-md-12">
            <div class="col-md-3">
                <label for="lstBusinessUnit">@Resources.Finca:</label>
                @Html.DropDownList("lstBusinessUnit", ViewData["lstBusinessUnit"] as SelectList, new { @class = "form-control", @style = "width:100%", @id = "lstBusinessUnit" })
            </div>
        </div>
    </div>
</div>

<div class="clearfix">
    <div class="box box-success">
        <div class="box-body">
            <div class="box-group" id="accordion">
                                <div class="panel box box-primary">
                                    <div class="box-header with-border">
                                        <h4 class="box-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                Visor Dinámico
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="box-body">
                                            <div id="pivDynamic">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel box box-danger">
                                    <div class="box-header with-border">
                                        <h4 class="box-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                                @Resources.Datos
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="box-body">
                                            @Html.Partial("DynamicSowingList")
                                        </div>
                                    </div>
                                </div>
                            </div>

        </div>
    </div>
</div>

