﻿@using Resources;
@using Planner.Model;


@{
    ViewBag.Title = Resources.Siembras + " - " + Resources.EjecucionDeLabores;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/icheck/skins/flat/_all.css" rel="stylesheet" />
<script src="~/Content/icheck/icheck.min.js"></script>

<script src="~/Scripts/Planner_Sowing/Execution.js"></script>

<div class="btn-group">
    <button id="btnSearch" name="btnSearch" class="btn btn-warning waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.Buscar" onclick='Search()'>
        <i class="fa fa-search"></i>
    </button>
    <button id="btnExcel" name="btnExcel" class="btn btn-success waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.ExportarExcel">
        <i class="fa fa-file-excel-o"></i>
    </button>
</div>
<div class="Planner_Separator">
</div>

<div class="box box-success">
    <div class="box-body">
        <div class="col-xs-12 col-sm-12 col-md-12">
            @using (Html.BeginForm("Execution", "Planner_Sowing", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "Execution" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

            <div class="col-xs-12 col-sm-3 col-md-3">
                <label for="ddlBusinessUnit">@Resources.UnidadDeNegocio</label>
                @Html.DropDownList("ddlBusinessUnit", ViewData["businessUnitList"] as SelectList, Resources.Seleccionar, new { @class = "form-control select2", @multiple = "multiple", @style = "width:100%; max-width:100%" })
            </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <label for="ddlActivity">@Resources.Actividad</label>
                    <div class="controls">
                        @Html.DropDownList("ddlActivity", ViewData["activityList"] as SelectList, Resources.Todo, new { @class = "form-control select2", @multiple = "multiple", @style = "width:100%; max-width:100%" })
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <label for="ddlWeekFrom">@Resources.Semana</label>
                    <div class="controls">
                        @Html.DropDownList("ddlWeek", ViewData["lstWeek"] as SelectList, Resources.Seleccionar, new { @class = "form-control select2", @style = "width:100%; max-width:100%" })
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="box box-success">
    <div class="box-body">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="row">
                @Html.Partial("ExecutionCombinedList")
            </div>
        </div>
    </div>
</div>