﻿@using Resources;

<script src="~/Scripts/Planner_Sowing/ExecutionCombinedList.js"></script>

<div id="ExecutionCombinedDataTable" class="form-group col-lg-12">
    <div id="resultsExecutionCombined" style="width:100%">
        <table id="tableExecutionCombined" class="frozen_alert table table-bordered table-striped table-condensed table-hover table-responsive" style="width:100%">
            <thead>
                <tr>
                    <th class="text-center" style="background-color:#00B0F0; color:#ffffff" valign="middle" rowspan="2">Producto Vegetal</th>
                    <th class="text-center" style="background-color:#00B0F0; color:#ffffff" valign="middle" rowspan="2">Tipo Labor</th>
                    <th class="text-center" style="background-color:#00B0F0; color:#ffffff" valign="middle" rowspan="2">Labor</th>
                    <th class="text-center" style="background-color:#00B0F0; color:#ffffff" valign="middle" rowspan="2">Unidad</th>
                    <th class="text-center" style="background-color:#00B0F0; color:#ffffff" valign="middle" colspan="2">Pres. Semanal</th>
                    @foreach (var _ExecutionHeader in ViewBag.ExecutionHeader)
                    {
                        if (_ExecutionHeader.DayNumber < (int)DateTime.Now.DayOfWeek)
                        {
                            <th class="text-center" style="background-color:#00B0F0; color:#ffffff" colspan="2">@_ExecutionHeader.DayName</th>
                        }
                        if (_ExecutionHeader.DayNumber == (int)DateTime.Now.DayOfWeek)
                        {
                            if (_ExecutionHeader.DayDate == DateTime.Now.Date)
                            {
                                <th id="tdCombined" name="tdCombined" class="text-center" style="background-color:#2F75B5; color:#ffffff" colspan="2">@Resources.Hoy</th>
                            }
                            else
                            {
                                <th id="tdCombined" name="tdCombined" class="text-center" style="background-color:#2F75B5; color:#ffffff" colspan="2">@_ExecutionHeader.DayName</th>
                            }
                        }
                        if (_ExecutionHeader.DayNumber > (int)DateTime.Now.DayOfWeek)
                        {
                            <th class="text-center" style="background-color:#305496; color:#ffffff" colspan="2">@_ExecutionHeader.DayName</th>
                        }
                    }
                    <th class="text-center" style="background-color:#305496; color:#ffffff" rowspan="2">Desviaci&oacute;n</th>
                </tr>
                <tr>
                    <th class="text-center" style="background-color:#00B0F0; color:#ffffff">@Resources.Unidad</th>
                    <th class="text-center" style="background-color:#00B0F0; color:#ffffff">@Resources.ManoDeObraAbr</th>
                    @foreach (var _ExecutionHeader in ViewBag.ExecutionHeader)
                    {
                        if (_ExecutionHeader.DayNumber < (int)DateTime.Now.DayOfWeek)
                        {
                            <th class="text-center" style="background-color:#00B0F0; color:#ffffff">@Resources.Unidad</th>
                            <th class="text-center" style="background-color:#00B0F0; color:#ffffff">@Resources.ManoDeObraAbr</th>
                        }
                        if (_ExecutionHeader.DayNumber == (int)DateTime.Now.DayOfWeek)
                        {
                            <th class="text-center" style="background-color:#2F75B5; color:#ffffff">@Resources.Unidad</th>
                            <th class="text-center" style="background-color:#2F75B5; color:#ffffff">@Resources.ManoDeObraAbr</th>
                        }
                        if (_ExecutionHeader.DayNumber > (int)DateTime.Now.DayOfWeek)
                        {
                            <th class="text-center" style="background-color:#305496; color:#ffffff">@Resources.Unidad</th>
                            <th class="text-center" style="background-color:#305496; color:#ffffff">@Resources.ManoDeObraAbr</th>
                        }
                    }
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
