﻿@using Resources;
@using System.Globalization;

<script src="~/Scripts/Planner_Sowing/ExecutionLaborsWorkforceList.js"></script>

<style>
    .rTable {
        display: table;
        width: 100%;
        border: 0px;
    }

    .rTableRow {
        display: table-row;
    }

    .rTableHeading {
        display: table-header-group;
        background-color: #ddd;
    }

    .rTableCellPrg, .rTableHead {
        display: table-cell;
        padding: 3px 10px;
        float: right;
    }

        .rTableCellPrg:hover {
            background: #00B0F0;
            color: #ffffff;
        }

    .rTableCellExe, .rTableHead {
        display: table-cell;
        padding: 3px 10px;
        float: right;
    }
        .rTableCellExe:hover {
            background: #305496;
            color: #ffffff;
        }

    .rTableBody {
        display: table-row-group;
    }
</style>

<div id="ExecutionLaborsWorkforceDataTable" class="form-group col-lg-12" style="overflow:auto; width:100%; display:block">
    <div id="resultsExecutionLaborsWorkforce">
        <table id="tableExecutionLaborsWorkforce" class="frozen_alert table table-bordered table-striped table-condensed table-hover" style="width:100%; display:block">
            <thead>
                <tr >
                    <th class="text-center" style="background-color:#00B0F0; color:#ffffff" valign="middle" rowspan="2">@Resources.ProductoVegetal</th>
                    <th class="text-center" style="background-color:#00B0F0; color:#ffffff" valign="middle" rowspan="2">@Resources.TipoDeLabor</th>
                    <th class="text-center" style="background-color:#00B0F0; color:#ffffff" valign="middle" rowspan="2">@Resources.Labor</th>
                    <th class="text-center" style="background-color:#00B0F0; color:#ffffff" valign="middle" rowspan="2">@Resources.Unidad</th>
                    <th class="text-center" style="background-color:#00B0F0; color:#ffffff" valign="middle">Pres. Semanal</th>

                    @foreach (var _ExecutionHeader in ViewBag.ExecutionHeader)
                    {
                        if (_ExecutionHeader.DayNumber < (int)DateTime.Now.DayOfWeek)
                        {
                            <th class="text-center" style="background-color:#00B0F0; color:#ffffff">@_ExecutionHeader.DayName</th>
                        }
                        if (_ExecutionHeader.DayNumber == (int)DateTime.Now.DayOfWeek)
                        {
                            if (_ExecutionHeader.DayDate == DateTime.Now.Date)
                            {
                                <th id="tdLabor" name="tdLabor" class="text-center" style="background-color:#2F75B5; color:#ffffff">@Resources.Hoy</th>
                            }
                            else
                            {
                                <th id="tdLabor" name="tdLabor" class="text-center" style="background-color:#2F75B5; color:#ffffff">@_ExecutionHeader.DayName</th>
                            }
                        }
                        if (_ExecutionHeader.DayNumber > (int)DateTime.Now.DayOfWeek)
                        {
                            <th class="text-center" style="background-color:#305496; color:#ffffff">@_ExecutionHeader.DayName</th>
                        }
                    }
                    <th class="text-center" style="background-color:#305496; color:#ffffff" valign="middle">Ejec. Semanal</th>
                    <th class="text-center" style="background-color:#305496; color:#ffffff" rowspan="2">Cumplimiento</th>
                </tr>
                <tr>
                    <th class="text-center" style="background-color:#00B0F0; color:#ffffff">@Resources.Cantidad</th>

                    @foreach (var _ExecutionHeader in ViewBag.ExecutionHeader)
                    {
                        if (_ExecutionHeader.DayNumber < (int)DateTime.Now.DayOfWeek)
                        {
                            <th class="text-center" style="background-color:#00B0F0; color:#ffffff">@_ExecutionHeader.ReportName</th>
                        }
                        if (_ExecutionHeader.DayNumber == (int)DateTime.Now.DayOfWeek)
                        {
                            <th class="text-center" style="background-color:#2F75B5; color:#ffffff">@_ExecutionHeader.ReportName</th>
                        }
                        if (_ExecutionHeader.DayNumber > (int)DateTime.Now.DayOfWeek)
                        {
                            <th class="text-center" style="background-color:#305496; color:#ffffff">@_ExecutionHeader.ReportName</th>
                        }
                    }

                    <th class="text-center" style="background-color:#305496; color:#ffffff">@Resources.Cantidad</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var template in ViewBag.ExecutionList)
                {
                    <tr>
                        <td style="vertical-align: middle">@template.ProductClass</td>
                        <td style="vertical-align: middle">@template.ActivityGroup</td>
                        <td style="vertical-align: middle">@template.LaborName</td>
                        <td style="vertical-align: middle">@template.Name</td>

                        @if (template.ReportType == 2)
                        {
                            <td nowrap style="vertical-align: middle;"><div class="rTableCellPrg" title=@Resources.Programado>@template.ExecutionDetailLst[(template.ReportType == 2 ? 0 : template.ReportType)].WeekTotal</div></td>
                            <td nowrap style="vertical-align: middle">
                                <div class="rTable">
                                    <div class="rTableRow">
                                        <div class="rTableCellExe" title=@Resources.Ejecutado>@template.ExecutionDetailLst[2].C1</div>
                                    </div>
                                    <div class="rTableRow">
                                        <div class="rTableCellPrg" title=@Resources.Programado>@template.ExecutionDetailLst[0].C1</div>
                                    </div>
                                </div>
                            </td>
                            <td nowrap style="vertical-align: middle">
                                <div class="rTable">
                                    <div class="rTableRow">
                                        <div class="rTableCellExe" title=@Resources.Ejecutado>@template.ExecutionDetailLst[2].C2</div>
                                    </div>
                                    <div class="rTableRow">
                                        <div class="rTableCellPrg" title=@Resources.Programado>@template.ExecutionDetailLst[0].C2</div>
                                    </div>
                                </div>
                            </td>
                            <td nowrap style="vertical-align: middle">
                                <div class="rTable">
                                    <div class="rTableRow">
                                        <div class="rTableCellExe" title=@Resources.Ejecutado>@template.ExecutionDetailLst[2].C3</div>
                                    </div>
                                    <div class="rTableRow">
                                        <div class="rTableCellPrg" title=@Resources.Programado>@template.ExecutionDetailLst[0].C3</div>
                                    </div>
                                </div>
                            </td>
                            <td nowrap style="vertical-align: middle">
                                <div class="rTable">
                                    <div class="rTableRow">
                                        <div class="rTableCellExe" title=@Resources.Ejecutado>@template.ExecutionDetailLst[2].C4</div>
                                    </div>
                                    <div class="rTableRow">
                                        <div class="rTableCellPrg" title=@Resources.Programado>@template.ExecutionDetailLst[0].C4</div>
                                    </div>
                                </div>
                            </td>
                            <td nowrap style="vertical-align: middle">
                                <div class="rTable">
                                    <div class="rTableRow">
                                        <div class="rTableCellExe" title=@Resources.Ejecutado>@template.ExecutionDetailLst[2].C5</div>
                                    </div>
                                    <div class="rTableRow">
                                        <div class="rTableCellPrg" title=@Resources.Programado>@template.ExecutionDetailLst[0].C5</div>
                                    </div>
                                </div>
                            </td>
                            <td nowrap style="vertical-align: middle">
                                <div class="rTable">
                                    <div class="rTableRow">
                                        <div class="rTableCellExe" title=@Resources.Ejecutado>@template.ExecutionDetailLst[2].C6</div>
                                    </div>
                                    <div class="rTableRow">
                                        <div class="rTableCellPrg" title=@Resources.Programado>@template.ExecutionDetailLst[0].C6</div>
                                    </div>
                                </div>
                            </td>
                            <td nowrap style="vertical-align: middle">
                                <div class="rTable">
                                    <div class="rTableRow">
                                        <div class="rTableCellExe" title=@Resources.Ejecutado>@template.ExecutionDetailLst[2].C7</div>
                                    </div>
                                    <div class="rTableRow">
                                        <div class="rTableCellPrg" title=@Resources.Programado>@template.ExecutionDetailLst[0].C7</div>
                                    </div>
                                </div>
                            </td>

                            <td nowrap style="vertical-align: middle;"><div class="rTableCellExe" title=@Resources.Ejecutado>@template.ExecutionDetailLst[template.ReportType].WeekTotal</div></td>
                        }
                        else
                        {
                            <td nowrap>@template.ExecutionDetailLst[template.ReportType].WeekTotal</td>
                            <td nowrap>@template.ExecutionDetailLst[template.ReportType].C1</td>
                            <td nowrap>@template.ExecutionDetailLst[template.ReportType].C2</td>
                            <td nowrap>@template.ExecutionDetailLst[template.ReportType].C3</td>
                            <td nowrap>@template.ExecutionDetailLst[template.ReportType].C4</td>
                            <td nowrap>@template.ExecutionDetailLst[template.ReportType].C5</td>
                            <td nowrap>@template.ExecutionDetailLst[template.ReportType].C6</td>
                            <td nowrap>@template.ExecutionDetailLst[template.ReportType].C7</td>
                            <td nowrap>@template.ExecutionDetailLst[template.ReportType].WeekTotal</td>
                        }

                        @{
                            var decPorCum = (((template.ExecutionDetailLst[2].WeekTotalVlr * 100) / template.ExecutionDetailLst[0].WeekTotalVlr));
                            decPorCum = Math.Round(decPorCum, 2);
                            <td nowrap style="vertical-align: middle">@(template.ReportType == 2 ? decPorCum.ToString().Replace(",", ".") : (0).ToString().Replace(",", "."))</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
