﻿@using Resources;
@using Planner.Model;

@{
    ViewBag.Title = Resources.Siembras + " - Plan de siembras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/icheck/skins/flat/_all.css" rel="stylesheet" />
<script src="~/Content/icheck/icheck.min.js"></script>
<script src="~/Scripts/DataTables/extensions/RowGroup/js/dataTables.rowGroup.js"></script>
<script src="~/Scripts/Planner_Sowing/PlantingPlan.js"></script>

<!-- Pivot JS-->
@*<link href="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.0.1/pivot.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.1.0/pivot.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.0.2/tips_data.min.js"></script>*@

<!-- Pivot webdatarocks-->
@*<link href="https://cdn.webdatarocks.com/latest/webdatarocks.min.css" rel="stylesheet" />
    <script src="https://cdn.webdatarocks.com/latest/webdatarocks.toolbar.min.js"></script>
    <script src="https://cdn.webdatarocks.com/latest/webdatarocks.js"></script>*@

<!-- Pivot Flexmonster-->
<script src="https://cdn.flexmonster.com/flexmonster.js"></script>


<div class="btn-group">
    <button id="btnSearch" name="btnSearch" class="btn btn-warning waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.Buscar" onclick='Search()'>
        <i class="fa fa-search"></i>
    </button>
</div>
<div class="Planner_Separator">
</div>

<div class="box box-success">
    <div class="box-body">
        <div class="col-xs-12 col-sm-12 col-md-12">
            @using (Html.BeginForm("Execution", "Planner_Sowing", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "Execution" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="col-xs-12 col-sm-2 col-md-3">
                    <label for="ddlBusinessUnit">@Resources.UnidadDeNegocio</label>
                    @Html.DropDownList("ddlBusinessUnit", ViewData["businessUnitList"] as SelectList, Resources.Todo, new { @class = "form-control select2", @multiple = "multiple", @style = "width:100%; max-width:100%" })
                </div>
                <div class="col-xs-12 col-sm-2 col-md-3">
                    <label for="ddlProduct">@Resources.Producto</label>
                    @Html.DropDownList("ddlProduct", ViewData["productList"] as SelectList, Resources.Todo, new { @class = "form-control select2", @multiple = "", @style = "width:100%; max-width:100%" })
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <label for="ddlWeekFrom">@Resources.Semana</label>
                    <div class="controls">
                        @Html.DropDownList("ddlWeek", ViewData["lstWeek"] as SelectList, Resources.Seleccionar, new { @class = "form-control select2", @style = "width:100%; max-width:100%" })
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="box-body">
    <div class="box box-success">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="row">
                <div id="PivotWData"></div>
                @*@Html.Partial("PlantingPlan_List")*@
            </div>
        </div>
    </div>
</div>