﻿@using Resources;

<div id="Planner_PlantingDataTable" class="form-group col-lg-12">
    <div id="resultsPlanner_Planting">
        <table id="tablePlanner_Planting" class="frozen_alert table table-bordered table-striped table-condensed table-hover ">
            <thead>
                <tr>
                    <th class="text-center">@Resources.Semana</th>
                    <th class="text-center">@Resources.Finca</th>
                    <th class="text-center">@Resources.Bloques</th>
                    <th class="text-center">@Resources.Cama</th>
                    <th class="text-center">@Resources.Producto</th>
                    <th class="text-center">@Resources.Variedad</th>
                    <th class="text-center">@Resources.FaseDePropagacion</th>
                    <th class="text-center">@Resources.Fecha</th>
                    <th class="text-center">@Resources.Unidades</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var template in ViewBag.PlantingPlan_List)
                {
                    <tr>
                        <td>@template.Semana</td>
                        <td>@template.BusinessUnit</td>
                        <td>@template.Greenhouse</td>
                        <td>@template.Bed</td>
                        <td>@template.PlantProduct</td>
                        <td>@template.Product</td>
                        <td>@template.SpreadPhase</td>
                        <td>@template.Date</td>
                        <td>@template.Units</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

