﻿@using Resources;

<div id="ProjectionDataTable" class="form-group col-lg-12">
    <div id="resultsProjection">
        <table id="tableProjection" class="frozen_alert table table-bordered table-striped table-condensed table-hover ">
            <thead>
                <tr>
                    <th class="text-center">@Resources.Ano</th>
                    <th class="text-center">@Resources.Semana</th>
                    <th class="text-center">@Resources.UnidadDeNegocio</th>
                    <th class="text-center">@Resources.Invernadero</th>
                    <th class="text-center">@Resources.Producto</th>
                    <th class="text-center">@Resources.Actividad</th>
                    <th class="text-center">@Resources.Minutos</th>
                    <th class="text-center">@Resources.Cantidad</th>
                    <th class="text-center">@Resources.Rendimiento</th>
                    <th class="text-center">@Resources.FormaDeCalculo</th>
                    <th class="text-center">@Resources.Horas</th>
                    <th class="text-center">@Resources.Personas</th>
                    <th class="text-center">@Resources.Cantidad</th>
                    <th class="text-center">@Resources.Rendimiento</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var template in ViewBag.ProjectionList)
                {
                <tr>
                    <td>
                        @template.Year
                    </td>
                    <td>
                        @template.Week
                    </td>
                    <td>
                        @template.BusinessUnit
                    </td>
                    <td>
                        @template.Greenhouse
                    </td>
                    <td>
                        @template.Product
                    </td>
                    <td>
                        @template.Name
                    </td>
                    <td>
                        @template.Minutes
                    </td>
                    <td>
                        @template.Units
                    </td>
                    <td>
                        @template.Performance
                    </td>
                    <td>
                        @template.CalculationMode
                    </td>
                    <td>
                        @template.Hours
                    </td>
                    <td>
                        @template.Persons
                    </td>
                    <td>
                        @template.QuantityVS2
                    </td>
                    <td>
                        @template.PerformancePerMinutesVS2
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
