﻿<div id="visorList" name="visorList">

    @foreach (var template in ViewBag.aListy)
    {
        
            if (Convert.ToInt32(template.Bed) % 2 == 0)
            {
                <div class="col-md-6">
                    @if (template.Product != null)
                    {
                    <div class="clickBed callout callout-success " style="padding: 10px!important" id="@template.BedID" data-toggle="modal" data-target="#modalDetails">
                        <span data-toggle="tooltip" title="" class="badge bg-light-blue-active" data-original-title="">@template.Bed</span>
                        <span>@template.Product</span>
                    </div>
                    }
                    else
                    {
                        <div class="clickBed callout callout-empty" id="@template.BedID" style="padding: 10px!important; background-color: #92651e !important; border-left: 5px solid #714c07" data-toggle="modal" data-target="#modalDetails">
                            <span data-toggle="tooltip" title="" class="badge bg-light-blue-active" data-original-title="">@template.Bed</span>
                            <span>@template.Product</span>
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="col-md-6">
                    @if (template.Product != null)
                    {
                        <div class="callout callout-success clickBed" id="@template.BedID" style="padding: 10px!important" data-toggle="modal" data-target="#modalDetails">
                            <span data-toggle="tooltip" title="" class="badge bg-light-blue-active" data-original-title="">@template.Bed</span>
                            <span>@template.Product</span>
                        </div>
                    }
                    else
                    {
                        <div class=" callout callout-empty clickBed" id="@template.BedID" style="padding: 10px!important; background-color: #92651e !important; border-left: 5px solid #714c07 " data-toggle="modal" data-target="#modalDetails">
                            <span data-toggle="tooltip" title="" class="badge bg-light-blue-active" data-original-title="">@template.Bed</span>
                            <span>@template.Product</span>
                        </div>
                    }
                </div>
            }

    }
</div>

<div class="modal fade" id="modalDetails" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Información Cama</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3 no-padding text-center">
                        <div class="small-box bg-green" style="height: 90px">
                            <div id="innerHead" class="inner  ">

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 no-padding">
                        <div class="small-box bg-green" style="height: 90px">
                            <div class="inner text-center" id="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 no-padding">
                        <div class="small-box bg-green" style="height: 90px">
                            <div class="inner text-center" id="innerDetails">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="Details"> </div>
                <hr />
                <div class="row">
                    @*<div style="overflow:scroll; width:auto">*@
                        <table id="tableInfo" class="table table-striped table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="text-center">F. Siembra</th>
                                    <th class="text-center">Clase Producto</th>
                                    <th class="text-center">Variedad</th>
                                    <th class="text-center">Tallos Sembrados</th>
                                    <th class="text-center">Densidad</th>
                                    <th class="text-center">Area</th>
                                    <th class="text-center">Fase</th>
                                    <th class="text-center">F. Erradicación</th>
                                    <th class="text-center">Estado</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    @*</div>*@
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>