﻿@{
    ViewBag.Title = "Informe Incidencia / Severidad";
}
<!--,Inclusion de librerias-->
<link href="~/Content/icheck/skins/flat/_all.css" rel="stylesheet" />
<script src="~/Content/icheck/icheck.min.js"></script>
<script src="~/Scripts/IncidenceSeverite/Index.js"></script>
<link href="~/Content/Chart.css" rel="stylesheet" />
<script src="~/Scripts/Chart.js"></script>
<script src="~/Content/html2pdf/dist/html2pdf.min.js"></script>
<script src="~/Content/html2pdf/dist/html2pdf.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.debug.js"></script>
<!--,Inclusion de librerias-->

<div class="btn-group">
    <button class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top" title="Imprimir Reporte" id="downloadPdf"><i class="fa fa-file-pdf-o"></i> </button>
</div>

<div class="col-sm-12">
    <br />
</div>

<div class="box box-success">
    <div class="box-header">
        <b>Filtros</b>
    </div>

    <div class="box-header">
        <div class="col-md-2">
            <label for="Semana">Semana Inicial: </label>
            @Html.DropDownList("ddlWeek", ViewData["listWeek"] as SelectList, "Seleccione", new { @class = "form-control select2", @style = "width:100%", @id = "WeekIDInic" })
        </div>

        <div class="col-md-2">
            <label for="Semana">Semana Final: </label>
            @Html.DropDownList("ddlWeek", ViewData["listWeek"] as SelectList, "Seleccione", new { @class = "form-control select2", @style = "width:100%", @id = "WeekIDFina" })
        </div>
        <div class="col-sm-2 col-lg-2 col-md-2">
            <label for="Finca">Finca: </label>
            @Html.DropDownList("BusinessUnitID", ViewData["BussinesUnitList"] as SelectList, null, new { @class = "form-control select2", @style = "width:100%", @id = "BusinessUnitID" })
        </div>
        <div class="col-sm-2 col-lg-2 col-md-2">
            <label for="Bloque"><input type="checkbox" id="BlockEnable" title="Activar / Desactivar" />&nbsp;Bloque: </label>
            <select id="GreenhouseID" name="GreenhouseID" class="form-control select2" style="width:100%;" disabled>
                <option>Todos</option>
            </select>
        </div>

        <div class="col-sm-2 col-lg-2 col-md-2">
            <label for="Producto">Producto: </label>
            @Html.DropDownList("ProductID", ViewData["productList"] as SelectList, "TODOS", new { @class = "form-control select2", @style = "width:100%", @id = "ProductID" })
        </div>

        <div class="col-sm-2 col-lg-2 col-md-2">
            <label for="Blanco Biológico">Blanco Biológico: </label>
            @Html.DropDownList("PestID", ViewData["listaBT"] as SelectList, null, new { @class = "form-control select2", @style = "width:100%", @id = "PestID" })

        </div>
        <div class="clearfix"></div>
        <br />
        <div class="box-footer">
            <div class="col-sm-7 col-lg-7 col-md-7 ">
                <div class="col-md-12 text-center">
                    <label for="Tipo de reporte">Tipo de reporte </label>
                </div>
                <div class="col-sm-4">
                    Incidencia <input type="radio" name="ReportType" value="1" checked class="ReportType" />&nbsp;
                </div>
                <div class="col-sm-4">
                    Severidad <input type="radio" name="ReportType" value="2" class="ReportType" />&nbsp;
                </div>
                <div class="col-sm-4">
                    Incidencia Vs Severidad <input type="radio" name="ReportType" value="3" class="ReportType" />&nbsp;
                </div>
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5 text-center">
                <br />
                <button class="btn btn-warning" id="DrawReport">Consultar</button>
                @*<button class="btn btn-primary" id="DrawReport">Enviar</button>*@
            </div>
        </div>

    </div>
</div>

<div class="box box-success">
    <div class="box-body">
        <div id="AllGraph">
            <div class="col-sm-12 text-center"><h4><b id="titulo"></b></h4></div>

            <div style="z-index:999" id="cargaCanvas">
            </div>

            <div class="col-sm-12" id="CanvasMultiple">
            </div>
        </div>
    </div>
</div>