﻿@using Resources;
@using Planner.Model;

<script src="~/Scripts/jspdf.min.js"></script>
<script src="~/Content/html2pdf/dist/html2pdf.min.js"></script>
<script src="~/Content/html2pdf/dist/html2pdf.bundle.min.js"></script>


@model Planner.Model.Planner_Template

@{
    ViewBag.Title = Resources.PlanoDeMonitoreo;
    ViewBag.Subtitle = Resources.PlanoDeMonitoreo; ;

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Phytosanity_Flat/Phytosanity_Flat.js"></script>

@Html.Hidden("TblInd", (int)ViewBag.TblInd)

<div class="btn-group">
    <button id="btnSearch" name="btnSearch" class="btn btn-warning waves-effect waves-light" onclick="CallSubmit()" data-toggle="tooltip" data-placement="top" title="@Resources.Consultar">
        <i class="fa fa-search"></i>
    </button>
    <button id="btnPdf" name="btnPdf" class="btn btn-danger waves-effect waves-light" onclick="exportPdf()" data-toggle="tooltip" data-placement="top" title="PDF">
        <i class="fa fa-file-pdf-o"></i>
    </button>
</div>
<div class="Planner_Separator">
</div>

<div class="box box-success">
    <div class="box-body">       
        <div class="col-md-12">
            <div class="col-md-2">
                <label for="lstWeek">@Resources.Semana:</label>
                @Html.DropDownList("ddlWeek", @ViewBag.lstWeek as IEnumerable<SelectListItem>, null, new { @class = "form-control select2", @style = "width:100%", @id = "ddlWeek" })
            </div>
            <div class="col-md-3">
                <label for="lstBusinessUnit">@Resources.Finca:</label>
                @Html.DropDownList("ddlBusinessUnit", ViewData["lstBusinessUnit"] as SelectList, new { @class = "form-control select2", @style = "width:100%", @id = "ddlBusinessUnit" })
            </div>
            <div class="col-md-3">
                <label for="lstGreenhouse">@Resources.Bloques:</label>
                @Html.DropDownList("ddlGreenhouse", ViewData["lstGreenhouse"] as SelectList, new { @class = "form-control select2", @style = "width:100%", @id = "ddlGreenhouse" })
            </div>
            <div class="col-sm-2 col-lg-2 col-md-2">
                <label for="Blanco Biológico">@Resources.BlancoBiologico: </label>
                @Html.DropDownList("PestID", ViewData["listaBT"] as SelectList, "TODOS", new { @class = "form-control select2", @style = "width:100%", @id = "PestID" })
            </div>
        </div>
    </div>
</div>

<div class="box box-success" >
    <div id="tituloPdf" class="text-bold" style="display:none">
        FINCA: <label id="NameFarmT"></label>&nbsp;&nbsp;&nbsp;SEMANA: <label id="strWeekT"></label>&nbsp;&nbsp;&nbsp;CAMAS: <label id="intBedsT"></label>&nbsp;&nbsp;&nbsp;SIEMBRA: <label id="datSowingDateT"></label>&nbsp;&nbsp;&nbsp;CULTIVO: <label id="strCultivoT"></label>&nbsp;&nbsp;&nbsp;BLOQUE: <label id="intBlockT"></label>
    </div>
    <div class="box-header">
        <div class="row text-center">
            <label id="NameFarm"></label>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3">
                <dl class="dl-horizontal">
                    <dt>@Resources.Semana:</dt>
                    <dd id="strWeek"></dd>
                </dl>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2">
                <dl class="dl-horizontal">
                    <dt>@Resources.Camas:</dt>
                    <dd id="intBeds"></dd>
                </dl>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2">
                <dl class="dl-horizontal">
                    <dt>@Resources.Siembra:</dt>
                    <dd id="datSowingDate"></dd>
                </dl>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2">
                <dl class="dl-horizontal">
                    <dt>@Resources.Cultivo:</dt>
                    <dd id="strCultivo"></dd>
                </dl>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-1">
                <dl class="dl-horizontal">
                    <dt>@Resources.Bloque:</dt>
                    <dd id="intBlock"></dd>
                </dl>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 hidden">
                @Html.TextBox("tableImp", null, new { @id = "tableImp", @class = "form -control", @readonly = "readonly", @style = "width:100%" })
            </div>
        </div>
    </div>
    <div class="box-body" id="ContentFlat">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="form-group">
                @Html.Partial("Phytosanity_FlatAbrr")
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="form-group">
                @Html.Partial("Phytosanity_FlatListPar")
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="form-group">
                @Html.Partial("Phytosanity_FlatListImpar")
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="form-group">
                @Html.Partial("Phytosanity_FlatListA")
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="form-group">
                @Html.Partial("Phytosanity_FlatListB")
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="form-group">
                @Html.Partial("Phytosanity_FlatListC")
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-8 col-sm-offset-2 col-md-offset-2">
            <div class="form-group">
                @Html.Partial("Phytosanity_FlatFooter")
            </div>
        </div>
    </div>
</div>
