﻿@using Resources;

<div id="Phytosanity_FlatAbrrDataTable">
    <div id="Phytosanity_FlatListAbrrDataTable" class="form-group row">
        <div id="resultsPhytosanity_FlatAbrr">
            <table id="tablePhytosanity_FlatAbrr" class="table-bordered table-condensed table-hover tableFlat" style="font-size:0.8em; min-width: 90%;">
                
                <tbody>
                    <tr>
                        @foreach (var template in ViewBag.Phytosanity_FlatAbrr)
                        {
                            <td style="width:50px">@template.Abrr</td>
                        }
                    </tr>
                    <tr>
                        @foreach (var template in ViewBag.Phytosanity_FlatAbrr)
                        {
                            <td style="width:50px">@template.Plagas</td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
