﻿@using Resources;
@using System.Data;

<div id="Phytosanity_FlatFooterDataTable">
    <div id="Phytosanity_FlatListFooterDataTable" class="form-group row">
        <div id="resultsPhytosanity_FlatFooter">
            <table id="tablePhytosanity_FlatFooter" class="frozen_alert table table-bordered table-striped table-condensed table-hover tableFlatSummary" style="font-size:0.8em;">
                <thead>
                    <tr>
                        <th colspan="@ViewBag.Phytosanity_FlatListFooter.Columns.Count" style="text-align:center">@Resources.Resumen</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="text-align:center; font-weight: bold">
                        @{
                            if (ViewBag.Phytosanity_FlatListFooter != null)
                            {
                                foreach (DataColumn col in ViewBag.Phytosanity_FlatListFooter.Columns)
                                {
                        <td nowrap style="overflow:hidden" class="tdFlatSummary">
                            @if (col.ToString() != Resources.BlancoBiologico)
                            {
                                @Html.Raw(@col) }
                            else
                            {
                                @col
                            }
                        </td>
                                }
                            }
                        }

                    </tr>

                    @foreach (DataRow row in ViewBag.Phytosanity_FlatListFooter.Rows)
                    {
                        <tr class="tdFlatSummary">
                            @{
                                if (ViewBag.Phytosanity_FlatListFooter != null)
                                {
                                    foreach (DataColumn col in ViewBag.Phytosanity_FlatListFooter.Columns)
                                    {
                                        <td nowrap style="overflow:hidden">@row[col.ColumnName]</td>
                                    }
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
