﻿@using Resources;

<div id="Phytosanity_FlatImparDataTable">
    <div id="Phytosanity_FlatListImparDataTable" class="form-group row">
        <div id="resultsPhytosanity_FlatImpar">
            <table id="tablePhytosanity_FlatImpar" class="table-bordered table-condensed table-hover tableFlat" style="font-size:0.8em; min-width: 90%;">
                <thead>
                    <tr>
                        <th class="text-center">@Resources.Cama</th>
                        <th class="text-center ">1</th>
                        <th class="text-center ">2</th>
                        <th class="text-center ">3</th>
                        <th class="text-center ">4</th>
                        <th class="text-center ">5</th>
                        <th class="text-center" style="width:28%;">@Resources.Producto</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var template in ViewBag.Phytosanity_FlatListImpar)
                    {
                        <tr style="height:1.8em;">
                            <td class="text-center">@template.Cama</td>
                            <td class="tdFlat">@Html.Raw(@template.Cuadro1)</td>
                            <td class="tdFlat">@Html.Raw(@template.Cuadro2)</td>
                            <td class="tdFlat">@Html.Raw(@template.Cuadro3)</td>
                            <td class="tdFlat">@Html.Raw(@template.Cuadro4)</td>
                            <td class="tdFlat">@Html.Raw(@template.Cuadro5)</td>
                            <td>@template.Producto <span class="ww">@Html.Raw(@template.Fsiembra)</span></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
