﻿@using Resources;

<div id="Phytosanity_FlatADataTable">
    <div id="Phytosanity_FlatListADataTable" class="form-group row">
        <div id="resultsPhytosanity_FlatA">
            <table id="tablePhytosanity_FlatA" class="table-bordered  table-condensed table-hover tableFlat" style="font-size:0.8em; min-width: 90%;">
                <thead>
                    <tr>
                        <th style="text-align:center; background-color:#EEEEEE" colspan="7">@Resources.Tabla A</th>
                    </tr>
                    <tr>
                        <th class="text-center" style="width:28%;">@Resources.Producto</th>
                        <th class="text-center">5</th>
                        <th class="text-center">4</th>
                        <th class="text-center">3</th>
                        <th class="text-center">2</th>
                        <th class="text-center">1</th>
                        <th class="text-center">@Resources.Cama</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var template in ViewBag.Phytosanity_FlatListA)
                    {
                        <tr style="height:1.8em;">
                            <td>@template.Producto <span class="ww">@Html.Raw(@template.Fsiembra)</span></td>
                            <td class="tdFlat">@Html.Raw(@template.Cuadro5)</td>
                            <td class="tdFlat">@Html.Raw(@template.Cuadro4)</td>
                            <td class="tdFlat">@Html.Raw(@template.Cuadro3)</td>
                            <td class="tdFlat">@Html.Raw(@template.Cuadro2)</td>
                            <td class="tdFlat">@Html.Raw(@template.Cuadro1)</td>
                            <td class="text-center">@template.Cama</td>
                        </tr>
                     }
                </tbody>
            </table>
        </div>
    </div>
</div>
