﻿@using Resources;



<div id="resultsGeneratedLabels">
    <table id="tableGeneratedLabels" class="frozen_alert table table-bordered table-striped table-condensed table-hover ">
        <thead>
            <tr>
                <th class="text-center">Generadas</th>
                <th class="text-center">Ingresadas</th>
                <th class="text-center">Semana</th>
                <th class="text-center">Cama</th>
                <th class="text-center">Producto</th>
                <th class="text-center">Cantidad</th>
                <th class="text-center">Presentación</th>
                <th class="text-center">Unidades de Negocios</th>                
            </tr>
        </thead>
        <tbody>
            @foreach (var template in ViewBag.GeneratedLabels_List)
            {
            <tr>
                <td>@template.EtiquetasGeneradas</td>
                <td>@template.EtiquetasIngresadas</td>
                <td>@template.Semana</td>
                <td>@template.Cama</td>
                <td>@template.Producto</td>
                <td>@template.CantidadTallos</td>
                <td>@template.Presentacion</td>
                <td>@template.IDUnidadesNegociosNombre</td>

            </tr>
            }
        </tbody>
    </table>
</div>






