﻿@using Resources;
@using Planner.Model;


@{
    ViewBag.Title = Resources.EtiquetasGeneradas;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/GeneratedLabels/GeneratedLabels.js"></script>

<div class="btn-group">
    <button id="btnSearch" name="btnSearch" class="btn btn-warning waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.Buscar" onclick='Search()'>
        <i class="fa fa-search"></i>
    </button>
    <button id="dataExport" name="dataExport" class="btn btn-success waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="@Resources.ExportarExcel">
        <i class="fa fa-file-excel-o"></i>
    </button>
</div>
<div class="Planner_Separator">
</div>


<div class="box box-success">
    <div class="box-body">
        <div class="col-xs-12 col-sm-2 col-md-2">
            <label for="startDate">@Resources.FechaInicial</label>
            @Html.TextBox("startDate", null, new { @class = "form-control", @id = "startDate" })
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2">
            <label for="endDate">@Resources.FechaFinal</label>
            @Html.TextBox("endDate", null, new { @class = "form-control", @id = "endDate" })
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <label for="ddlBusinessUnit">@Resources.UnidadDeNegocio</label>
            <div class="controls">
                @* @Html.DropDownList("ddlBusinessUnit", ViewData["lstBusinessUnit"] as SelectList, null, new { @class = "form-control", @style = "width:100%; max-width:100%" })*@
                @Html.DropDownList("lstCentrosOperacion", ViewData["lstCentrosOperacion"] as SelectList, new { @class = "form-control select2", @style = "width:100%; max-width:100%" })
            </div>
        </div>
    </div>
</div>
<div class="box box-success">
    <div class="box-body">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="form-group">
                @Html.Partial("GeneratedLabels_List")
            </div>
        </div>
    </div>
</div>

