﻿@using Resources;

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

<div id="SensorDataTable" class="form-group row">
    <div class="col-xs-12 col-sm-12 col-md-4">
        <div id="resultsSensor">
            <table id="tableSensor" class="frozen_alert table table-bordered table-striped table-condensed table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th>@Resources.IdSensor</th>
                        <th>@Resources.Fecha</th>
                        <th>@Resources.TipoDato</th>
                        <th>@Resources.Valor</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var data in ViewBag.SensorData)
                    {
                        <tr>
                            <td>@data.DeviceId</td>
                            <td>@data.Time</td>
                            <td>@data.Value</td>
                            <td>@data.Data</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8">
        <div id="canvasDay">
            <canvas class="col-xs-12 col-sm-12 col-md-12" id="chartWeatherSensor"></canvas>
        </div>
    </div>
</div>